<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
	<include file="Common:breadcrumb" />
	<div id="page-inner" class="container">
        <div class="search-form">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <label>中心编号：</label>
                    <input type="text" class="form-control input-sm" name="centreno" value="{$centreno}" />

                    开始时间：<input type="text" readonly class="form-control f-datetime input-sm" name="begin_time" value="{$begin_time}"> 结束时间<input type="text" readonly class="form-control f-datetime input-sm" name="end_time" value="{$end_time}" />
                    排序规则：<select class="form-control input-sm" name="sortby">
                        <option value="1" <php>if($sortby==1){echo 'selected';}</php>>盖章日期</option>
                        <option value="2" <php>if($sortby==2){echo 'selected';}</php>>来样日期</option>
                    </select>
                    分部门查询：<select class="form-control input-sm" name="searchby">
                    <option value="1" <php>if($searchby==1){echo 'selected';}</php>>A部门</option>
                    <option value="2" <php>if($searchby==2){echo 'selected';}</php>>B部门</option>
                    <option value="3" <php>if($searchby==3){echo 'selected';}</php>>C部门</option>
                    <option value="4" <php>if($searchby==4){echo 'selected';}</php>>D部门</option>
                    <option value="5" <php>if($searchby==5){echo 'selected';}</php>>E部门</option>
                    <option value="6" <php>if($searchby==6){echo 'selected';}</php>>F部门</option>
                </select>
                </div>

                <button type="submit" class="btn btn-primary btn-sm" >查询</button>
            </form>
        </div>
      
		<table class="table table-bordered table-striped table-hover">
			<thead>
                <th>盖章日期</th>
                <th>中心编号</th>
                <th>委托单位</th>
                <th>生产单位</th>
                <th>样品名称</th>
                <th>检验依据</th>
                <th>检验内容及要求</th>
                <th>应收金额(元)</th>
                <th>A记录(元)</th>
                <th>B记录(元)</th>
                <th>C记录(元)</th>
                <th>D记录(元)</th>
                <th>E记录(元)</th>
                <th>F记录(元)</th>
                <th>副本(元)</th>
                <th>上网费(元)</th>
                <th>项目修改(元)</th>
                <th>其它(元)</th>
                <th>来样日期</th>
                <th>收样人</th>			
			</thead>
			<tbody>
                <tr>
                <td colspan="7">小计
                </td>
                <td>{$sum.testcost|floatval}</td>
                <td>{$sum.arecord|floatval}</td>
                <td>{$sum.brecord|floatval}</td>
                <td>{$sum.crecord|floatval}</td>
                <td>{$sum.drecord|floatval}</td>
                <td>{$sum.erecord|floatval}</td>
                <td>{$sum.frecord|floatval}</td>
                <td>{$sum.dcopy|floatval}</td>
                    <td>{$sum.donline|floatval}</td>
                <td>{$sum.drevise|floatval}</td>
                <td>{$sum.dother|floatval}</td>
                <td colspan="2"></td>
                </tr>
			<volist name="lists" id="one">
				<tr>
					<td>{$one.inner_sign_time|strtotime|date='Y年m月d日',###}</td>
                    <td>{$one.centreno}</td>
                    <td>{$one.clientname}</td>
                    <td>{$one.productunit}</td>
                    <td>{$one.samplename}</td>
                    <td>{$one.testcriteria}</td>
                    <td>{$one.testitem}</td>
                    <td>{$one.testcost|floatval}</td>
                    <td>{$one.rarecord|floatval}</td>
                    <td>{$one.rbrecord|floatval}</td>
                    <td>{$one.rcrecord|floatval}</td>
                    <td>{$one.rdrecord|floatval}</td>
                    <td>{$one.rerecord|floatval}</td>
                    <td>{$one.rfrecord|floatval}</td>
                    <td>{$one.dcopy|floatval}</td>
                    <td>{$one.donline}</td>
                    <td>{$one.drevise|floatval}</td>
                    <td>{$one.dother|floatval}</td>
                    <td>{$one.collectdate|strtotime|date='Y年m月d日',###}</td>
                    <td>{$one.collector}</td>
				</tr>
			</volist>
			</tbody>
		</table>
		<div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
	</div>
</div>
</div>
<script type="text/javascript">
$('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,  autoclose:true });
</script>
<include file="Common:footer" />