<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
	<include file="Common:breadcrumb" />
	<div id="page-inner" class="container">
        <div class="search-form">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <label>中心编号：</label>
                    <input type="text" class="form-control input-sm" name="centreno" value="{$centreno}" />

                    开始时间：<input type="text" readonly class="form-control f-datetime input-sm" name="begin_time" value="{$begin_time}"> 结束时间<input type="text" readonly class="form-control f-datetime input-sm" name="end_time" value="{$end_time}" />
                    排序规则：<select class="form-control input-sm" name="sortby">
                        <option value="1" <php>if($sortby==1){echo 'selected';}</php>>盖章日期</option>
                        <option value="2" <php>if($sortby==2){echo 'selected';}</php>>来样日期</option>
                    </select>
                    分部门查询：<select class="form-control input-sm" name="searchby">
                    <option value="0" <php>if($searchby==0){echo 'selected';}</php>>请选择</option>
                    <option value="1" <php>if($searchby==1){echo 'selected';}</php>>A部门</option>
                    <option value="2" <php>if($searchby==2){echo 'selected';}</php>>B部门</option>
                    <option value="3" <php>if($searchby==3){echo 'selected';}</php>>C部门</option>
                    <option value="4" <php>if($searchby==4){echo 'selected';}</php>>D部门</option>
                    <option value="5" <php>if($searchby==5){echo 'selected';}</php>>E部门</option>
                    <option value="6" <php>if($searchby==6){echo 'selected';}</php>>F部门</option>
                </select>
                </div>

                <button type="submit" class="btn btn-primary btn-sm" >查询</button>
            </form>
        </div>
      
		<table class="table table-bordered table-striped table-hover" >
			<thead>
                <th width="7%">盖章日期</th>
                <th width="10%">中心编号</th>
                <th width="5%">详情</th>
                <th width="7%">应收金额(元)</th>
                <th width="6%">A记录(元)</th>
                <th width="6%">B记录(元)</th>
                <th width="6%">C记录(元)</th>
                <th width="6%">D记录(元)</th>
                <th width="6%">E记录(元)</th>
                <th width="6%">F记录(元)</th>
                <th width="5%">副本(元)</th>
                <th width="6%">上网费(元)</th>
                <th width="7%">项目修改(元)</th>
                <th width="5%">其它(元)</th>
                <th>来样日期</th>
                <th width="6%">收样人</th>
			</thead>
			<tbody>
                <tr>
                <td colspan="3">小计
                </td>
                <td>{$sum.testcost|floatval}</td>
                <td>{$sum.arecord|floatval}</td>
                <td>{$sum.brecord|floatval}</td>
                <td>{$sum.crecord|floatval}</td>
                <td>{$sum.drecord|floatval}</td>
                <td>{$sum.erecord|floatval}</td>
                <td>{$sum.frecord|floatval}</td>
                <td>{$sum.dcopy|floatval}</td>
                    <td>{$sum.donline|floatval}</td>
                <td>{$sum.drevise|floatval}</td>
                <td>{$sum.dother|floatval}</td>
                <td colspan="2"></td>
                </tr>
			<volist name="lists" id="one">
				<tr>
					<td>{$one.inner_sign_time|strtotime|date='Y年m月d日',###}</td>
                    <td><if condition="$one[centreno1] or $one[centreno2] or $one[centreno3]">
                        <span style="color: red"><i class="glyphicon glyphicon-star">{$one.centreno}</i></span><else />
                    <span>{$one.centreno}</span></if></td>
                    <td><button class="btn btn-info btn-xs" onclick="details('{$one.centreno}','{$one.clientname}','{$one.productunit}','{$one.samplename}','{$one.testcriteria}','{$one.testitem}')">详情</button></td>
                    <td>{$one.testcost|floatval}</td>
                    <td>{$one.rarecord|floatval}</td>
                    <td>{$one.rbrecord|floatval}</td>
                    <td>{$one.rcrecord|floatval}</td>
                    <td>{$one.rdrecord|floatval}</td>
                    <td>{$one.rerecord|floatval}</td>
                    <td>{$one.rfrecord|floatval}</td>
                    <td>{$one.dcopy|floatval}</td>
                    <td>{$one.donline}</td>
                    <td>{$one.drevise|floatval}</td>
                    <td>{$one.dother|floatval}</td>
                    <td>{$one.collectdate|strtotime|date='Y年m月d日',###}</td>
                    <td>{$one.collector}</td>
				</tr>
			</volist>
			</tbody>
		</table>
        <div class=" pull-left"><i class="glyphicon glyphicon-star" style="color: red">代表合同有变更</i></div>
		<div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
	</div>
</div>

<!-- 模态框（Modal) -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createModalLabel" name="detail">详情</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">委托单位</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" name="clientname"  value=""/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">生产单位</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" name="productunit"  value=""/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">样品名称</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" name="samplename"  value=""/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">检验依据</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" name="testcriteria"  value=""/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">检验项目</label>
                        <div class="col-sm-7">
                            <textarea type="text" readonly class="form-control" name="testitem"  value="" ></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
$('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,  autoclose:true });
$("th").addClass("text-center");
function details(centreno,clientname,productunit,samplename,testcriteria,testitem) {
    var modal = $("#detailModal");
    modal.find("input[name='clientname']").val(clientname);
    modal.find("input[name='productunit']").val(productunit);
    modal.find("input[name='samplename']").val(samplename);
    modal.find("input[name='testcriteria']").val(testcriteria);
    modal.find("textarea[name='testitem']").val(testitem);
    modal.modal();
}
</script>
<include file="Common:footer" />