<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
	<include file="Common:breadcrumb" />
	<div id="page-inner" class="container">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<th>序号</th>
					<th>缩略号</th>
					<th>备注</th>
					<th>操作</th>
				</thead>
				<tbody>
					<volist name="lists" id="one">
					   <tr>
					   		<td>{$one.id}</td>
					   		<td><img src="{$one.offcial_seal}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="width: 90px;" /></td>
					   		<td>{$one.remark}</td>
					   		<td>
					   			<a href="{:U('/admin/other/stamp')}?id={$one.id}" class="btn btn-primary btn-xs" class="glyphicon glyphicon-pencil">修改</a>
					   		</td>
					   </tr>
					</volist>
				</tbody>
			</table>
			<div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
		</div>
	</div>
</div>

<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
$(document).on("click","input[name='super_admin']",function(){
	var val = $(this).val();
	if(val==1){
		$("#rolegroup").hide();
	}else{
		$("#rolegroup").show();
	}
});
function addAdminUser(){
	var modal = $("#editModal");
	modal.find("input[name='modid']").val(0);
	modal.modal();
}
function editAdminUser(id){
	var modal = $("#editModal");
	if(typeof id=='undefined') return;
	
	$.ajax({
		type:"post",
		url:"{:U('/admin/auth/getAdminUser')}",
		dataType:"json",
		data:{"id":id},
		success:function(ret){
			if(ret.msg=='succ'){
				var info = ret.info;
				if(info){
					modal.find("input[name='modid']").val(info.id);
					modal.find("input[name='username']").val(info.username);
					modal.find("input[name='status'][value="+info.status+"]").prop('checked',true);
					modal.find("input[name='super_admin'][value="+info.super_admin+"]").prop('checked',true);
					if(info.super_admin==1){
						$("#rolegroup").hide();
					}else{
						$("#rolegroup").show();
					}
					if(info.gid){
						modal.find("select[name='gid']").val(info.gid);
					}
					
				}				
				modal.modal();
			}
		}
	});
}
function doAddAdminUser(){
	var options = {
    	url: "{:U('/admin/auth/doAddAdmin')}",
    	dataType: 'json',
    	beforeSubmit: function(){
			return true;
    	},
        success: function (data) {
        	if(data.msg=='succ'){
        		var _options = {"text":"修改成功！","action":function(){window.location.reload();}};
                doAlertDialog(_options);
        	}else{
        		var _options = {"text":"修改失败！"};
        		if(data.msg) _options.text = data.msg;
        		doAlertDialog(_options);
        	}
        }
    };
    $("#myform").ajaxForm(options);
    return false;
}

</script>
<include file="Common:footer" />