@charset "UTF-8";
/*全局加载动画*/
.xui-loading-icon{
	position:absolute;
	z-index:9999;
	left:45%;
	top:45%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	border: solid 0.2rem transparent;
	border-top: solid 0.2rem #000;
	border-left: solid 0.2rem #000;
	border-radius:100%;
	width:1.4rem;
	height:1.4rem;
}
.xui-loading{
	animation:loading 0.8s linear infinite;
	-webkit-animation:loading 0.8s linear infinite;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
  	}
  	100% {
		transform: rotate(360deg);
  	}
}
@-webkit-keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
  	}
  	100% {
		-webkit-transform: rotate(360deg);
  	}
}
