<include file="Common:header" title="后台首页"/>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>


<link data-jsfiddle="common" rel="stylesheet" media="screen" href="__PUBLIC__/static/handsontable/handsontable.css">
<link data-jsfiddle="common" rel="stylesheet" media="screen" href="__PUBLIC__/static/handsontable/pikaday/pikaday.css">
<script data-jsfiddle="common" src="__PUBLIC__/static/handsontable/pikaday/pikaday.js"></script>
<script data-jsfiddle="common" src="__PUBLIC__/static/handsontable/moment/moment.js"></script>
<script data-jsfiddle="common" src="__PUBLIC__/static/handsontable/numbro/numbro.js"></script>
<script data-jsfiddle="common" src="__PUBLIC__/static/handsontable/numbro/languages.js"></script>
<script data-jsfiddle="common" src="__PUBLIC__/static/handsontable/handsontable.js"></script>

<!--
Loading demo dependencies. They are used here only to enhance the examples on this page
-->
<!--
<link data-jsfiddle="common" rel="stylesheet" media="screen" href="css/samples.css">
<script src="js/samples.js"></script>
<script src="js/highlight/highlight.pack.js"></script>
<link rel="stylesheet" media="screen" href="js/highlight/styles/github.css">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
-->


<div id="page-wrapper">
	<include file="Common:breadcrumb" />
	<div id="page-inner" class="container">
			<div id="example1"></div>
			<button onclick="onSave()" class="btn btn-primary">保存</button>
			<script data-jsfiddle="example1">
            var container = document.getElementById('example1'),
              hot;

            hot = new Handsontable(container, {
              data: Handsontable.helper.createSpreadsheetData(10, 16),
              colWidths: [55, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47], // can also be a number or a function
              rowHeaders: true,
              colHeaders: true,
              contextMenu: true,
              mergeCells: [
                {row: 1, col: 1, rowspan: 3, colspan: 3},
                {row: 3, col: 4, rowspan: 2, colspan: 2}
              ]
            });


            function onSave(){
            	alert($("#example1").html());
            }
          </script>
	</div>
</div>
<include file="Common:footer" />
