<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员登录</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/bootstrap-3.3.5.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/jquery-confirm.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/style-append.css" />
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-confirm.min.js" charset="UTF-8"></script>
	<script src="__PUBLIC__/static/js/jquery.form.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/core.min.js" charset="UTF-8"></script>
</head>
<body>
<div class="loginbox">
<!--<img class="top" src="__PUBLIC__/static/images/logo_company.png"/>
<p class="top_txt">（国家）</p>-->
<table  class="top">
    <tr>
        <td class="top_pic" rowspan="2"><img src="__PUBLIC__/static/images/logo_company.png"/></td>
        <td class="middle"><span class="top_one_txt">(国家)建&nbsp;筑&nbsp;材&nbsp;料&nbsp;工&nbsp;业&nbsp;技&nbsp;术&nbsp;监&nbsp;督&nbsp;研&nbsp;究&nbsp;中&nbsp;心</span></td>
		<td rowspan="2"><span class="top_three_txt">网络管理系统</span></td>
    </tr>
    <tr>
        <td class="middle"><span class="top_two_txt">建筑材料工业干混砂浆产品质量监督检验测试中心</span></td>
    </tr>
	<!--<tr>-->
		<!--<td rowspan="2"><span class="top_two_txt">网络管理系统</span></td>-->
	<!--</tr>-->
</table>
	<div class="bg">
		<div class="container">
				<div class="box">
					<div class="loginbg"></div>
					<div class="loginform">
						<form class="form-horizontal" id="myform" action="" method="post">
						<label>管理员登录</label>
						<div class="errcode"></div>
						<div class="cl">
						  <input type="text"  name="username" placeholder="登录账号" />
						</div>
						<div class="cl">
						<input type="password"  name="password" placeholder="登录密码" />
						</div>
						<div class="cl">
						  <input type="text"  name="yzm"  placeholder="验证码" id='yzm' />
						  <img id="yzm_imgage"   style="cursor:pointer"  title="点击更换验证码" alt="点击更换验证码" src="{:U('/admin/Account/yzmCode')}" onClick="javascript:this.src='{:U('/admin/Account/yzmCode')}?'+Math.random()">
<div class="clearfix"></div>
						</div>
						<button class="btn btn-primary btn-sm btn-block" type="submit" onclick="login()" id="ajaxlogin">登录</button>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>
<div class="text-center text-info padding-b-15 padding-t-15">Powered By KooTeng科技</div>
<script type="text/javascript">
	function login(){
		var options = {
	    	url: "{:U('/admin/account/doLogin')}",
	    	dataType: 'json',
	    	beforeSubmit: function(){
				return true;
	    	},
	        success: function (data) {
	        	if(data.msg=='succ'){
	        		window.location.reload();
	        	}else{
	        		var _options = {"text":"登录失败！"};
	        		if(data.msg) _options.text = data.msg;
	        		$("#yzm_imgage").trigger("click");
	        		doAlertDialog(_options);
	        	}
	        }
	    };
	    $("#myform").ajaxForm(options);
	    return false;
	}	
</script>
</body>
</html>