/**
 * 自定义后台样式，基于bootstrap/sui框架
 * @Author   xc@yujia.com
 * @DateTime 2017-05-18T14:30:48+0800
*/
ul,li{list-style:none;}
/*头部栏目*/
.navbar{position:fixed;width:100%;z-index:300;margin:0px;background:#1cc09f;border-bottom:none;min-height: 42px;border-radius:0px;border:0px solid black;
    -webkit-box-shadow:0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow:0 3px 3px rgba(0, 0, 0, 0.05);
}
.navbar .navbar-header{float:left;}
.navbar .navbar-brand{width:110px;height:42px;font-weight:700;color:#fff;float:left;padding:15px;box-sizing:border-box;}
.navbar .navbar-brand img{height:100%;width:auto;float:left;margin-right:10px;}
.navbar .nav{margin-right:0;float:right;height:42px;width:80px;}

.navbar .nav .sui-dropdown{position:relative;display:inline-block;margin:0px;padding:0px;}
.navbar .nav .sui-dropdown em{position:relative;display:block;padding:11px;color:#FFF;font-style:normal;cursor:pointer;}
.navbar .nav .sui-dropdown em i{margin-right:2px;color:#FFF;}
.navbar .nav .sui-dropdown .sui-dropdown-menu{min-width:160px;border-radius:0 0 4px 4px;right:0;}
.navbar .nav .sui-dropdown .sui-dropdown-menu a{padding:10px 20px;}
.navbar .nav .sui-dropdown .sui-dropdown-menu a:hover,
.navbar .nav .sui-dropdown .sui-dropdown-menu a:focus{color:#225081;background:none;}
/*左侧菜单*/
.navbar-side{width:90px;position:fixed;top:43px;background:rgb(40, 54, 67);z-index:1;border:none;line-height:32px;height: 100%;}
ul.nav.nav-second-level{position:absolute;top:0;bottom:0;left:90px;width:90px;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: #fff;}

.nav-second-level .second-sidebar-title {
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
}
.navbar-side .nav > li > a > i{color:#1CC09F;padding:4px;width:30px;text-align:center;}
.sidebar-collapse > .nav > li{border-bottom:1px solid rgba(107, 108, 109, 0.19);line-height:22px;}
.sidebar-collapse > .nav > li > a{padding:15px 0px 15px 10px;display:block;}
.sidebar-collapse .nav > li > a{color:#B5B5B5;background:transparent;text-shadow:none;display:block;}
.sidebar-collapse .nav > li > a span{float:right;font-size:10px;margin-right:10px;}


/*箭头旋转*/
.sui-icon.icon-angle-left:before{content:'\e6e8';}
.active > a > .sui-icon.icon-angle-left:before{content:'\e6eb';}
.active-menu{background-color:#1cc09f !important;color:#fff !important;}
.active-menu i{color:#fff !important;}
ul.nav-second-level li,
ul.nav-third-level li{line-height:24px;border-bottom:none !important;}
ul.nav-second-level li a{padding:10px 0 10px 20px;font-size:13px;}
ul.nav-second-level li a.active-menu{background:#dbdbdb !important;color:#666 !important;}
ul.nav-third-level li a{padding-left:55px;}
ul.nav.nav-second-level.collapse.in{background:#17191B;}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus{outline:0;}
/*内容部分*/
#page-wrapper{background:#f3f3f3;position:relative;top:41px;margin:0 0 0 180px;padding:15px 30px;min-height:1100px;}
#page-inner{width:100%;margin:10px 20px 10px 0px;background-color:transparent;padding:10px;min-height:1000px;}
.rightControl{position:absolute;width:600px;height:45px;right:0;top:0;padding:0px;}

/*分页*/
.pagination{display:table;margin:20px auto;border-radius:4px;}
.pagination>li{display: inline;}
.pagination>li:first-child>a,
.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd;}
.pagination>li>a,
.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#1cc09f;
    text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#1cc09f;border-color:#1cc09f;}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover{z-index:2;color:#00856a;background-color:#eee;border-color:#ddd;}
.pagination>li>a,
.pagination>li>span{position:relative;float:left;padding: 6px 12px;margin-left:-1px;line-height:1.42857143;color:#1cc09f;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.pagination>li:last-child>a,
.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px;}



input[type="checkbox"]{width:16px;height:16px;}
/*自定义容器*/
.xui-content{display:table;width:100%;height:auto;box-sizing:border-box;}
.xui-content-padded{display:table;width:100%;height:auto;padding:15px;box-sizing:border-box;}
/*边线*/
.xui-border{border:1px solid #ddd;}
.xui-border-l{border-left:1px solid #ddd;}
.xui-border-r{border-right:1px solid #ddd;}
.xui-border-t{border-right:1px solid #ddd;}
.xui-border-b{border-right:1px solid #ddd;}

/**
 * 常用背景颜色
 */
.xui-bg-black {background-color: #111111 !important;}
.xui-bg-gray {background-color: #999999 !important;}
.xui-bg-gray-thin {background-color: #cbcbcb !important;}
.xui-bg-white {background-color: #ffffff !important;}
.xui-bg-blue {background-color: #00bcd4 !important;}
.xui-bg-green {background-color: #4dc060 !important;}
.xui-bg-yellow {background-color: #ffc107 !important;}
.xui-bg-orange {background-color: #ff6600 !important;}
.xui-bg-red {background-color: #e51c23 !important;}

/*外边距*/
.xui-margin-0{margin:0px !important;}
.xui-margin-5{margin:5px !important;}
.xui-margin-10{margin:10px !important;}
.xui-margin-15{margin:15px !important;}
.xui-margin-l-0{margin-left:0px !important;}
.xui-margin-l-5{margin-left:5px !important;}
.xui-margin-l-10{margin-left:10px !important;}
.xui-margin-l-15{margin-left:15px !important;}
.xui-margin-t-0{margin-top:0px !important;}
.xui-margin-t-5{margin-top:5px !important;}
.xui-margin-t-10{margin-top:10px !important;}
.xui-margin-t-15{margin-top:15px !important;}
.xui-margin-r-0{margin-right:0px !important;}
.xui-margin-r-5{margin-right:5px !important;}
.xui-margin-r-10{margin-right:10px !important;}
.xui-margin-r-15{margin-right:15px !important;}
.xui-margin-b-0{margin-bottom:0px !important;}
.xui-margin-b-5{margin-bottom:15px !important;}
.xui-margin-b-10{margin-bottom:10px !important;}
.xui-margin-b-15{margin-bottom:15px !important;}
/*内边距*/
.xui-padded-0{padding:0px !important;}
.xui-padded-5{padding:5px !important;}
.xui-padded-10{padding:10px !important;}
.xui-padded-15{padding:15px !important;}
.xui-padded-l-0{padding-left:0px !important;}
.xui-padded-l-5{padding-left:5px !important;}
.xui-padded-l-10{padding-left:10px !important;}
.xui-padded-l-15{padding-left:15px !important;}
.xui-padded-t-0{padding-top:0px !important;}
.xui-padded-t-5{padding-top:5px !important;}
.xui-padded-t-10{padding-top:10px !important;}
.xui-padded-t-15{padding-top:15px !important;}
.xui-padded-r-0{padding-right:0px !important;}
.xui-padded-r-5{padding-right:5px !important;}
.xui-padded-r-10{padding-right:10px !important;}
.xui-padded-r-15{padding-right:15px !important;}
.xui-padded-b-0{padding-bottom:0px !important;}
.xui-padded-b-5{padding-bottom:5px !important;}
.xui-padded-b-10{padding-bottom:10px !important;}
.xui-padded-b-15{padding-bottom:15px !important;}
/*字体颜色*/
.xui-text-gary{color:#999 !important;}
.xui-text-white{color:#ffffff !important;}
/*字体偏移*/
.xui-text-center{text-align:center !important;}
.xui-text-left{text-align:left !important;}
.xui-text-right{text-align:right !important;}
/*字号调整*/
.xui-font-size-12{font-size:12px !important;}
.xui-font-size-14{font-size:14px !important;}
.xui-font-size-16{font-size:16px !important;}
.xui-font-size-18{font-size:18px !important;}
/*层级操控*/
.xui-hide{display:none;}
.xui-show{display:show;}
.xui-visbHide{visibility:hidden;}
.xui-visbShow{visibility:visible;}
/*浮动设置*/
.xui-pull-l{float:left !important;}
.xui-pull-r{float:right !important;}
/*xui-flex布局*/
.xui-flex-content{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;}
.xui-flex-l{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;background-color:#f8f8f8;border-right:2px solid #fff;border-bottom:5px solid #fff;text-align:center;font-size:14px;font-weight:bold;}
.xui-flex-r{-webkit-box-flex:7;-webkit-flex:7;-moz-box-flex:7;-ms-flex:7;flex:7;background-color:#f8f8f8;border-bottom:5px solid #fff;font-size:12px;}
.xui-flow-h{overflow: hidden;}
