<include file="Common:header"/>
<style type="text/css">html,body{background:#FFFFFF;}</style>
<!--新增页面-->
<form action="" id="myform" method="post" onSubmit="return check();">
<div class="aui-content ">

    <ul class="aui-list aui-form-list ">
 
        <li class="aui-list-item">
            <div class="aui-list-item-inner">

                <div class="aui-list-item-label aui-padded-l-15">
                    部门
                </div>
                <div class="aui-list-item-input">
                    <select name="department">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
        </li>
 
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label aui-padded-l-15">
                    年份
                </div>
                <div class="aui-list-item-input">
                    <input type="text" id="year" name="year"  placeholder="请输入" >
                </div>
            </div>
        </li> 
		
		  <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label aui-padded-l-15">
                    月
                </div>
                <div class="aui-list-item-input">
                    <select  name="month">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
						<option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
						<option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
						<option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
        </li>
		
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label aui-padded-l-15">
                    数量
                </div>
                <div class="aui-list-item-input">
                    <input type="text" id="getNum" name="getNum" placeholder="请输入">
                </div>
            </div>
        </li> 		               

        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label aui-padded-l-15">
                    备注：
                </div>
                <div class="aui-list-item-input">
                    <textarea name="remark" placeholder="请输入" ></textarea>
                </div>
            </div>
    </ul>

</div>
 <div class="aui-margin-15">
    <button type="submit" onclick="doaddspecicalcode()" class="aui-btn aui-btn-block aui-btn-outlined aui-btn-outlined2 aui-btn-sm ">保存</button>
</div>
</form>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/wx/script/aui-dialog.js" ></script>
<script type="text/javascript">
    //新增特殊编号
    function doaddspecicalcode(){
        var options = {
            url: "{:U('/contract/addsp')}",
            dataType: 'json',
            success: function (rs) {
            if(rs.msg=='succ' && check()==true){
                var dialog = new auiDialog();
                dialog.alert({
                    title:"提示",
                    msg:'保存成功',
                    buttons:['确定']
                },function(ret){
                    //console.log(ret)
                    window.location.href="/contract/specialCodeList";
                })
            }else{
                var dialog = new auiDialog();
                dialog.alert({
                    title:"提示",
                    msg:'保存失败',
                    buttons:['确定']
                },function(ret){
                    //console.log(ret)
                    window.location.reload();
                })
            }
        }
    };
        $("#myform").ajaxForm(options);
        return false;
    }


    function check() {
        var a = /^(\d{4})$/;
        var b = /^[0-9]*[1-9][0-9]*$/;  //正整数
        var f = false;
        if (!a.test(document.getElementById("year").value) || !b.test(document.getElementById("getNum").value)) {
            f = false;

            var dialog = new auiDialog();
            dialog.alert({
                title:"提示",
                msg:'年份或数量输入有误，请重新输入',
                buttons:['确定']
            },function(ret){
                //window.location.href="/contract/add";
            });
        }
        else {
            f = true;
        }
        return f;
    }

</script>
<include file="Common:footer" />
