<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wap/css/aui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wap/css/aui-append.css" />
<script type="text/javascript" src="__PUBLIC__/wap/script/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/wap/script/jquery.form.js"></script>
<!--end -->
</head>
<body>
<!-- <header class="aui-bar aui-bar-nav aui-font-size-12">我的控制台</header> -->
<php>if(session('admin_auth')){</php>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn aui-font-size-12" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title aui-font-size-14"> 新增</div>
	 
	     <a class="aui-pull-right aui-btn" href="{:U('account/logout')}">
        <span class="aui-iconfont aui-icon-my aui-font-size-12">退出登录</span>
    </a>
</header>
<php>}else{</php>

<php>}</php>


<div class="aui-padded-15 aui-background-white">
<div class="aui-list-item-label">
<form action="" method="post" >
             		<label class="aui-label">部门</label>
				    <div class="aui-margin-r-15 aui-margin-l-15 aui-margin-b-15">
				    	<select class="aui-border-b " >
				    		<option value="A" selected="selected" >&nbsp;&nbsp;A</option>
							<option value="B">B</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
				    	</select>
				    </div>
					<label class="aui-label aui-margin-r-15 5 aui-margin-t-15">年</label>
				
					<input type="text" class="aui-input aui-border aui-margin-r-15  aui-margin-b-15" value="" />
			
					<label class="aui-label ">月</label>
				<div class="aui-margin-r-15 aui-margin-l-15 aui-margin-b-15">
					<select class="aui-input aui-border-b ">
				    		<option value="1" selected="selected" >1</option>
							<option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
							<option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
							<option value="12">12</option>
				    	</select>
						</div>
											<label class="aui-label aui-margin-r-15 5 aui-margin-t-15 ">数量</label>
										
					<input type="text" class="aui-input aui-border aui-margin-r-15  aui-margin-b-15" value="" />
				
										<label class="aui-label aui-margin-r-15 5 aui-margin-t-15 ">备注</label>
									
					<input type="text" class="aui-input aui-border aui-margin-r-15  " value="" />
					
</form>					
  </div>  
</div>  
 <div class="aui-padded-10">
    <a class="aui-btn aui-btn-primary aui-btn-block aui-btn-outlined aui-btn-sm" >保存</a>
</div>


<include file="Common:footer" />
