<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wap/css/aui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wap/css/aui-append.css" />
<script type="text/javascript" src="__PUBLIC__/wap/script/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/wap/script/jquery.form.js"></script>
<!--end -->
</head>
<body>
<!-- <header class="aui-bar aui-bar-nav aui-font-size-12">我的控制台</header> -->
<php>if(session('admin_auth')){</php>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn aui-font-size-12" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title aui-font-size-14"> 详情</div>
	 
</header>
<php>}else{</php>

<php>}</php>

<div class="aui-content aui-margin-b-15" >	
    <div class="aui-list aui-media-list">
        <div class="aui-list-item aui-list-item-arrow">
		            <div class="aui-media-list-item-inner">
                
		<table width="100%" border="1px" bordercolor="#000000" cellspacing="0px" style="border-collapse:collapse"">
		<caption>(国家)建筑材料工业技术监督研究中心</caption>
		<caption>抽样单 <div class="aui-list-item-text">
                        <div class="aui-list-item-media">SJ－4－25 </div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div></caption>
					   </div>
                    <div class="aui-list-item-text aui-ellipsis-2" >
  <tbody th class="aui-font-size-12 aui-text-center" >
  <tr >
    <td scope="row"><label>企业名称</label></td>
    <td colspan="3">xxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
  </tr>
  <tr>
    <td scope="row"><label>产品名称</label></td>
    <td colspan="3">&nbsp;&nbsp;</td>
  
  </tr>
  <tr>
    <td scope="row" width="25%"><label>规格型号</label></td>
    <td width="25%">xxxxxxxxxxxx</td>
    <td width="25%"><label>产品批号</label></td>
    <td width="25%">xxxxxxxxxxx</td>
  </tr>
  <tr>
    <td scope="row"><label>执行标准</label></td>
    <td>&nbsp;</td>
    <td><label>产品商标</label></td>
    <td>xxxxxxxxxxxxxxxxxx</td>
  </tr>
  <tr>
    <td scope="row"><label>抽样数量</label></td>
    <td>xxxx</td>
    <td><label>抽样基数</label></td>
    <td>xxxxxxxxxxxxxxxxx</td>
  </tr>
  <tr>
    <td scope="row"><label>抽样日期</label></td>
    <td>&nbsp;</td>
    <td><label>生产日期</label></td>
    <td></td>
  </tr>
  <tr>
    <td scope="row"><label>抽样地点</label></td>
    <td>&nbsp;</td>
    <td><label>封样方式</label></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td scope="row"><label>检验内容</label></td>
    <td colspan="3">&nbsp;</td>

  </tr>
  <tr>
    <td scope="row" width="25%" class="aui-text-left aui-padded-l-10 " >是否同意在网上发表</td>
    <td colspan="3"><label class="aui-margin-r-15"> 
          
                <div class="aui-list-item-media ">是 
                    <input type="checkbox" class="aui-checkbox " checked style="width: 0.75rem;height: 0.75rem">
					<div class="aui-list-item-media aui-margin-r-15">否 <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem"></div>
                </div>
               
               
           
        </label></td>

  </tr>
  <tr>
    <td width="25%">对于本中心不能检验的项目是否同意安排分包</th>
    <td colspan="3"><label class="aui-margin-r-15">   <div class="aui-list-item-media ">是 
                    <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem">
					<div class="aui-list-item-media aui-margin-r-15">否 <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem"></div>
                </div></label></td>
   
  </tr>
  <tr>
    <td  colspan="2">
	<div class="aui-text-left aui-padded-l-10 ">抽样人（签名）</div>
	<div class="aui-pull-right">年&nbsp;月&nbsp;日</div></td>
    <td colspan="2">
	<div class="aui-text-left aui-padded-l-10 ">封样人（签名）</div>
	<div class="aui-pull-right">年&nbsp;月&nbsp;日</div>
	</td>
  </tr>
  <tr>
    <td colspan="4">
	<label><div class="aui-text-left aui-padded-l-10 ">被抽检企业有关人员（签名）</div>
	<div >（单 位 盖 章）</div>
<div class="aui-pull-right">年&nbsp;月&nbsp;日</div></label>
</td>
  </tr>
  <tr>
    <td scope="row"><label>联系电话</label></td>
    <td>&nbsp;</td>
    <td><label>传   真</label></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td scope="row"><label>通讯地址</label></td>
    <td colspan="3">&nbsp;</td>

  </tr>
  <tr>
    <th scope="row" colspan="4">&nbsp;</th>

  </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>


<!--检验合同受理单-->


<div class="aui-content aui-margin-b-15" >	
    <div class="aui-list aui-media-list">
        <div class="aui-list-item aui-list-item-arrow">
		            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-title">
		<table width="100%" border="1px" bordercolor="#000000" cellspacing="0px" style="border-collapse:collapse"">
		<caption>(国家)建筑材料工业技术监督研究中心</caption>
		<caption>检验受理合同 <div class="aui-list-item-text">
                        <div class="aui-list-item-media">SJ－4－17   </div>
                    </div></caption>
  <tbody th class="aui-font-size-12 aui-text-center" >
  <tr >
    <td  colspan="7"><label>委托人填写</label></td>
  </tr>
  
  <tr>
    <td ><label>委托单位</label></td>
    <td colspan="6">&nbsp;&nbsp;</td>
  </tr>
  
  <tr>
    <td  width="25%"><label>生产单位</label></td>
    <td colspan="6">xxxxxxxxxxxx</td>
  </tr>
  
  <tr>
    <td ><label>样品名称</label></td>
    <td colspan="2">&nbsp;</td>
    <td>样品编号</td>
    <td ></td>
	<td >等级</td>
	<td width="10%"></td>
  </tr>
  
  <tr>
    <td ><label>规格型号</label></td>
    <td  colspan="2">xxxx</td>
    <td ><label>商&nbsp;标</label></td>
    <td  colspan="3">xxxxxxxxxxxxxxxxx</td>
  </tr>
  
  <tr>
    <td>生产日期/批号</td>
    <td colspan="2">&nbsp;</td>
    <td><label>样品数量</label></td>
    <td colspan="3"></td>
  </tr>
  
  <tr>
    <td><label>样品状态</label></td>
    <td colspan="2">&nbsp;</td>
    <td><label>粉（料）水比</label></td>
    <td colspan="3">&nbsp;</td>
  </tr>
  
  <tr>
    <td ><label>检验依据</label></td>
    <td colspan="6">&nbsp;</td>
  </tr>
  
   <tr>
    <td ><label>检验项目</label></td>
    <td colspan="6">&nbsp;</td>
  </tr>
  
  <tr>
    <td >检验类别</td>
    <td colspan="6"><label > 
          
                <div class="aui-list-item-media  class="aui-text-center"">委托检验 
                    <input type="checkbox" class="aui-checkbox width=0.75rem height=0.75rem" checked style="width: 0.75rem;height: 0.75rem">
					<div class="aui-list-item-media aui-margin-r-15">抽样检验 <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem">
					<div class="aui-list-item-media aui-margin-r-15">型式检验 <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem">
					</div>
                </div>
        </label></td>
  </tr>
  
  <tr>
    <td colspan="5" width="20%">检验报告是否在本中心网站可查询真伪&nbsp;（www.dmtc.org.cn）</th>
    <td colspan="2"><label class="aui-margin-r-15">   <div class="aui-list-item-media ">是 
                    <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem">
					<div class="aui-list-item-media aui-margin-r-15">否 <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem"></div>
                </div></label></td>
  </tr>
  
  <tr>
    <td><label>报告提交方式</label></td>
    <td colspan="2">
	 <div class="aui-list-item-media ">自取 
                    <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem">
					<div class="aui-list-item-media aui-margin-r-15">邮寄<input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem">
                </div>
	</td>
	    <td colspan="2">是否同意分包</td>
    <td colspan="2"><label class="aui-margin-r-15">   <div class="aui-list-item-media ">是 
                    <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem">
					<div class="aui-list-item-media aui-margin-r-15">否 <input type="checkbox" class="aui-checkbox" checked style="width: 0.75rem;height: 0.75rem"></div>
                </div></label></td>
  </tr>

  
  <tr>
    <td width="10%">委托人（签字）</td>
	<td width="12%">&nbsp;</td>
	<td width="10%">联系电话</td>
    <td width="14%">&nbsp;</td>
    <td width="10%"><label>传   真</label></td>
    <td  colspan="2" width="20%">&nbsp;</td>
  </tr>
  
 <tr>
    <td><label>邮政编码</label></td>
	<td>&nbsp;</td>
	<td><label>E-mail</label></td>
    <td  colspan="4">&nbsp;</td>
  </tr>
  
  <tr>
    <td ><label>通讯地址</label></td>
    <td colspan="6">&nbsp;</td>
  </tr>
  
    <tr >
    <td ><label>备&nbsp;&nbsp;注</label></td>
    <td colspan="6" >&nbsp;</td>
  </tr>
  
    <tr>
    <td colspan="7" ><label>中 心 办 公 室 填 写</label></td>
  </tr> 
  
  <tr>
    <td>样品状态及数量</td>
    <td colspan="2"  width="30%">xxxxxxxxxxxx</td>
	 <td scope="row"><label>收 样 人</label></td>
    <td colspan="3" width="30%">xxxxxxxxxxxx</td>
  </tr>
  
  <tr>
    <td scope="row"><label>中心编号</label></td>
    <td colspan="2" >xxxxxxxxxxxx</td>
	 <td scope="row"><label>检验费用</label></td>
    <td colspan="3" >xxxxxxxxxxxx</td>
  </tr>
  
    <tr>
    <td scope="row"><label>收样日期</label></td>
    <td colspan="2"  > <label>年&nbsp;&nbsp;月&nbsp;&nbsp;日</label></td>
	 <td scope="row"><label>报告日期</label></td>
    <td colspan="3" > <label>年&nbsp;&nbsp;月&nbsp;&nbsp;日</label></td>
  </tr>
  
  <tr>
    <td scope="row" rowspan="3"><label>说&nbsp;&nbsp;明</label></td>
    <td colspan="6" rowspan="3">
	<div class="aui-text-left">
	<div>1.委托人应对所提供的资料、信息和样品的真实性负责。</div>
<div>2.若对本单内容有变动，请委托方电话、邮件、传真通知受理人。</div>
<div>3.本中心仅对来样负责。</div>
<div>4.委托方要求取走剩余样品时，若在收到检验报告后一个月内未取回，且没有说明情况的，剩余样品由中心统一处理；样品取走后不再受理异议申诉。
</div></div></td>
  </tr>
  
  </tbody>

  
</table>
</div>
</div>
</div>
</div>
</div>
</div>
	</body>
</html>
