<include file="Common:header" title=""/>

<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn aui-font-size-12" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title aui-font-size-14">合同列表</div>
	 <a class="aui-padded-10">
    <a class="aui-pull-right aui-btn aui-btn-outlined" href="{:U('account/logout')}"><span class="aui-iconfont aui-icon-close "></span></a>
</a>
</header>
<!--以下是模板-->
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2039A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        委托单位：PHP
                        <br />
                        生产单位：从入门到放弃
                        <br />
                        品项：水泥
                        <br />
                        费用：490￥
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2040A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        委托单位：Java
                        <br />
                        生产单位：从精通到陌生
                        <br />
                        品项：水泥
                        <br />
                        费用：490￥
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2036A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        委托单位：C#
                        <br />
                        生产单位：从看懂到看开
                        <br />
                        品项：水泥
                        <br />
                        费用：490￥
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2023A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        委托单位：Dreamweaver
                        <br />
                        生产单位：从安装到放弃
                        <br />
                        品项：水泥
                        <br />
                        费用：490￥
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2023A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        委托单位：SQL server
                        <br />
                        生产单位：没入门就放弃
                        <br />
                        品项：水泥
                        <br />
                        费用：490￥
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="aui-padded-10">
    <a class="aui-btn aui-btn-primary aui-btn-block aui-btn-outlined aui-btn-sm" >更多</a>
</div>


<include file="Common:footer" />
