<include file="Common:header"/>
<!--以下是模板-->
<div class="aui-content ">
  <div class="">
		<div class="aui-card-list ">
        <div class="aui-card-list-content-padded aui-border-b aui-border-t">
            <div class="aui-row aui-row-padded" >
                <div class="aui-col-xs-4  aui-text-center aui-padded-1-15" >
				<div class="  aui-text-center aui-bg-purple aui-text-white">
                    今日收入
					<div >
					1200元</div></div>
                </div>
                <div class="aui-col-xs-4 aui-text-center aui-padded-1-15">
				<div class="  aui-text-center aui-bg-purple aui-text-white">
                      本月收入
					<div >
					1200元</div></div>
                </div>
                <div class="aui-col-xs-4  aui-text-center aui-padded-1-15" >
				<div class=" aui-text-center aui-bg-warning aui-text-white">
                     总收入
					<div >
					1200元</div></div>
                </div>
            </div>
        </div>
		</div>
        <div class="aui-card-list-footer aui-padded-10 aui-background-white">
         

<div class="card-list-content ">      
<li class="aui-list-item aui-list-item ">

                    <div class="aui-margin-l-15 ">
                        盖章日期：
                        <br />
                        中心编号：
                        <br />
                        xx单位：
						 <br />
                        生产单位：
						 <br />
                        样品名称：
                    </div>          
					
					 <div class="aui-card-list-footer aui-margin-r-15 aui-pull-right">
                      总费用：¥1200</div>
					                      
				
					  
                </div>

    </div>  
    </div>  
       </li>
		</div>
		
		
		
        <div class="aui-card-list-footer aui-padded-10 aui-background-white aui-margin-t-15">
<div class="card-list-content ">      <li class="aui-list-item aui-list-item ">

                    <div class="aui-margin-l-15 ">
                        盖章日期：
                        <br />
                        中心编号：
                        <br />
                        xx单位：
						 <br />
                        生产单位：
						 <br />
                        样品名称：
                    </div>                  
					 <div class="aui-card-list-footer aui-pull-right">
                      总费用：¥1200

    </div>  
    </div>  
       </li>
		</div>
		
        <div class="aui-card-list-footer aui-padded-10 aui-background-white aui-margin-t-15">
  
<div class="card-list-content">      <li class="aui-list-item aui-list-item">
    <div class="aui-margin-l-15 ">
                        盖章日期：
                        <br />
                        中心编号：
                        <br />
                        xx单位：
						 <br />
                        生产单位：
						 <br />
                        样品名称：
                    </div>
        <div class="aui-card-list-footer aui-padded-10 aui-background-white">
                      <div class="aui-pull-right">总费用：¥1200</div>

                </div>
            </div>
        </li>
</div>
   
        <div class="aui-card-list-footer aui-padded-10 aui-background-white aui-margin-t-15">

         

<div class="card-list-content ">      <li class="aui-list-item aui-list-item ">

                    <div class="aui-margin-l-15 ">
                        盖章日期：
                        <br />
                        中心编号：
                        <br />
                        xx单位：
						 <br />
                        生产单位：
						 <br />
                        样品名称：
                    </div>                  
					 <div class="aui-card-list-footer aui-pull-right">
                      总费用：¥1200

    </div>  
    </div>  
       </li>
		</div>

		
		</div>
        <div class="aui-card-list-footer aui-padded-10 aui-background-white aui-margin-t-15">
         

<div class="card-list-content ">      <li class="aui-list-item aui-list-item ">

                    <div class="aui-margin-l-15 ">
                        盖章日期：
                        <br />
                        中心编号：
                        <br />
                        xx单位：
						 <br />
                        生产单位：
						 <br />
                        样品名称：
                    </div>                  
					 <div class="aui-card-list-footer aui-pull-right">
                      总费用：¥1200

    </div>  
    </div>  
       </li>
		</div>

    <a class="aui-btn aui-btn-primary aui-btn-block aui-btn-outlined aui-btn-sm" >更多</a>
</div>

</div>
<include file="Common:footer" />