<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wap/css/aui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wap/css/aui-append.css" />
<script type="text/javascript" src="__PUBLIC__/wap/script/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/wap/script/jquery.form.js"></script>
<!--end -->
</head>
<body>
<!-- <header class="aui-bar aui-bar-nav aui-font-size-12">我的控制台</header> -->
<php>if(session('admin_auth')){</php>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn aui-font-size-12" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title aui-font-size-14"> 实际收入</div>
	     <a class="aui-pull-right aui-btn" href="{:U('account/logout')}">
        <span class="aui-iconfont aui-icon-my aui-font-size-12">退出登录</span>
    </a>
</header>
<php>}else{</php>

<php>}</php>


<!--以下是模板-->
<div class="aui-list aui-select-list">
<div class="aui-list">
<div class="aui-list-item-label ">

    <div class="aui-margin-l-15 aui-margin-r-15"> 
    <div class="aui-input"> <input type="text" name="fname" placeholder="起始时间"/></div>
    <div class="aui-input"> <input type="text" name="fname" placeholder="结束时间"/></div>
    </div>
	
</div> 

  <div class="aui-list-item-inner ">
  <div class="aui-btn aui-btn-info aui-pull-right ">搜索</div>
  </div>
  
  
</div>
<div class="aui-list-item  aui-margin-r-15 aui-margin-t-15 aui-margin-b-15">

				

		<table width="100%" border="1px" bordercolor="#000000" cellspacing="0px" style="border-collapse:collapse " height="300" class=" aui-margin-r-15 aui-margin-b-15">
  <tbody th class="aui-font-size-16 aui-text-center" >
  
<tr class=" aui-bg-purple aui-text-white">
    <td >部门</td>
    <td>份数</td>
    <td>金额</td>
</tr>

  <tr >
    <td width="33%" >A</td>
    <td  width="33%">100</td>
	<td  width="33%">100</td>

	
  </tr>
  <tr>
    <td>B</td>
    <td >111</td>
    <td >111</td>
  </tr>
  
    <tr>
    <td>C</td>
    <td >111</td>
    <td >111</td>
  </tr>
  
    <tr>
    <td>D</td>
    <td >1111</td>
    <td >111</td>
  </tr>
  
    <tr>
    <td>E</td>
    <td >111</td>
    <td >111</td>
  </tr>
  
    <tr>
    <td>F</td>
    <td >1111</td>
    <td >111</td>
  </tr>
  
  </table>
  </div>
</tbody>

</div>
</div>
</div>
<include file="Common:footer" />