<include file="Common:header"/>
<!--以下是模板-->
<div class="aui-content">
    <ul class="aui-list aui-media-list kt-background-gray" id="content">

    </ul>
</div>
<div class="aui-padded-10 aui-hide">
    <a class="aui-btn aui-btn-primary aui-btn-block aui-btn-outlined aui-btn-sm" href="javascript:void(0);" id="pagefoot">加载更多</a>
</div>
<script type="text/javascript">
function createHtml(volist){
    var html = "";
    if(volist.length>0){
        for(var i in volist){
            var value = volist[i];
            html +='    <li class="aui-padded-l-10 aui-padded-r-10  kt-clearfix aui-margin-b-10 aui-background-white aui-border-b">';
//            html +='        <div class="aui-media-list-item-inner">';
            html +='            <div class="aui-list-item-inner  aui-padded-r-0">';
            html +='                <div class="aui-list-item-text aui-border-b aui-padded-t-5 aui-padded-b-5">';
            html +='                    <div class="aui-list-item-title aui-font-size-12">中心编号:'+value.centreno+'</div>';
            html +='                    <div class="aui-list-item-right">'+value.modify_time+'</div>';
            html +='                </div>';
            html +='                <div class="aui-padded-t-10 aui-padded-b-10 aui-list-item-arrow kt-list-item-active" onclick="javascript:window.open(\'/contract/contractDetail?status='+value.centreno+'\',\'_self\')">';
            html +='                    <p class="aui-font-size-12">委托单位：'+value.contract.clientname+'</p>';
            html +='                    <p class="aui-font-size-12">生产单位：'+value.contract.productunit+'</p>';
            html +='                    <p class="aui-font-size-12">样品名称：'+value.contract.samplename+'</p>';
            html +='                    <p class="aui-font-size-12">检测依据：'+value.contract.testcriteria+'</p>';
            html +='                    <p class="aui-font-size-12">来样日期：'+value.contract.collectdate+'</p>';
                              
            html +='                </div>';
            html +='                <div class="kt-clearfix">';
            if(value.status==6){
                //已外部签发
                html +='                  <div class="aui-pull-right">'+"金额：<i>&yen;</i>"+value.contract.testcost+'</div>';
            }else if(value.status==2){
                // 待审
                 html +='                  <div class="aui-btn aui-btn-info aui-btn-outlined aui-btn-sm aui-pull-right" onclick="doPass(\''+value.centreno+'\',3)">提交审核</div>';
            }else if(value.status==3){
                //待批
                html +='                  <div class="aui-btn aui-btn-info aui-btn-outlined aui-btn-sm aui-pull-right" onclick="doPass(\''+value.centreno+'\',4)">审核通过</div>';
            }else if(value.status==4){
                //待盖章
                html +='                  <div class="aui-btn aui-btn-info aui-btn-outlined aui-btn-sm aui-pull-right" onclick="doPass(\''+value.centreno+'\',5)">审批通过</div>';
            }else if(value.status==5){
                //待外签
                html +='                  <div class="aui-btn aui-btn-info aui-btn-outlined aui-btn-sm aui-pull-right" onclick="doPass(\''+value.centreno+'\',6)">盖章通过</div>';
            }
           
           
            html +='                </div>';
            html +='        </div>';
            html +='    </li>';
        }
        
    }
    return html;
}
function doPass(centreno,status){
    var param = {"tip":"确认提交吗","success":"提交成功","fail":"提交失败","error":"网络错误，请稍候重试","data":{"centreno":centreno,"status":status}};
    onConfirmAction("/contract/doUpdate",param);
}
//current page
currentPage = 1;
status = "{$status}";
function load(status,page){
    if(!status) return false;
    $.ajax({
        type:"post",
        data:{"status":status,"page":page},
        url:"/contract/reportList",
        dataType:"json",
        success:function(ret){
            if(ret.status=='succ'){
                
                if(ret.list.length>0){
                    var html = createHtml(ret.list);
                    currentPage = page +1;
                    if(page==1){
                        $("#content").html(html);
                    }else{
                        $("#content").append(html);
                    }
                    $("#pagefoot").parent().removeClass("aui-hide");
                }else{
                    $("#pagefoot").parent().html('<div class="aui-font-description  aui-font-size-12 aui-text-center">没有更多数据了</div>');
                }
                
            }
        }
    });
}


$(document).ready(function(){
    load(status,currentPage);
});
$(document).on("click","#pagefoot",function(){
    load(status,currentPage);
});
</script>
<include file="Common:footer" />