<include file="Common:header"/>
<!--以下是模板-->
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner ">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2039A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2" onclick="javascript:window.open('/contract/chouyangdan.html','_self')">
                        样品名称：PHP
                        <br />
                        生产单位：从入门到放弃
                        <br />
                        检验依据：水泥
						
                    
                    </div>
					<div class="aui-btn aui-btn-danger aui-pull-right  ">不通过</div>
                      <div class="aui-btn aui-btn-info aui-margin-r-15 aui-pull-right">审核通过</div>
					  
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2040A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        样品名称：PHP
                        <br />
                        生产单位：从入门到放弃
                        <br />
                        检验依据：水泥
                      
                    </div>
						<div class="aui-btn aui-btn-danger aui-pull-right  ">不通过</div>
                      <div class="aui-btn aui-btn-info aui-margin-r-15 aui-pull-right">审核通过</div>

                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2036A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        样品名称：PHP
                        <br />
                        生产单位：从入门到放弃
                        <br />
                        检验依据：水泥
                      
                    </div>
						<div class="aui-btn aui-btn-danger aui-pull-right  ">不通过</div>
                      <div class="aui-btn aui-btn-info aui-margin-r-15 aui-pull-right">审核通过</div>

                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2023A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        样品名称：PHP
                        <br />
                        生产单位：从入门到放弃
                        <br />
                        检验依据：水泥
                      
                    </div>
						<div class="aui-btn aui-btn-danger aui-pull-right  ">不通过</div>
                      <div class="aui-btn aui-btn-info aui-margin-r-15 aui-pull-right">审核通过</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15" >
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2023A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        样品名称：PHP
                        <br />
                        生产单位：从入门到放弃
                        <br />
                        检验依据：水泥
                      
                    </div>
				
						<div class="aui-btn aui-btn-danger aui-pull-right  ">不通过</div>
                      <div class="aui-btn aui-btn-info aui-margin-r-15 aui-pull-right">审核通过</div>
				
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="aui-padded-10">
    <a class="aui-btn aui-btn-primary aui-btn-block aui-btn-outlined aui-btn-sm" >更多</a>
</div>


<include file="Common:footer" />