<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
	<include file="Common:breadcrumb" />
	<div id="page-inner" class="container">

		<ul class="nav nav-tabs">
			<li role="presentation" class="active" id="de_A" name="de"><a href="/admin/audit/reportList?de=A" >前台内部修改申请</a></li>
			<li role="presentation" id="de_B" name="de"><a href="/admin/audit/reportList?de=B">报告修改申请</a></li>
			<li role="presentation" id="de_C" name="de"><a href="/admin/audit/reportList?de=C">外部修改申请</a></li>
			<li role="presentation" id="de_D" name="de"><a href="/admin/audit/reportList?de=D">合同作废申请</a></li>
			<input hidden id="de_choose" value="{$de}">
			<input hidden id="user_id" value="{$user}">
		</ul>

		<if condition="$de eq 'A'"><!-- 内部修改申请显示表单-->
			<!--<form class="form-inline" method="GET" action="">
		<div class="search-form">
				<div class="form-group">
					<label>中心编号：</label>
					<input type="text" class="form-control input-sm" name="keyword" value="{$centreno}"/>
				</div>
				<button  class="btn btn-primary btn-sm" onabort="search('A','{$centreno}')">查询</button>
		</div></form>--><p></p>
		<table class="table table-bordered table-striped table-hover">
			<thead>
			<th>中心编号</th>
			<th>委托单位</th>
			<th>样品名称</th>
			<th>检验依据</th>
			<th>详情</th>
			<!--<th>修改原因</th>-->
			<th width="8%">申请时间</th>
			<!--<th width="12%">操作</th>-->
			<th width="6%">状态</th>
			</thead>
			<tbody>
			<volist name="lists" id="one" key="i">
				<tr>
					<td>{$one.centreno}</td>
					<td>{$one.clientname}</td>
					<td>{$one.samplename}</td>
					<td>{$one.testcriteria}</td>
					<td>
						<if condition="$one['sub_status'] ==0 and $view==1 and $one['if_sample']==0" >
							<a href="/admin/audit/contractDetail?id={$one.centreno}"  class="btn btn-info btn-xs" >检验受理合同</a>
							<!--<if condition="mb_substr($one[centreno],7,1)=='C'">
								<p></p><a href="/admin/test/sampleShow?id={$one.centreno}"  class="btn btn-info btn-xs" >抽样单</a></if>-->
						<elseif condition="$one['sub_status'] ==0 and $view==1 and $one['if_sample']==1"/>
							<a href="/admin/audit/sampleShow?id={$one.centreno}"  class="btn btn-info btn-xs" >抽样单</a>
						<elseif condition="$one['sub_status'] !=0 and $view==1 and $one['if_sample']==0"/>
							<a class="btn btn-info btn-xs" disabled="disabled" >检验受理合同</a>
						<elseif condition="$one['sub_status'] !=0 and $view==1 and $one['if_sample']==1"/>
							<a class="btn btn-info btn-xs" disabled="disabled" >抽样单</a>
						</if>
					</td>
					<!--<td>{$one.reason}</td>-->
					<td>{$one.create_time}</td>
					<!--<td>
						<if condition="$one['sub_status'] ==0 and $view==1" >
							<button class="btn btn-success btn-xs" onclick="onUpdate('{$one.reid}','A')" {$view}><i class="glyphicon glyphicon-ok-circle"></i>允许</button>
							<button class="btn btn-danger btn-xs" onclick="update('{$one.reid}','A')" {$view}><i class="glyphicon glyphicon-remove-circle"></i>拒绝</button>
							<else />
						</if>
					</td>-->
					<td><if condition="$one['sub_status'] ==0">
						<span>未处理</span>
						<elseif condition="$one['sub_status'] ==1 or $one['sub_status'] ==3" />
						<span style="color: green">已处理</span>
						<elseif condition="$one['sub_status'] ==2 "/>
						<span style="color: red">拒绝</span></if>
					</td>
				</tr>
			</volist>
			</tbody>
		</table>
		</if>
		<if condition="$de eq 'B'"><!-- 报告修改申请显示表单-->
			<!--<form class="form-inline" method="GET" action="">
		<div class="search-form">
				<div class="form-group">
					<label>中心编号：</label>
					<input type="text" class="form-control input-sm" name="keyword" value="{$centreno}"/>
				</div>
				<button  class="btn btn-primary btn-sm" onabort="search('A','{$centreno}')">查询</button>
		</div></form>--><p></p>
			<table class="table table-bordered table-striped table-hover">
				<thead>
				<th>中心编号</th>
				<th>修改原因</th>
				<th width="15%">报告</th>
				<th width="8%">申请时间</th>
				<th width="12%">操作</th>
				<th width="6%">状态</th>
				</thead>
				<tbody>
				<volist name="lists" id="one" key="i">
					<tr>
						<td width="10%">{$one.centreno}</td>
						<td>{$one.reason}</td>
						<td>
							<a class="btn btn-info btn-xs" href="{$one.pdf_path}" target="_blank">原报告</a>
							<a class="btn btn-info btn-xs" href="{$one.temp_pdf_path}" target="_blank">修改后的报告</a>
						</td>
						<td>{$one.create_time}</td>
						<td>
							<if condition="$one['sub_status'] ==0 and $view==1" >
								<button class="btn btn-success btn-xs" onclick="onUpdate('{$one.reid}','B')" {$view}><i class="glyphicon glyphicon-ok-circle"></i>允许</button>
								<button class="btn btn-danger btn-xs" onclick="update('{$one.reid}','B')" {$view}><i class="glyphicon glyphicon-remove-circle"></i>拒绝</button>
								<else />
							</if>
						</td>
						<td><if condition="$one['sub_status'] ==0">
							<span>未处理</span>
							<elseif condition="$one['sub_status'] ==1 or $one['sub_status'] ==3" />
							<span style="color: green">允许</span>
							<elseif condition="$one['sub_status'] ==2 "/>
							<span style="color: red">拒绝</span></if>
						</td>
					</tr>
				</volist>
				</tbody>
			</table>
		</if>

		<if condition="$de eq 'C'"><!-- 外部修改申请显示表单-->
			<!---<div class="search-form">
				<form class="form-inline" method="GET" action="">
					<div class="form-group">
						<label>中心编号：</label>
						<input type="text" class="form-control input-sm" name="keyword"/>
					</div>
					<button type="submit" class="btn btn-primary btn-sm" >查询</button>
				</form>
			</div>----><p></p>
			<table class="table table-bordered table-striped table-hover">
				<thead>
				<th>中心编号</th>
				<th>盖章签发日期</th>
				<th>外部签发日期</th>
				<th>申请修改原因</th>
				<th>更改单</th>
				<th width="8%">申请时间</th>
				<th width="12%">操作</th>
				<th width="6%">状态</th>
				</thead>
				<tbody>
				<volist name="lists" id="one" key="i">
					<tr>
						<td>{$one.centreno}</td>
						<td>{$one.inner_sign_time}</td>
						<td>{$one.external_sign_time}</td>
						<td>{$one.reason}</td>
						<td>
							<a href="{:U('/admin/contract/reWriteTest')}?id={$one.centreno}" class="btn btn-info btn-xs"  >更改单</a>
							<!--<a href="" class="btn btn-info btn-xs" ><i class="glyphicon glyphicon-search"></i>附件</a>-->
						</td>
						<td>{$one.create_time}</td>
						<td>
							<if condition="$one['sub_status'] ==0 and $view==1" >
								<button class="btn btn-success btn-xs" onclick="onUpdate('{$one.reid}','C')" {$view}><i class="glyphicon glyphicon-ok-circle"></i>允许</button>
								<button class="btn btn-danger btn-xs" onclick="update('{$one.reid}','C')" {$view}><i class="glyphicon glyphicon-remove-circle"></i>拒绝</button>
								<else />
							</if>
						</td>
						<td><if condition="$one['sub_status'] ==0">
							<span>未处理</span>
							<elseif condition="$one['sub_status'] ==1 or $one['sub_status'] ==3" />
							<span style="color: green">允许</span>
							<elseif condition="$one['sub_status'] ==2 "/>
							<span style="color: red">拒绝</span></if>
						</td>
					</tr>
				</volist>
				</tbody>
			</table></if>
		<if condition="$de eq 'D'"><!-- 合同作废申请显示表单-->
			<!---<div class="search-form">
				<form class="form-inline" method="GET" action="">
					<div class="form-group">
						<label>中心编号：</label>
						<input type="text" class="form-control input-sm" name="keyword"/>
					</div>
					<button type="submit" class="btn btn-primary btn-sm" >查询</button>
				</form>
			</div>----><p></p>
			<table class="table table-bordered table-striped table-hover">
				<thead>
				<th width="12%">中心编号</th>
				<th>申请作废原因</th>
				<th width="8%">申请时间</th>
				<th width="12%">操作</th>
				<th width="6%">状态</th>
				</thead>
				<tbody>
				<volist name="lists" id="one" key="i">
					<tr>
						<td>{$one.centreno}</td>
						<td>{$one.reason}</td>
						<td>{$one.create_time}</td>
						<td>
							<if condition="$one['sub_status'] ==0 and $view==1" >
								<button class="btn btn-success btn-xs" onclick="onUpdate('{$one.reid}','D')" {$view}><i class="glyphicon glyphicon-ok-circle"></i>允许</button>
								<button class="btn btn-danger btn-xs" onclick="update('{$one.reid}','D')" {$view}><i class="glyphicon glyphicon-remove-circle"></i>拒绝</button>
								<else />
							</if>
						</td>
						<td><if condition="$one['sub_status'] ==0">
							<span>未处理</span>
							<elseif condition="$one['sub_status'] ==1 or $one['sub_status'] ==3" />
							<span style="color: green">允许</span>
							<elseif condition="$one['sub_status'] ==2 "/>
							<span style="color: red">拒绝</span></if>
						</td>
					</tr>
				</volist>
				</tbody>
			</table></if>

		<div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
	</div>
</div>

<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
    $(function(){
        var de = $("#de_choose").val();
        var userid = $("#user_id").val();
        if(userid==16 || userid ==0){
            $("li[name='de']").removeClass("active");
            $("#de_"+de).addClass("active");
		}else{
            $("li[name='de']").css('display','none');
            $("#de_A").css('display','block');
		}

    });
//换成ajax提交
	/*function search(centreno,de) {
        $.ajax({
            type:"post",
            url:"{:U('/admin/audit/reportList')}",
            data:{"centreno":centreno,"type":de},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    return true;
                }else{
                    return false;
				}
            }
        });
    }*/
    function onUpdate(id,de){
        if(!id) return false;
        var _options = {"flag":"error","text":"将批准该申请","buttons":{"ok":{"action":function(){pass(id,de);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function pass(id,de){
        $.ajax({
            type:"post",
            url:"{:U('/admin/audit/isAllow')}",
            data:{"id":id,"de":de},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"批准成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"Error！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
    function update(id,de){
        if(!id) return false;
        var _options = {"flag":"error","text":"您确定拒绝该申请吗？","buttons":{"ok":{"action":function(){notPass(id,de);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function notPass(id,de){
        $.ajax({
            type:"post",
            url:"{:U('/admin/audit/notAllow')}",
            data:{"id":id,"de":de},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"操作成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"Error！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }

</script>
<include file="Common:footer" />