<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <th>中心编号</th>
            <th>样本名称</th>
            <th>操作</th>
            </thead>
            <tbody>
            <volist name="lists" id="one">
                <tr>
                    <td><if condition="$one[centreno1] or $one[centreno2] or $one[centreno3]">
                        <span style="color: red"><i class="glyphicon glyphicon-star"></i>{$one.centreno}</span>
                        <else />
                        <span>{$one.centreno}</span></if></td>
                    <td>{$one.samplename}</td>
                    <td>
                        <if condition="$one[centreno1] or $one[centreno2] or $one[centreno3]">
                            <a href="{:U('/admin/contract/reWriteTest')}?id={$one.centreno}" class="btn btn-primary btn-xs">更改单</a></if>
                        <if condition="$one['gz_back'] neq 0 or $one['sh_back'] neq 0 or $one['bz_back'] neq 0">
                            <button onclick="module('{$one[centreno]}')" class="btn btn-warning btn-xs">退回原因</button>
                        </if>
                        <if condition="$one[sub_status]==0 or $one[sub_status]==1">
                            <button class="btn btn-primary btn-xs" disabled>检测报告上传</button>
                            <else />
                        <a href="{:U('/admin/test/recordUpload')}?centreno={$one.centreno}" class="btn btn-primary btn-xs" >检测报告上传</a></if>
                        <if condition="$one[pdf_path]">
                            <a href="javascript:void(0);" class="btn btn-info btn-xs" name="{$one.pdf_path}" onclick="return Check(this);">报告预览</a>
                            <if condition="($one[sub_status]==0 or $one[sub_status]==1) and ($one[if_report]==0) ">
                                <button class="btn btn-success btn-xs" disabled>提交审核</button>
                                <elseif condition="($one[sub_status]==0 or $one[sub_status]==1) and ($one[if_report]==1)"/>
                                <a href="javascript:void(0);"  class="btn btn-success btn-xs" onclick="editconfirmReport('{$one.centreno}')" >提交审核</a>
                                <else />
                                <if condition="$one['ifback'] neq 0 and $one['back_time']">
                                    <a href="javascript:void(0);" class="btn btn-success btn-xs" onclick="onBack('{$one.centreno}','{$one.ifback}')">提交审核</a>
                                    <else />
                                <a href="javascript:void(0);" class="btn btn-success btn-xs" onclick="doUpdate('{$one.centreno}')">提交审核</a>
                                </if>
                                </if>
                        </if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class=" pull-left"><i class="glyphicon glyphicon-star" style="color: red">代表合同有变更</i></div>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
        <!-- main end-->

    </div>
</div>

<div>
    <!-- 模态框（Modal) -->
    <div class="modal fade" id="editModal3" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="form-horizontal"  action="" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >返回报告</h4>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13"></label>
                        <div class="col-sm-7">
                            <input type="hidden" name="subid" id="subid" value="" />

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">报告将返回至:</label>
                        <div class="col-sm-7">
                            <select class="form-control input-sm" name="sortby" id="sortby">
                                <option value="2" >审核员</option>
                                <option value="4" id="gaizhang" >盖章人员</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" onclick="Feedback()">确定</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script type="text/javascript">
    function doUpdate(centreno) {
        if(!centreno) return false;
        var _options = {"flag":"error","text":"确定提交审核吗？","buttons":{"ok":{"action":function(){onUpdate(centreno);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function onUpdate(centreno) {
        $.ajax({
            type:"post",
            url:"{:U('/admin/Test/doUpd')}",
            data:{"centreno":centreno},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"提交成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"提交失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
    function Check(path) {
        var url=path.name;
        if(!url) return false;//获取url
        if(url.indexOf("http")==-1){
            thisHost = location.hostname;
            var newurl='http://'+thisHost+url;
        }else{
            var newurl=url;
        }
        //alert(newurl);
        window.open(newurl);
    }
    function onBack(centreno,ifback){
        var modal = $("#editModal3");
        modal.find("input[name='subid']").val(centreno);
        modal.find("input[name='modid']").val(0);
        if(ifback == 2){
            $("#gaizhang").attr("disabled","disabled");
        }
        modal.modal();
    }
    function Feedback(){
        var centreno = $("#subid").val();
        var sortby = $("#sortby").val();
        $.ajax({
            url: "{:U('/admin/Test/doUpd1')}",
            dataType: 'json',
            data:{'centreno':centreno,'sortby':sortby},
            beforeSubmit: function(){
                return true;
            },
            success: function (re) {
                alert(re.msg);
                window.location.reload();
            }
        });
    }
    //跳转退回原因页面
    function module(centreno){
        var newurl = "/admin/Report/backShowPage.html?centreno="+centreno//url
        window.open(newurl);
    }
    //申请修改允许后提交报告
    function editconfirmReport(centreno) {
        if(!centreno) return false;
        var _options = {"flag":"error","text":"确定提交审核吗？","buttons":{"ok":{"action":function(){doEditConfirm(centreno);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doEditConfirm(centreno) {
        $.ajax({
            type:"post",
            url:"{:U('/admin/Contract/doneAllUpdate')}",
            data:{"centreno":centreno},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"操作成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"Error！"};

                }
            }
        });
    }
    </script>
<include file="Common:footer" />