<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <th>中心编号</th>
            <th>样本名称</th>
            <th>操作</th>
            </thead>
            <tbody>
            <volist name="lists" id="one">
                <tr>
                    <td><if condition="$one[centreno1] or $one[centreno2] or $one[centreno3]">
                        <span style="color: red"><i class="glyphicon glyphicon-star"></i>{$one.centreno}</span>
                        <else />
                        <span>{$one.centreno}</span></if></td>
                    <td>{$one.samplename}</td>
                    <td>
                        <if condition="$one[centreno1] or $one[centreno2] or $one[centreno3]">
                            <a href="{:U('/admin/contract/reWriteTest')}?id={$one.centreno}" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-list"></i>更改单</a></if>
                        <a href="{:U('/admin/test/recordUpload')}?centreno={$one.centreno}" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-open"></i>检测报告上传</a>
                        <if condition="$one[pdf_path]">
                        <a href="{$one.pdf_path}" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-search"></i>报告预览</a>
                        <a href="javascript:void(0);" class="btn btn-success btn-xs" onclick="doUpdate('{$one.centreno}')"><i class="glyphicon glyphicon-ok-circle"></i>提交审核</a></if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
        <!-- main end-->

    </div>
</div>
</div>
<script type="text/javascript">
    function doUpdate(centreno) {
        if(!centreno) return false;
        var _options = {"flag":"error","text":"确定提交审核吗？","buttons":{"ok":{"action":function(){onUpdate(centreno);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function onUpdate(centreno) {
        $.ajax({
            type:"post",
            url:"{:U('/admin/Test/doUpd')}",
            data:{"centreno":centreno},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"提交成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"提交失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
    </script>
<include file="Common:footer" />