<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">

        <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain">

        </script>
        <!-- 配置文件 -->
        <script type="text/javascript" src="__PUBLIC__/ueditor/utf8-php/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script type="text/javascript" src="__PUBLIC__/ueditor/utf8-php/ueditor.all.js"></script>
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            var ue = UE.getEditor('container');
        </script>
        <!-- 主要模板 starting -->

        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
        <!-- main end-->

    </div>
</div>
</div>
<include file="Common:footer" />