<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <div>
            <button onclick="window.history.back() " class="btn btn-primary">返回</button>
        </div><br/>

        <if condition="$view eq 7 or $view eq 0">
            <form class="form-horizontal" id="myform" action="" method="post">
                <input type="hidden" name="idnum" value="{$pic['id']}" />
                <input type="hidden" name="centreno" value="{$centreno}" /><!--!!!!!!!!-->
                <div class="form-group">
                    <label class="col-sm-2 control-label talign-center fz13">上传检测记录</label>
                    <div class="col-sm-10">
                        <div class="face" id="attachment" style="width: 120px;height: 80px;" onclick="onFileUpload()"><img src="{$pic['path']}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="height: 100%;" /></div>
                        <input type="hidden" name="imgurl" value="{$pic['path']}" />
                        <input type="file" name="file" onchange="ajaxFileUpload()" id="addfile" style="display:none;"  />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label talign-center fz13">备注</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="remark">{$pic['remark']}</textarea>
                        <p class="help-block">（选填）</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label talign-center">&nbsp;</label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success" onclick="onSave()">保 存</button>
                    </div>
                </div>
            </form>
        </if>
        <p>
        <div>
                <a href="javascript:void (0)" class="btn btn-primary" onclick="data()"><i class=" glyphicon glyphicon-download"></i>批量打印</a>

        </div>
        </p>
        <table class="table table-bordered table-striped table-hover">
            <thead>

                <th><input type="checkbox" id="selectall" /><label>全选</label></th>
                <th>序号</th>
                <th>中心编号</th>
                <th>检验照片</th>
                <th>最后修改时间</th>
                <th>备注</th>
                <th>操作</th>
            </thead>
            <tbody>
            <volist name="lists" id="one" key="i">
                <tr>
                        <td><input type="checkbox" name="print" class="qx" value="{$one['id']}"/> </td>
                    <td><if condition="$_GET['p'] eq 0">{$i}
                        <else />{$_GET['p']*10-10+$i}</if></td>
                    <td>{$one.centreno}</td>
                    <td><a href="javascript:void(0);" name="{$one.path}" onclick="return Check(this);"><img src="{$one.path}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="width: 90px;" /></a></td>
                    <td>{$one.lastmodifytime}</td>
                    <td>{$one.remark}</td>
                    <td>
                        <if condition="($gid eq 1) and ($view eq 7 or $view eq 0)">
                        <a href="javascript:void(0);" onclick="onDelete({$one.id})" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> 删除</a></if>
                        <a href="javascript:void(0);" name="{$one.path}" onclick="onPrint({$one.id});" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-print"></i> 打印</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
    </div>


</div>

<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script src="__PUBLIC__/static/js/ajaxfileupload.js"></script>
<script type="text/javascript">

    function onDelete(id){
        if(!id) return false;
        var _options = {"flag":"error","text":"您确定要删除吗！","buttons":{"ok":{"action":function(){doneDel(id);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doneDel(id){
        if(!id) return false;
        $.ajax({
            type:"post",
            url:"{:U('/admin/test/doDeletePic')}",
            data:{"id":id},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"删除成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"删除失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
    //点击查看原图
    function Check(path) {
        var url=path.name;
        if(!url) return false;//获取缩略图url
        var newurl=url.replace("_thumb","");//重写
        window.open(newurl);
    }
    
    function onPrint(num) {
        var newurl='/admin/test/doPrint.html?id='+num;
        window.open(newurl);  
    }
    
//全选
    $("#selectall").click(function(){
        var xz = $(this).prop("checked");//判断全选按钮的选中状态
        var ck = $(".qx").prop("checked",xz); //让class名为qx的选项的选中状态和全选按钮的选中状态一致。
    });
    //批量打印
    function data() {
        var obj=document.getElementsByName('print');  //选择所有name="'print'"的对象，返回数组
        //取到对象数组后，我们来循环检测它是不是被选中
        console.log(obj);
        var s='';
        for(var i=0; i<obj.length; i++) {
            if (obj[i].checked) {
                s+= obj[i].value+',';
                var newurl='/admin/test/doPrint.html?id='+s;
            }
        }
        console.log(newurl)
        //alert(newurl);
        window.open(newurl);
        if(!s){
            alert('您还没有选择任何内容！');
            return false;
        }
    }
    //上传检测记录
    function ajaxFileUpload(){
        var file = $("#addfile").val();
        if(file){
            $.ajaxFileUpload({
                url: "{:U('Uploader/start')}",
                secureuri: false,
                fileElementId: 'addfile',
                dataType: 'JSON',
                success: function (data, status) {
                    var ret = JSON.parse(data);
                    $("#addfile").val("");
                    if(ret.info=='succ'){
                        $("input[name='imgurl']").val(ret.url);
                        $("#attachment img").attr("src",ret.url);
                    }else{
                        var _options = {"text":"上传失败","flag":"error"};
                        if(ret.info) _options.text = ret.info;
                        doAlertDialog(_options);
                    }
                },
                error: function (data, status, e){
                    var _options = {"text":"上传失败","flag":"error"};
                    doAlertDialog(_options);
                }
            });
        }
        return false;
    }
    function onFileUpload() {
        $('#addfile').click();
        return false;
    }

    function onSave(){
        var options = {
            url: "{:U('/admin/Test/doUploadPic')}",
            dataType: 'json',
            beforeSubmit: function(){
                return true;
            },
            success: function (data) {
                if(data.msg=='succ'){
                    var _options = {"text":"保存成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"保存失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        };
        $("#myform").ajaxForm(options);
        return false;
    }
</script>
<include file="Common:footer" />