<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <div class="search-form">
            <a href="{:U('/admin/test/recordPicture')}" class="btn btn-primary">返回</a>
            <if condition="$view eq 7">
           <a href="{:U('/admin/test/picUp')}?centreno={$centreno}" class="btn btn-primary">上传</a>
            </if>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th>ID</th>
                <th>中心编号</th>
                <th>缩略图</th>
                <th>最后修改时间</th>
                <th>备注</th>
                <th>操作</th>
            </thead>
            <tbody>
            <volist name="lists" id="one">
                <tr>
                    <td>{$one.id}</td>
                    <td>{$one.centreno}</td>
                    <td><a href="javascript:void(0);" name="{$one.path}" onclick="return Check(this);"><img src="{$one.path}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="width: 90px;" /></a></td>
                    <td>{$one.lastmodifytime}</td>
                    <td>{$one.remark}</td>
                    <td>
                        <a href="javascript:void(0);" onclick="onDelete({$one.id})" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                        <a href="javascript:void(0);" name="{$one.path}" onclick="onPrint(this);" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-print"></i> 打印</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
    </div>
</div>
</div>

<script type="text/javascript">
    function onDelete(id){
        if(!id) return false;
        var _options = {"flag":"error","text":"您确定要删除吗！","buttons":{"ok":{"action":function(){doneDel(id);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doneDel(id){
        if(!id) return false;
        $.ajax({
            type:"post",
            url:"{:U('/admin/test/doDeletePic')}",
            data:{"id":id},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"删除成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"删除失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
    //点击查看原图
    function Check(path) {
        var url=path.name;
        if(!url) return false;//获取缩略图url
        var newurl=url.replace("_thumb","");//重写
        window.open(newurl);
    }
    
    //打印上传图片
    function onPrint(path) {
        var url=path.name;
        if(!url) return false;//获取缩略图url
        var newurl=url.replace("_thumb","");//重写
        window.open(newurl).window.print();
    }

</script>
<include file="Common:footer" />