
<include file="Common:header" title=""/>
<style type="text/css">*,html,body{background:#FFFFFF;}</style>


<section class="aui-grid ">
 
        <div class="aui-row ">
		    <div class="aui-col-xs-2 aui-margin-l-15 aui-margin-t-15  "style="padding:0.05rem; margin:0.02rem">
                <img src="/Public/static/images/logo_company.png" />
            </div>
			
			  <div  class="aui-col-xs-9  aui-margin-t-15" style="text-align: left; margin:0.05rem" >
                <div  class="aui-font-size-14 "><strong>(国家)建筑材料工业技术监督研究中心</strong><br /><div class="aui-font-size-12">建筑材料工业干混砂浆产品质量监督检验测试中心</div></div>
            </div>
			
     
    </div>
</section>




<div class="aui-content aui-padded-15">
   	<form class="form-horizontal" id="myform" action="" method="post">
        <ul class="aui-list aui-form-list">
		
		
            <li class="aui-list-item aui-margin-b-10">
                <div class="aui-list-item">
                    <div class="aui-list-item-label aui-margin-b-5">
                        <i class="aui-iconfont aui-icon-mobile"></i>
                    </div>
                    <div class="aui-list-item ">
                        <input type="text" placeholder="请输入用户名" name="username" autocomplete="off" >
                    </div>
                </div>
            </li>
			
			
            <li class="aui-list-item">
                <div class="aui-list-item">
                    <div class="aui-list-item-label aui-margin-b-5">
                        <i class="aui-iconfont aui-icon-lock"></i>
                    </div>
                    <div class="aui-list-item">
                        <input type="password"  placeholder="请输入密码"  name="password" >
                    </div>
                  
                </div>
            </li>
        </ul>
        <div class="aui-margin-t-15">
        	<button class="aui-btn aui-btn-primary aui-btn-block aui-btn-sm" type="submit" onclick="login()">用户登录</button>
   		</div>
   	</form>












<!--end-->
<script type="text/javascript">
	function login(){
		var options = {
	    	url: "{:U('/account/doLogin')}",
	    	dataType: 'json',
	    	beforeSubmit: function(){
				return true;
	    	},
	        success: function (data) {
	        	if(data.msg=='succ'){
	        		window.location.reload();
	        	}else{
	        		
	        	}
	        }
	    };
	    $("#myform").ajaxForm(options);
	    return false;
	   
	}	
</script>
<include file="Common:footer" title=""/>
