
<include file="Common:header" title=""/>
<style type="text/css">*,html,body{background: #fff;}</style>

<div class="aui-content aui-padded-15">
   	<form class="form-horizontal" id="myform" action="" method="post">
        <ul class="aui-list aui-form-list">
		
		
            <li class="aui-list-item aui-margin-b-10">
                <div class="aui-list-item">
                    <div class="aui-list-item-label aui-margin-b-5">
                        <i class="aui-iconfont aui-icon-mobile"></i>
                    </div>
                    <div class="aui-list-item ">
                        <input type="text" placeholder="登录用户名" name="username" autocomplete="off" >
                    </div>
                </div>
            </li>
			
			
            <li class="aui-list-item">
                <div class="aui-list-item">
                    <div class="aui-list-item-label aui-margin-b-5">
                        <i class="aui-iconfont aui-icon-lock"></i>
                    </div>
                    <div class="aui-list-item">
                        <input type="password" name="password" >
                    </div>
                  
                </div>
            </li>
        </ul>
        <div class="aui-margin-t-15">
        	<button class="aui-btn aui-btn-primary aui-btn-block aui-btn-sm" type="submit" onclick="login()">用户登录</button>
   		</div>
   	</form>












<!--end-->
<script type="text/javascript">
	function login(){
		var options = {
	    	url: "{:U('/account/doLogin')}",
	    	dataType: 'json',
	    	beforeSubmit: function(){
				return true;
	    	},
	        success: function (data) {
	        	if(data.msg=='succ'){
	        		window.location.reload();
	        	}else{
	        		
	        	}
	        }
	    };
	    $("#myform").ajaxForm(options);
	    return false;
	   
	}	
</script>
<include file="Common:footer" title=""/>
