<include file="Common:header"/>
<style type="text/css">html,body{background:#FFFFFF;}</style>
<div class="Huiform">
    <form class="form-horizontal" method="post" id="myform" action="">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item aui-margin-b-10">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        旧密码：
                    </div>
                    <div class="aui-list-item-input">
                        <input type="password" class="input-text" name="oldpassword" placeholder="请输入旧密码" />
                    </div>
                </div>
            </li>
                <li class="aui-list-item aui-margin-b-10">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            新密码：
                        </div>
                        <div class="aui-list-item-input">
                    <input type="password" class="input-text" name="newpassword"   autocomplete="off" placeholder="请输入新密码"/>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-margin-b-10">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            确认密码：
                        </div>
                        <div class="aui-list-item-input">
                    <input type="password" name="newpasswordagain"  placeholder="请再次输入新密码"  autocomplete="off"/>
                        </div>
                    </div>
                </li>
        </ul>
            <div class="aui-margin-t-15 aui-padded-l-15 aui-padded-r-15 ">
                <button class="aui-btn aui-btn-block aui-btn-outlined aui-btn-outlined2 aui-btn-sm " type="submit"  onclick="doUpdate()">修改保存</button></div>
    </form>
</div>

<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/aui-dialog.js" ></script>
<script type="text/javascript">
    function doUpdate(){
        var options = {
            url: "{:U('/user/save')}",
            dataType: 'json',
            beforeSubmit: function(){
                if(myform.oldpassword.value == ""){
                    var dialog = new auiDialog();
                    dialog.alert({
                        title:"提示",
                        msg:'旧密码不能为空！',
                        buttons:['知道了']})
                    myform.oldpassword.focus();
                    return false;
                }
                if(myform.newpassword.value == ""){
                    var dialog = new auiDialog();
                    dialog.alert({
                        title:"提示",
                        msg:'新密码不能为空！',
                        buttons:['知道了']})
                    myform.newpassword.focus();
                    return false;
                }
                if(myform.newpasswordagain.value == ""){
                    var dialog = new auiDialog();
                    dialog.alert({
                        title:"提示",
                        msg:'请再次输入新密码！',
                        buttons:['知道了']})
                    myform.newpasswordagain.focus();
                    return false;
                }
                return true;
            },
            success: function (data) {
                if(data.msg=='succ'){
                    var dialog = new auiDialog();
                    dialog.alert({
                        title:"提示",
                        msg:'修改密码成功！',
                        buttons:['知道了']
                    },function(){
                        //console.log(ret)
                        window.location.reload();
                    })
                }else{
                    var dialog = new auiDialog();
                    dialog.alert({
                        title:"提示",
                        msg:data.msg,
                        buttons:['知道了']
                    },function(){
                        //console.log(ret)
                        window.location.reload();
                    })
                }
            }
        };
        $("#myform").ajaxForm(options);
        return false;
    }
    /*$(function(){
        $("#editform").Validform({
            tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){
                    var objtip=o.obj.siblings(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            },
            ajaxPost:true,
            callback:function(data){
                if(data.status=="ok"){
                    alert('密码修改成功，请退出重新登录！');
                    top.location.href = "{:U('Wap/account/logout')}";
                }else{
                    alert(data.info);
                }
            }
        });
    });*/
</script>
