<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
	<include file="Common:breadcrumb" />
	<div id="page-inner" class="container">
			<div class="search-form">
				<button type="button" class="btn btn-primary btn-sm" onclick="addAdminUser()"><i class="glyphicon glyphicon-plus"></i> 添加管理员</button>
			</div>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<th>管理员名称</th>
					<th>超级管理员</th>
                    <th>管理员姓名</th>
                    <th>所在部门</th>
					<th>角色组</th>
					<th>状态</th>
					<th>上次登录时间</th>
					<th>操作</th>
				</thead>
				<tbody>
					<volist name="lists" id="one">
					   <tr>
					   		<td>{$one.username}</td>
					   		<td><php>if($one['super_admin']==1){echo '是';}else{echo '否';}</php></td>
					   		<td>{$one.name}</td>
                            <td>{$one.department}</td>
                            <td>{$one.rolename}</td>
					   		<td><php>if($one['status']==1){echo '正常';}else{echo '已禁用';}</php></td>
					   		<td>{$one.login_time}</td>
					   		<td>
					   			<span onclick="editAdminUser({$one.id})" class="glyphicon glyphicon-pencil">修改</span>
					   		</td>
					   </tr>
					</volist>
				</tbody>
			</table>
			<div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
		</div>
	</div>
</div>
<!-- 模态框（Modal) -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form class="form-horizontal" id="myform" action="" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createModalLabel">添加修改管理员</h4>
            </div>
            <div class="modal-body form-horizontal">
            	<input type="hidden" name="modid" value="0" />
             	
             	<div class="form-group form-group-sm">
             		<label class="col-sm-3 control-label talign-right fz13">登录名</label>
				    <div class="col-sm-7">
				    	<input type="text" class="form-control" name="username">
				    </div>
                    <div class="clearfix"></div>
             	</div>
             	<div class="form-group form-group-sm">
             		<label class="col-sm-3 control-label talign-right fz13">登录密码</label>
				    <div class="col-sm-7">
				    	<input type="password" class="form-control" name="password" value="" placeholder="登录密码" />
				    </div>
                    <div class="clearfix"></div>
             	</div>
               
              	<div class="form-group form-group-sm">
             		<label class="col-sm-3 control-label talign-right fz13">姓名</label>
				    <div class="col-sm-7">
				    	<input type="text" class="form-control" name="name">
				    </div>
                    <div class="clearfix"></div>
             	</div>
                <div class="form-group form-group-sm">
             		<label class="col-sm-3 control-label talign-right fz13">所属部门</label>
			      <div class="col-sm-7">
                   	<select class="form-contorl" name="department">
                        	<option value=" ">选择部门</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                      </select>
				    </div>
                    <div class="clearfix"></div>
             	</div>
                              
             	<div class="form-group form-group-sm">
             		<label class="col-sm-3 control-label talign-right fz13">是否是超级管理员</label>
				    <div class="col-sm-7">
				    	<input type="radio" name="super_admin" value="1"> 是&nbsp;
				    	<input type="radio" name="super_admin" value="0"> 否
				    	<p class="help-block">如果是超级管理员,下面就不要进行选择</p>
				    </div>
                    <div class="clearfix"></div>
             	</div>
             	<div class="form-group form-group-sm" id="rolegroup">
             		<label class="col-sm-3 control-label talign-right fz13">角色组</label>
				    <div class="col-sm-7">
				    	<select name="gid">
				    		<volist name="roles" id="vo">
				    			<option value="{$vo.id}">{$vo.rolename}</option>
				    		</volist>
				    	</select>
				    </div>
                    <div class="clearfix"></div>
             	</div>
				<div class="form-group form-group-sm">
				<label class="col-sm-3 control-label talign-right fz13">所能审核的部门</label>
					<div class="col-sm-7">
						<input type="checkbox" name="audit[]" value="A" >A
						<input type="checkbox" name="audit[]" value="B" >B
						<input type="checkbox" name="audit[]" value="C" >C
						<input type="checkbox" name="audit[]" value="D" >D
						<input type="checkbox" name="audit[]" value="E" >E
						<input type="checkbox" name="audit[]" value="F" >F
				<p class="help-block">如果是审核员，请勾选，其他角色请勿勾选</p>
					</div>
					<div class="clearfix"></div>
				</div>
             	<div class="form-group form-group-sm">
             		<label class="col-sm-3 control-label talign-right fz13">状态</label>
				    <div class="col-sm-7">
				    	<input type="radio" name="status" value="1"> 开启&nbsp;
				    	<input type="radio" name="status" value="0"> 禁用
				    </div>
                    <div class="clearfix"></div>
             	</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" onclick="doAddAdminUser()">确定</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
$(document).on("click","input[name='super_admin']",function(){
	var val = $(this).val();
	if(val==1){
		$("#rolegroup").hide();
	}else{
		$("#rolegroup").show();
	}
});
function addAdminUser(){
	var modal = $("#editModal");
	modal.find("input[name='modid']").val(0);
	modal.modal();
}
function editAdminUser(id){
	var modal = $("#editModal");
	if(typeof id=='undefined') return;
	
	$.ajax({
		type:"post",
		url:"{:U('/admin/auth/getAdminUser')}",
		dataType:"json",
		data:{"id":id},
		success:function(ret){
			if(ret.msg=='succ'){
				var info = ret.info;
				if(info){
					modal.find("input[name='modid']").val(info.id);
					modal.find("input[name='name']").val(info.name);
					modal.find("input[name='password']").val("");
					modal.find("select[name='department']").val(info.department);
					modal.find("input[name='username']").val(info.username);
					modal.find("input[name='status'][value="+info.status+"]").prop('checked',true);
					modal.find("input[name='super_admin'][value="+info.super_admin+"]").prop('checked',true);
                    var s=info['audit'];

                    modal.find("input[name='audit[]']").prop('checked',false);

                var arr = s.split(",");
                    for(var i=0;i<arr.length;i++){
                        modal.find("input[name='audit[]'][value="+arr[i]+"]").prop('checked',true);}
					if(info.super_admin==1){
						$("#rolegroup").hide();
					}else{
						$("#rolegroup").show();
					}
					if(info.gid){
						modal.find("select[name='gid']").val(info.gid);
					}
					
				}				
				modal.modal();
			}
		}
	});
}
function doAddAdminUser(){
	var options = {
    	url: "{:U('/admin/auth/doAddAdmin')}",
    	dataType: 'json',
    	beforeSubmit: function(){
			return true;
    	},
        success: function (data) {
        	if(data.msg=='succ'){
        		var _options = {"text":"修改成功！","action":function(){window.location.reload();}};
                doAlertDialog(_options);
        	}else{
        		var _options = {"text":"修改失败！"};
        		if(data.msg) _options.text = data.msg;
        		doAlertDialog(_options);
        	}
        }
    };
    $("#myform").ajaxForm(options);
    return false;
}

</script>
<include file="Common:footer" />