<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <th width="10%">序号</th>
            <th width="30%">中心编码</th>
            <th width="15%">合同</th>
            <th width="15%">检验记录</th>
            <th width="15%">检验报告</th>
            <th>操作</th>
            </thead>

            <tbody>
            <volist name="rs" id="one">
                <tr>
                    <td>{$one.id}</td>
                    <td>{$one.centreno}</td>
                    <td><a href="{:U('/admin/manager/contractdetail')}?id={$one.centreno}"  class="btn btn-info btn-xs "  ><i class="glyphicon glyphicon-search"></i>合同详情</a></td>
                    <td><a href="{:U('/admin/manager/testrecorddetail')}?id={$one.centreno}"  class="btn btn-info btn-xs "  ><i class="glyphicon glyphicon-search"></i>检验记录详情</a></td>
                    <td><a href="{:U('/admin/manager/testreportdetail')}?id={$one.centreno}"  class="btn btn-info btn-xs "  ><i class="glyphicon glyphicon-search"></i>检验报告详情</a></td>
                    <td><a href="javascript:void(0);" onclick="onUpdate({$one.id})" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok-circle"></i> 批准</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>
    </div>
</div>
</div>
<!-- 点击批准按钮提交数据信息 -->
<script type="text/javascript">
    function onUpdate(id){
        if(!id) return false;
        var _options = {"flag":"error","text":"您确定要批准此项目吗！","buttons":{"ok":{"action":function(){doneUpd(id);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doneUpd(id){
        if(!id) return false;
        $.ajax({
            type:"post",
            url:"{:U('/admin/manager/doUpd')}",
            data:{"id":id},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"批准成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"批准失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
</script>
<include file="Common:footer" />