<include file="Common:header" title="后台首页"/>

<div id="page-wrapper">
	<include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
    <form id="form2" name="form1" method="post" action="">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <td  colspan="6" ><p align="center" >更改（补充）检验报告单</p></td>   
          </tr>
          <tr>
            <td><p align="center" >编号</p></td>  
            <td colspan="5"><p align="center">
            	<input name="edit_No" type="text" class="form-control"  class="form-control" id="edit_No" value="{$one.edit_no}" /> 
            </p></td> 
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >中心编号 </p></td>
            <td width="361" valign="center" ><p align="center" >
            	<input name="centreNo" type="text" class="form-control"  class="form-control" id="centreNo" value="{$centreNo}"  readonly="readonly"/> 
            </p></td>
            <td width="147" valign="center" colspan="2" ><p align="center" >样品名称 </p></td>
            <td width="355" valign="center" colspan="2" ><p align="center" >
            	<input name="sampleName" type="text" class="form-control"  class="form-control" id="sampleName" value="{$one.samplename}"/> 
            </p></td>
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >委托/受检单位 </p></td>
            <td width="863" valign="center" colspan="5" ><p align="center" >
            	<input name="clientName" type="text" class="form-control"  class="form-control" id="clientName" value="{$one.clientname}"/> 
            </p></td>
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >更改项目 </p></td>
            <td width="863" valign="center" colspan="5" ><p align="center" >
            	<input name="update_item[]" type="text" class="form-control"  class="form-control" id="update_item1" />
                <br/> 
                <input name="update_item[]" type="text" class="form-control"  class="form-control" id="update_item2" /> 
                <br/> 
                <input name="update_item[]" type="text" class="form-control"  class="form-control" id="update_item3" /> 
                <br/> 
                <input name="update_item[]" type="text" class="form-control"  class="form-control" id="update_item4" /> 
                <br/> 
                <input name="update_item[]" type="text" class="form-control"  class="form-control" id="update_item5" /> 
                <br/> 
                <input name="update_item[]" type="text" class="form-control"  class="form-control" id="update_item6" /> 
            </p></td>
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >更改原因 </p></td>
            <td width="863" valign="center" colspan="5" ><p align="center" >
      			<textarea class="form-control"  name="update_reason" id="update_reason" rows="5">{$one.update_reason}</textarea></p>
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >申请人（签名）</p></td>
            <td width="863" valign="center" colspan="5" ><p align="center" >
      			<input name="applicant" type="text" class="form-control"  class="form-control" id="applicant" value="{$one.applicant}" /></p>
            </td>
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >经办人 </p></td>
            <td width="404" valign="center" colspan="2" ><p align="center" >
            	<input name="handler" type="text" class="form-control"  class="form-control" id="handler" value="{$one.handler}"/>
            </p></td>
            <td width="151" valign="center" colspan="2" ><p align="center" >办理日期 </p></td>
            <td width="306" valign="center" ><p align="center" >
            	<input type="text" readonly class="form-control f-datetime input-sm" name="handleDate" id="handleDate" value="{$one.handledate}"/>
            </p></td>
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >上传附件 </p></td>
            <td width="404" valign="center" colspan="6" ><p align="center" >
            	<div class="form-group">
                    <label class="col-sm-2 control-label talign-center fz13">照片</label>
				    <div class="col-sm-10">
				      	<div class="face" id="attachment" style="width: 120px;height: 80px;" onclick="onFileUpload()"><img src="{$one['imageurl']}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="height: 100%;" /></div>
				      	<input type="hidden" name="imgurl" value="{$one['imageurl']}" />
						<input type="file" name="file" onchange="ajaxFileUpload()" id="addfile" style="display:none;"  />
				    </div>
				    <div class="clearfix"></div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label talign-center fz13">备注</label>
				    <div class="col-sm-10">
				      <textarea class="form-control" name="image_remark">{$one.image_remark}</textarea>
				      <p class="help-block">（选填）</p>
				    </div>
				    <div class="clearfix"></div>
			  	</div>
            </p></td>
            
          </tr>
          <tr >
            <td width="141" valign="center" ><p align="center" >备注 </p></td>
            <td width="863" valign="top" colspan="5" ><p >1、若因委托单位名称发生变更需对报告进行修改，须提供工商部门办法的相关证明材料营业执照复印件。 <br />
              2、以下情况，检测报告一律不予修改： <br />
              &#9312;准确无误的检测数据； <br />
              &#9313;实际送样日期； <br />
              &#9314;检测报告中的样品状况及气体重要信息的正确描述，委托报告不得变更为抽样检测报告。； <br />
              &#9315;检测报告超过标准规定的有效期限不予更改。 <br />
              3、除因本中心原因发生的报告更改，其他情况下一律按照正常副本价格进行收费。 </p></td>
          </tr>
        </table>
        <input type="hidden" name="count" id="count" value="{$count}" />
        <input type="hidden" name="update_items" id="update_items" value="{$one.update_item}" />
        <input type="hidden" name="if_edit" id="if_edit" value="{$one.if_edit}" />
        <if condition="$count == 0 || $one.if_edit == 0">
        	<button class="btn btn-success" type="submit" onClick="saveData()">保存</button>
            <!--<a class="btn btn-success edit" href="/admin/contract/doUploadInsImage?centreno={$one.centreno}">上传附件</a>-->
        <else />
        	<a class="btn btn-success" href="/admin/contract/reWriteTest?id={$centreNo}">打印</a>
        </if>
        <button type="button" class="btn btn-success" onclick="javascript:history.go(-1);">返 回</button>
      </form>
    </div>
    
</div>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script src="__PUBLIC__/static/js/ajaxfileupload.js"></script>
<script type="text/javascript">
	//时间
	$(document).ready(function(){
		$('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,	autoclose:true });
		var count = $("#count").val();
		var if_edit = $("#if_edit").val();
		if(count>0 && if_edit == 1){
			$('input,textarea').prop('disabled',true);
		}	
		var update_item = $("#update_items").val();
		var a = update_item.split("/&&/");
		for(var i=1 ; i<=a.length; i++){
			$("#update_item" + i).val(a[i-1]);
		}
	});	
	
	//--------------------------------------------------------上传附件 start-------------------------------------------------------------
	function ajaxFileUpload(){
    	var file = $("#addfile").val();
    	if(file){
    		$.ajaxFileUpload({
		        url: "{:U('Uploader/start')}",
		        secureuri: false,
		        fileElementId: 'addfile',
		        dataType: 'JSON', 
		        success: function (data, status) {
		        	var ret = JSON.parse(data);
		        	$("#addfile").val("");
					//alert(ret.url);
		        	if(ret.info=='succ'){
		        		$("input[name='imgurl']").val(ret.url);
		        		$("#attachment img").attr("src",ret.url);
		        	}else{
		        		var _options = {"text":"上传失败","flag":"error"};
		            	if(ret.info) _options.text = ret.info;
		            	doAlertDialog(_options);  
		        	}
		        },
		        error: function (data, status, e){
		            var _options = {"text":"上传失败","flag":"error"};
		            doAlertDialog(_options);         
		        }
		    });
    	}
	    return false;
    }
    function onFileUpload() {
    	$('#addfile').click();
    	return false;
	}

	//--------------------------------------------------------上传附件 end-------------------------------------------------------------
	
	//合同入库
	function saveData(){
		//if(confirm('确认提交吗？')){
			var options = {
				url: "{:U('/admin/contract/saveInspecReport')}",
				dataType: 'json',
				beforeSubmit: function(){
					return true;
				},
				success: function (data) {
					if(data.msg=='succ'){
						var _options = {"text":"录入成功！","action":function(){window.location.reload();}};
						doAlertDialog(_options);
					}else{
						var _options = {"text":"录入失败,请完善信息"};
						if(data.msg) _options.text = data.msg;
						doAlertDialog(_options);
					}
				}
			};
			$("#form2").ajaxForm(options);
			return false;
		//}
	}
</script>