<include file="Common:header" title="后台首页"/>

<div id="page-wrapper">
	<include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
      <form id="form2" name="form1" method="post" action="">
        <table class="table table-bordered table-striped table-hover">
          <tr >
            <td  colspan="9" ><p align="center" >委 托 人 填 写 </p></td>
          </tr> 
          <tr > 
            <td><p align="center" >委托单位 </p></td>
            <td colspan="8" >
                <input name="clientName" type="text" class="form-control"  class="form-control" id="clientName2" size="100" value=""/>       
            </td>
          </tr> 
          <tr > 
            <td ><p align="center" >生产单位 </p></td>
            <td colspan="8" ><input name="productUnit" type="text" class="form-control"  class="form-control"  id="productUnit2" size="100"/></td>
          </tr> 
          <tr > 
            <td ><p align="center" >样品名称 </p></td>
            <td  colspan="2"><input name="sampleName" type="text" class="form-control"  id="sampleName2" size="20" /></td>
            <td  colspan="1"><p align="center" >样品编号 </p></td>
            <td  colspan="2"><input name="sampleCode" type="text" class="form-control"  id="sampleCode2" size="20" /></td>
            <td><p align="center" >等级 </p></td>
            <td colspan="2"><input type="text" class="form-control"  name="grade" id="grade2" size="5"/></td>
          </tr>
          <tr >
            <td  ><p align="center" >规格型号 </p></td>
            <td  colspan="2"><input type="text" class="form-control"  name="specification" id="specification2" size="20"/></td>
            <td  colspan="1"><p align="center" >商标 </p></td>
            <td  colspan="5" ><input type="text" class="form-control"  name="trademark" id="trademark2" /></td>
          </tr>
          <tr >
            <td><p align="center" >生产日期/批号 </p></td>
            <td colspan="2"><input type="text" readonly class="form-control f-datetime input-sm" name="productionDate"/>
            <td colspan="1"><p align="center" >样品数量 </p></td>
            <td colspan="5" >
            	<div class="col-xs-4">
            		<input type="text" class="form-control"  name="sampleQuantity" id="sampleQuantity" size="5"/>
                </div>
              <label>
                <select name="sampleunti" id="select" value="sampleunti" class="form-control">
                	<option value="kg">kg</option>
                    <option value="g">g</option>
                    <option value="L">L</option>
                    <option value="mL">mL</option>
                </select>
            </label></td>
          </tr>
          <tr >
            <td ><p align="center" >样品状态 </p></td>
            <td colspan="2"><input type="text" class="form-control"  name="sampleStatus" id="sampleStatus2" /></td>
            <td colspan="1"><p align="center" >粉（料）水比 </p></td>
            <td colspan="5" ><input type="text" class="form-control"  name="ration" id="ration2" /></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >检验依据 </p></td>
            <td colspan="8" ><input type="text" class="form-control"  name="testCriteria" id="testCriteria2" size="100"/></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >检验项目 </p></td>
            <td colspan="8" ><p>
              <input name="testItem" type="text" class="form-control"  id="testItem" size="100"/>
            </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >检验类别 </p></td>
            <td colspan="8" ><p align="center" >
              <input type="radio" name="testCategory" id="testCategory10" value="委托检验" checked="checked"/>委托检验
              
              <input type="radio" name="testCategory" id="testCategory11" value="抽样检验" />抽样检验
              
              <input type="radio" name="testCategory" id="testCategory12" value="形式检验" />型式检验
            </p></td>
          </tr>
          <tr >
            <td valign="center" colspan="6" ><p >检验报告是否在本中心网站可查询真伪 ?（www.dmtc.org.cn） </p></td>
            <td valign="center" colspan="3" ><p >是
              <input type="radio" name="ifOnline" id="testCategory13" value="1" />
              否
              <input type="radio" name="ifOnline" id="testCategory14" value="0" />
            </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >报告提交方式 </p></td>
            <td valign="center" colspan="2"><p >自取
              <input type="radio" name="postMethod" id="testCategory15" value="自取" />
              邮寄
              <input type="radio" name="postMethod" id="testCategory16" value="邮寄" />
            </p></td>
            <td colspan="3"><p align="center" >是否同意分包 </p></td>
            <td  colspan="3"><p >是
              <input type="radio" name="ifSubpackage" id="testCategory17" value="1" />
              否
              <input type="radio" name="ifSubpackage" id="testCategory18" value="0" />
            </p></td>
          </tr>
          <tr >
            <td  ><p align="center" >委托人(签字)</p></td>
            <td  colspan="2"><input name="clientSign" type="text" class="form-control"  id="clientSign2" size="3" /></td>
            <td  ><p align="center" >联系电话 </p></td>
            <td colspan="2" ><input type="text" class="form-control"  name="telephone" id="telephone2" size="8"/></td>
            <td  ><p align="center" >传真 </p></td>
            <td colspan="2" ><input type="text" class="form-control"  name="tax" id="tax2" size="11" /></td>
          </tr>
          		  <tr >
            <td  ><p align="center" >邮政编码 </p></td>
            <td  colspan="2"><input type="text" class="form-control"  name="postcode" id="postcode2" size="8"/></td>
            <td  ><p align="center" >E-mail </p></td>
            <td  colspan="5" ><input type="text" class="form-control"  name="email" id="email2" /></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >通讯地址 </p></td>
            <td valign="center" colspan="8" ><input type="text" class="form-control"  name="address" id="address2" size="100"/></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >备注 </p></td>
            <td valign="center" colspan="8" >
            <textarea class="form-control"  name="remark" id="remark"></textarea></td>
          </tr>
          <tr >
            <td   colspan="9" ><p align="center" >中 心 办 公 室 填 写 </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >样品状态及数量 </p></td>
            <td valign="center" colspan="3"><input type="text" class="form-control"  name="sampleStaQuan" id="sampleStaQuan2" size="20"/></td>
            <td valign="center" ><p align="center" >收 样 人 </p></td>
            <td valign="center" colspan="4" ><input type="text" class="form-control"  name="collector" id="collector2" size="20"/></td>
          </tr>
          <tr >
            <td  ><p align="center" >中心编号 </p></td>
            <td   colspan="3" ><p>
              <input type="text" class="form-control"  name="centreNo" id="centreNo" readonly="readonly" size="9"/>
              <!--<input type="button" name="button2" id="button2" value="生成中心编码" />-->
              <input name="ifHighQuantity" type="checkbox" value="0" onClick="upVIPCode()"/>
              是否为优质编码
              <div id="remainCode" style="display:none;color:red">
                当前剩余量：<span id="remain"></span>
              </div>
              <button class="btn btn-success" type="button">申请特殊编码</button>
            </p></td>
            <td  ><p align="center" >检验费用 </p></td>
            <td  colspan="4" >
              <div class="col-xs-5">
              	<input name="testCost1" type="text" class="form-control"  id="myCost" size="5" placeholder="本部门" readonly onChange="computeSum()"  onClick="myCost1()"/>
                +
              <input name="testCost2" type="text" class="form-control"  id="dCost" size="5" placeholder="D部门" readonly onChange="computeSum()"  onClick="dCost1()"/>
              +
              <input name="testCost3" type="text" class="form-control"  id="copyCost" placeholder="副本" onKeyUp="computeSum()" size="5" />
              +
              <input name="testCost4" type="text" class="form-control"  id="editCost" placeholder="修改" onKeyUp="computeSum()" size="5" />
              =
              <input name="testCost" type="text" class="form-control"  id="sumCost" placeholder="总计"  size="8" readonly /></td>
              </div>
              
          </tr>
          <tr >
            <td  ><p align="center" >收样日期 </p></td>
            <td  colspan="3" ><p >
            
            <div class="form-group">
				 <input type="text" readonly class="form-control f-datetime input-sm" name="collectDate">
				  	</div>
            </p></td>
            <td valign="center" ><p align="center" >报告日期<u> </u></p></td>
            <td  colspan="4" ><p ><input type="text" readonly class="form-control f-datetime input-sm" name="reportDate"></p></td>
          </tr>
          <tr >
            <td valign="center" ><p >说明 </p></td>
            <td  colspan="8" ><ol>
              <li>委托人应对所提供的资料、信息和样品的真实性负责。 </li>
              <li>若对本单内容有变动，请委托方电话、邮件、传真通知受理人。 </li>
              <li>本中心仅对来样负责。 </li>
              <li>委托方要求取走剩余样品时，若在收到检验报告后一个月内未取回，且没有说明情况的，剩余样品由中心统一处理；样品取走后不再受理异议申诉。 </li>
            </ol></td>
          </tr>
        </table>
        
        <button class="btn btn-success" type="button" id="sampling_list" on>生成抽样单</button>
        <button class="btn btn-success" type="submit" id="check_list" onClick="doInputContract()">录入并生成检验工作单</button>
      </form>
    </div>
    
</div>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
		
</script>
</body>