<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
	<include file="Common:breadcrumb" />
	<div id="page-inner" class="container">
			<form class="form-horizontal" id="myform" action="" method="post">
				<input type="hidden" name="id" value="{$centreno}" />
                <input type="hidden" name="type" value="{$type}" />
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label talign-center fz13">抽样单图片</label>
				    <div class="col-sm-10">
				      	<div class="face" id="attachment" style="width: 120px;height: 80px;" onclick="onFileUpload()"><img src="{$stamp['offcial_seal']}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="height: 100%;" /></div>
				      	<input type="hidden" name="imgurl" value="{$stamp['offcial_seal']}" />
						<input type="file" name="file" onchange="ajaxFileUpload()" id="addfile" style="display:none;"  />
				    </div>
				    <div class="clearfix"></div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label talign-center fz13">备注</label>
				    <div class="col-sm-10">
				      <textarea class="form-control" name="remark"></textarea>
				      <p class="help-block">（选填）</p>
				    </div>
				    <div class="clearfix"></div>
			  	</div>

			  	<div class="form-group">
				  	<label class="col-sm-2 control-label talign-center">&nbsp;</label>
				    <div class="col-sm-10">
                        <if condition="($ifedit['ifedit'] == 0) OR (($ifedit['ifedit'] == 1) and ($sub_status['status'] == 1))">
        					<button type="submit" class="btn btn-success" onclick="onSave()">保 存</button>
       					</if>		   		
                        <button type="button" class="btn btn-success" onclick="javascript:history.go(-1);">返 回</button>
				    </div>
				</div>
			</form>
            <!--抽样单列表/现场图片列表-->
            <div>
            	<table class="table table-bordered table-striped table-hover">
                	<thead>
                    	<th>序号</th>
                        <th>中心编号</th>
                        <th>缩列图</th>
                        <th>备注</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                    	<volist name="list" id="one">
                        	<tr>
                            	<td>{$i}<input type="hidden" id="pic_id" value="{$one.id}"></td>
                                <td>{$one.centreno}</td>
                                <td>
                                	<a href="javascript:void(0);" name="{$one.picture_name}" onclick="return Check(this);">
                               			<img src="{$one.picture_name}" onerror="this.src='__PUBLIC__/static/images/default-timg.gif'" style="width: 90px;"/>
                                	</a>
                                </td>
                                <td>{$one.remark}</td>
                                <td><a href="javascript:void(0);" onclick="onDelete({$one.id})" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> 删除</a></td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script src="__PUBLIC__/static/js/ajaxfileupload.js"></script>
<script type="text/javascript">

	function ajaxFileUpload(){
    	var file = $("#addfile").val();
    	if(file){
    		$.ajaxFileUpload({
		        url: "{:U('Uploader/start')}",
		        secureuri: false,
		        fileElementId: 'addfile',
		        dataType: 'JSON', 
		        success: function (data, status) {
		        	var ret = JSON.parse(data);
		        	$("#addfile").val("");
					//alert(ret.url);
		        	if(ret.info=='succ'){
		        		$("input[name='imgurl']").val(ret.url);
		        		$("#attachment img").attr("src",ret.url);
		        	}else{
		        		var _options = {"text":"上传失败","flag":"error"};
		            	if(ret.info) _options.text = ret.info;
		            	doAlertDialog(_options);  
		        	}
		        },
		        error: function (data, status, e){
		            var _options = {"text":"上传失败","flag":"error"};
		            doAlertDialog(_options);         
		        }
		    });
    	}
	    return false;
    }
    function onFileUpload() {
    	$('#addfile').click();
    	return false;
	}

	function onSave(){
        var options = {
        	url: "{:U('/admin/contract/saveSampleImage')}",
        	dataType: 'json',
        	beforeSubmit: function(){
				return true;
        	},
            success: function (data) {
            	if(data.msg=='succ'){
            		var _options = {"text":"上传成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
            	}else{
            		var _options = {"text":"上传失败！"};
            		if(data.msg) _options.text = data.msg;
            		doAlertDialog(_options);
            	}
            }
        };
        $("#myform").ajaxForm(options);
        return false;
	}

	//删除图片
	function onDelete(id){
		if(!id) return false;
		var _options = {"flag":"error","text":"您确定要删除吗！","buttons":{"ok":{"action":function(){doneDel(id);}},"cancel":{}}};
		doConfirmDialog(_options);
	}
	
	function doneDel(id){
		if(!id) return false;
		$.ajax({
			type:"post",
			url:"{:U('/admin/contract/doDeleteSample')}",
			data:{"id":id},
			dataType:"json",
			success:function(ret){
				if(ret.msg=='succ'){
					var _options = {"text":"删除成功！","action":function(){window.location.reload();}};
					doAlertDialog(_options);
				}else{
					var _options = {"text":"删除失败！"};
					if(data.msg) _options.text = data.msg;
					doAlertDialog(_options);
				}
			}
		});
	}
	
	//点击查看原图
    function Check(path) {
        var url=path.name;
        if(!url) return false;//获取缩略图url
        var newurl=url.replace("_thumb","");//重写
        window.open(newurl);
    }

</script>
<include file="Common:footer" />