<include file="Common:header" title="后台首页"/>

<div id="page-wrapper">
	<include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
      <form id="form2" name="form1" method="post" action="">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <td  colspan="9" ><p align="center" >委 托 人 填 写 </p></td>
            <input name="department" type="hidden"  id="department" value="{$department}" />  
          </tr> 
          <tr > 
            <td><p align="center" ><span style="color:red; font-size:15px">*</span>委托单位 </p></td>
            <td colspan="8" >
                <input name="clientName" type="text" class="form-control"  class="form-control" id="clientName2" size="100" />       
            </td>
          </tr> 
          <tr > 
            <td ><p align="center" ><span style="color:red; font-size:15px">*</span>生产单位 </p></td>
            <td colspan="8" ><input name="productUnit" type="text" class="form-control"  class="form-control"  id="productUnit2" size="100"/></td>
          </tr> 
          <tr > 
            <td ><p align="center" ><span style="color:red; font-size:15px">*</span>样品名称 </p></td>
            <td  colspan="2"><input name="sampleName" type="text" class="form-control"  id="sampleName2" size="20" /></td>
            <td  colspan="1"><p align="center" >样品编号 </p></td>
            <td  colspan="2"><input name="sampleCode" type="text" class="form-control"  id="sampleCode2" size="20" /></td>
            <td><p align="center" >等级 </p></td>
            <td colspan="2"><input type="text" class="form-control"  name="grade" id="grade2" size="5"/></td>
          </tr>
          <tr >
            <td  ><p align="center" >规格型号 </p></td>
            <td  colspan="2"><input type="text" class="form-control"  name="specification" id="specification2" size="20"/></td>
            <td  colspan="1"><p align="center" >商标 </p></td>
            <td  colspan="5" ><input type="text" class="form-control"  name="trademark" id="trademark2" /></td>
          </tr>
          <tr >
            <td><p align="center" >生产日期/批号 </p></td>
            <td colspan="2"><!--<input type="text" readonly class="form-control f-datetime input-sm" name="productionDate"/>-->
           					<input type="text" class="form-control" name="productionDate"/>
            <td colspan="1"><p align="center" ><span style="color:red; font-size:15px">*</span>样品数量 </p></td>
            <td colspan="5" >
            	<div class="col-xs-4">
            		<input type="text" class="form-control"  name="sampleQuantity" id="sampleQuantity" size="5"/>
                </div>
              <!--<label>
                <select name="sampleunti" id="select" value="sampleunti" class="form-control">
                	<option value="kg">kg</option>
                    <option value="g">g</option>
                    <option value="L">L</option>
                    <option value="mL">mL</option>
                </select>
            </label>--></td>
          </tr>
          <tr >
            <td ><p align="center" ><span style="color:red; font-size:15px">*</span>样品状态 </p></td>
            <td colspan="2"><input type="text" class="form-control"  name="sampleStatus" id="sampleStatus2" /></td>
            <td colspan="1"><p align="center" >粉（料）水比 </p></td>
            <td colspan="5" ><input type="text" class="form-control"  name="ration" id="ration2" /></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>检验依据 </p></td>
            <td colspan="8" ><input type="text" class="form-control"  name="testCriteria" id="testCriteria2" size="100"/></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>检验项目 </p></td>
            <td colspan="8" ><p>
              <input name="testItem" type="text" class="form-control"  id="testItem" size="100"/>
            </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>检验类别 </p></td>
            <td colspan="8" ><p align="center" >
              <input type="radio" name="testCategory" id="testCategory10" value="委托检验" checked="checked"/>委托检验
              
              <input type="radio" name="testCategory" id="testCategory11" value="抽样检验" />抽样检验
              
              <input type="radio" name="testCategory" id="testCategory12" value="形式检验" />型式检验
            </p></td>
          </tr>
          <tr >
            <td valign="center" colspan="6" ><p >检验报告是否在本中心网站可查询真伪 ?（www.dmtc.org.cn） </p></td>
            <td valign="center" colspan="3" ><p >是
             <input type="hidden" name="ifOnline" value="1"/>
               <!--否
              <input type="radio" name="ifOnline" id="testCategory14" value="0" readonly="readonly" />-->
            </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >报告提交方式 </p></td>
            <td valign="center" colspan="2"><p >自取
              <input type="radio" name="postMethod" id="testCategory15" value="自取" checked="checked"/>
              邮寄
              <input type="radio" name="postMethod" id="testCategory16" value="邮寄" />
            </p></td>
            <td colspan="3"><p align="center" >是否同意分包 </p></td>
            <td  colspan="2"><p >是
              <input type="radio" name="ifSubpackage" id="ifSubpackage" value="1"  checked="checked" onclick="pack_remark()" />
              否
              <input type="radio" name="ifSubpackage" id="ifSubpackage" value="0" onclick="pack_remark()"/>
            </p></td>
            <td  colspan="2"><p >
              <input type="text" name="package_remark" id="package_remark" value="" class="form-control" placeholder="分包备注" />
            </p></td>
          </tr>
          <tr >
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>委托人(签字)</p></td>
            <td  colspan="2"><input name="clientSign" type="text" class="form-control"  id="clientSign2" size="3" /></td>
            <td  ><p align="center" >联系电话 </p></td>
            <td colspan="2" ><input type="text" class="form-control"  name="telephone" id="telephone2" size="8"/></td>
            <td  ><p align="center" >传真 </p></td>
            <td colspan="2" ><input type="text" class="form-control"  name="tax" id="tax2" size="11" /></td>
          </tr>
          		  <tr >
            <td  ><p align="center" >邮政编码 </p></td>
            <td  colspan="2"><input type="text" class="form-control"  name="postcode" id="postcode2" size="8"/></td>
            <td  ><p align="center" >E-mail </p></td>
            <td  colspan="5" ><input type="text" class="form-control"  name="email" id="email2" /></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >通讯地址 </p></td>
            <td valign="center" colspan="8" ><input type="text" class="form-control"  name="address" id="address2" size="100"/></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >备注 </p></td>
            <td valign="center" colspan="8" >
            <textarea class="form-control"  name="remark" id="remark"></textarea></td>
          </tr>
          <tr >
            <td   colspan="9" ><p align="center" >中 心 办 公 室 填 写 </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>样品状态及数量 </p></td>
            <td valign="center" colspan="3"><input type="text" class="form-control"  name="sampleStaQuan" id="sampleStaQuan2" size="20"/></td>
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>收 样 人 </p></td>
            <td valign="center" colspan="4" ><input type="text" class="form-control" readonly name="collector" id="collector2" value="{$collector}"/></td>
          </tr>
          <tr >
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>中心编号 </p></td>
            <td   colspan="3" ><p>
              <input type="text" class="form-control"  name="centreNo" id="centreNo" readonly="readonly" size="9"/>
              <!--<input type="button" name="button2" id="button2" value="生成中心编码" />-->
              <input name="ifHighQuantity" type="checkbox" value="0" onClick="upVIPCode()"/>
              是否为优质编码
              <div id="remainCode" style="display:none;color:red">
                当前剩余量：<span id="remain"></span>
              </div>
              <input type="checkbox" id="spec_checkbox" onclick="special_code()"/>申请特殊编码<br/>
              <!--<button class="btn btn-success" type="button" onclick="special_code()">申请特殊编码</button>-->
              <div>
              		<ul id="spe_code" style="display:none">
                    	
                    <ul>
              </div>
            </td>
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>检验费用 </p></td>
            <td  colspan="4" >
              <div class="col-xs-6">
              <input name="Arecord" type="text" class="form-control"  id="Arecord" size="5" placeholder="A部门" readonly   onClick="Cost('A')"/>
              +
              <input name="Brecord" type="text" class="form-control"  id="Brecord" size="5" placeholder="B部门" readonly  onClick="Cost('B')"/>
              +
              <input name="Crecord" type="text" class="form-control"  id="Crecord" size="5" placeholder="C部门" readonly  onClick="Cost('C')"/>
              +
              <input name="Drecord" type="text" class="form-control"  id="Drecord" size="5" placeholder="D部门" readonly  onClick="Cost('D')"/>
              +
              <input name="Erecord" type="text" class="form-control"  id="Erecord" size="5" placeholder="E部门" readonly  onClick="Cost('E')"/>
              +
              <input name="Frecord" type="text" class="form-control"  id="Frecord" size="5" placeholder="F部门" readonly  onClick="Cost('F')"/>
              +
              <input name="Dcopy" type="text" class="form-control"  id="Dcopy" placeholder="副本" onKeyUp="computeSum()" size="5" />
              +
              <input name="Donline" type="text" class="form-control"  id="Donline" placeholder="上网费" onKeyUp="computeSum()" value="100" />
              +
              <input name="Drevise" type="text" class="form-control"  id="Drevise" placeholder="项目修改" onKeyUp="computeSum()" size="6" />
              +
              <input name="Dother" type="text" class="form-control"  id="Dother" placeholder="其他"  onKeyUp="computeSum()"/>
              =
              <input name="testCost" type="text" class="form-control"  id="sumCost" placeholder="总计"  value="100" readonly />
              </div>
            </td>
          </tr>
          <tr >
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>收样日期 </p></td>
            <td  colspan="3" ><p >
            
            <div class="form-group">
				 <input type="text" readonly class="form-control f-datetime input-sm" name="collectDate">
				  	</div>
            </p></td>
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>报告日期<u> </u></p></td>
            <td  colspan="4" ><p ><input type="text" readonly class="form-control f-datetime input-sm" name="reportDate"></p></td>
          </tr>
          <tr >
            <td valign="center" ><p >说明 </p></td>
            <td  colspan="8" ><ol>
              <li>委托人应对所提供的资料、信息和样品的真实性负责。 </li>
              <li>若对本单内容有变动，请委托方电话、邮件、传真通知受理人。 </li>
              <li>本中心仅对来样负责。 </li>
              <li>委托方要求取走剩余样品时，若在收到检验报告后一个月内未取回，且没有说明情况的，剩余样品由中心统一处理；样品取走后不再受理异议申诉。 </li>
            </ol></td>
          </tr>
        </table>
        
       <!-- <button class="btn btn-success" type="button" id="sampling_list" on>生成抽样单</button>-->
        <button class="btn btn-success" type="submit" id="check_list" onClick="doInputContract()">合同录入</button>
      </form>
    </div>
    
</div>





<div>
    <!-- 模态框（Modal) -->
    <div class="modal fade" id="editModal_A" tabindex="-1" role="dialog" aria-labelledby="editModal_A" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form class="form-horizontal" id="aform" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createModalLabel">本部门费用</h4>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">类别</label>
                        <div class="col-sm-7">
                            <select name="meterial_A" class="form-control" id="meterial_A" onchange="setProOption('A')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">产品名称/标准号</label>
                        <div class="col-sm-7">
                            <select name="productname_A" class="form-control" id="productname_A" onchange="setItemOption('A')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">测试项目</label>
                        <div class="col-sm-7" id="items_A">
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">金额</label>
                        <div class="col-sm-7" id='fee_A'>
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                    <button type="button" class="btn btn-primary" onclick="returnCost('A')" data-dismiss="modal">确定</button>
                </div>
            </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>
<div>
    <!-- 模态框（Modal) -->
    <div class="modal fade" id="editModal_B" tabindex="-1" role="dialog" aria-labelledby="editModal_B" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form class="form-horizontal" id="myform" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createModalLabel">本部门费用</h4>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">类别</label>
                        <div class="col-sm-7">
                            <select name="meterial_B" class="form-control" id="meterial_B" onchange="setProOption('B')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">产品名称/标准号</label>
                        <div class="col-sm-7">
                            <select name="productname_B" class="form-control" id="productname_B" onchange="setItemOption('B')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">测试项目</label>
                        <div class="col-sm-7" id="items_B">
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">金额</label>
                        <div class="col-sm-7" id='fee_B'>
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                    <button type="button" class="btn btn-primary" onclick="returnCost('B')" data-dismiss="modal">确定</button>
                </div>
            </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>

<div>
    <!-- 模态框（Modal) -->
    <div class="modal fade" id="editModal_C" tabindex="-1" role="dialog" aria-labelledby="editModal_C" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form class="form-horizontal" id="myform" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createModalLabel">本部门费用</h4>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">类别</label>
                        <div class="col-sm-7">
                            <select name="meterial_C" class="form-control" id="meterial_C" onchange="setProOption('C')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">产品名称/标准号</label>
                        <div class="col-sm-7">
                            <select name="productname_C" class="form-control" id="productname_C" onchange="setItemOption('C')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">测试项目</label>
                        <div class="col-sm-7" id="items_C">
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">金额</label>
                        <div class="col-sm-7" id='fee_C'>
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                    <button type="button" class="btn btn-primary" onclick="returnCost('C')" data-dismiss="modal">确定</button>
                </div>
            </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>

<div>
    <!-- 模态框（Modal) -->
    <div class="modal fade" id="editModal_D" tabindex="-1" role="dialog" aria-labelledby="editModal_D" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form class="form-horizontal" id="myform" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createModalLabel">本部门费用</h4>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">类别</label>
                        <div class="col-sm-7">
                            <select name="meterial_D" class="form-control" id="meterial_D" onchange="setProOption('D')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">产品名称/标准号</label>
                        <div class="col-sm-7">
                            <select name="productname_D" class="form-control" id="productname_D" onchange="setItemOption('D')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">测试项目</label>
                        <div class="col-sm-7" id="items_D">
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">金额</label>
                        <div class="col-sm-7" id='fee_D'>
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                    <button type="button" class="btn btn-primary" onclick="returnCost('D')" data-dismiss="modal">确定</button>
                </div>
            </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>

<div>
    <!-- 模态框（Modal) -->
    <div class="modal fade" id="editModal_E" tabindex="-1" role="dialog" aria-labelledby="editModal_E" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form class="form-horizontal" id="myform" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createModalLabel">本部门费用</h4>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">类别</label>
                        <div class="col-sm-7">
                            <select name="meterial_E" class="form-control" id="meterial_E" onchange="setProOption('E')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">产品名称/标准号</label>
                        <div class="col-sm-7">
                            <select name="productname_E" class="form-control" id="productname_E" onchange="setItemOption('E')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">测试项目</label>
                        <div class="col-sm-7" id="items_E">
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">金额</label>
                        <div class="col-sm-7" id='fee_E'>
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                    <button type="button" class="btn btn-primary" onclick="returnCost('E')" data-dismiss="modal">确定</button>
                </div>
            </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>

<div>
    <!-- 模态框（Modal) -->
    <div class="modal fade" id="editModal_F" tabindex="-1" role="dialog" aria-labelledby="editModal_F" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form class="form-horizontal" id="myform" action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createModalLabel">本部门费用</h4>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">类别</label>
                        <div class="col-sm-7">
                            <select name="meterial_F" class="form-control" id="meterial_F" onchange="setProOption('F')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">产品名称/标准号</label>
                        <div class="col-sm-7">
                            <select name="productname_F" class="form-control" id="productname_F" onchange="setItemOption('F')">
                                <option value=0>请选择</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">测试项目</label>
                        <div class="col-sm-7" id="items_F">
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label talign-right fz13">金额</label>
                        <div class="col-sm-7" id='fee_F'>
                            
                        </div>
                        <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                    <button type="button" class="btn btn-primary" onclick="returnCost('F')" data-dismiss="modal">确定</button>
                </div>
            </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>
<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
		//生成中心编码
		makeCentreCode();
		$("input[name = 'testCategory']").change(function(){
			makeCentreCode();
		});
		

		
		//时间
		$(document).ready(function(){
			$('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,	autoclose:true });
					//计算费用
					
					

		});	
		
		function makeCentreCode(){
			var nowDate = new Date();
			var year = nowDate.getFullYear();
			var month = nowDate.getMonth()+1;
			month = month<10?'0'+month:month;
			var department = $('#department').val()==''?'D':$('#department').val();
			var type = $('input:radio[name="testCategory"]:checked').val();
			type = (type == '委托检验')?'W':'C';
			var code= '101';
			//获取最新编码
			$.ajax({
				url: "{:U('/admin/contract/getLastCode')}",
				dataType: 'json',			
				data:{"year":year,"month":month},
				async: false,
				success: function (res) {
					//var _options = {"text":"aaa！"};
					//_options.text = data.re;
					//doAlertDialog(_options);
					if(res.re!='none'){
						code = res.re;
						code = parseInt(code.substring(8,11))+1;
					}
				}
			});
			
			var centreCode = year+""+month+department+type+code;
			$('input[name="centreNo"]').val(centreCode);
			if(type=='W'){
				$("#sampling_list").css("display","none");
			}else{	
				$("#sampling_list").css("display","inline-block");
			}
		}
		
		function upVIPCode(){
			if($("input[name='ifHighQuantity']").is(':checked')){
				$("#spec_checkbox").attr("disabled","disabled");
				var nowDate = new Date();
				var year = nowDate.getFullYear();
				var month = nowDate.getMonth()+1;
				month = month<10?'0'+month:month;
				var department = 'B';
				var type = $('input:radio[name="testCategory"]:checked').val();
				type = (type == '委托检验')?'W':'C';
				var code='001';
				var remain;//剩余优质编号
				$.ajax({
					url:"{:U('/admin/contract/getHighCode')}",
					dataType:"json",
					data:{"year":year,"month":month},
					async:false,
					success:function(res){
						if(res.re!='none'){
							code = res.re;
							code = parseInt(code.substring(8,11))+1;
							//保持后面编码为三位数，不够补零
							code = (Array(3).join('0') + code).slice(-3);
						}
					}
				});
							
				var centreCode = year+""+month+department+type+code;
				remain = 100-code+1;
				$('input[name="centreNo"]').val(centreCode);
				$('input[name="ifHighQuantity"]').val(1);
				$("#remain").html(remain+"(含当前编号)");
				$("#remainCode").css("display","block");
			}else{
				$("#spec_checkbox").removeAttr("disabled");
				makeCentreCode();
				$('input[name="ifHighQuantity"]').val(0);
				$("#remainCode").css("display","none");
				
			}
		}
				
		//实时计算总费用
		function computeSum(){
			var sum =0 ;
			if($("#Arecord").val()!="" && $.trim($("#Arecord").val()).length>0){
				sum+=parseInt($("#Arecord").val());
			}
			if($("#Brecord").val()!="" && $.trim($("#Brecord").val()).length>0){
				sum+=parseInt($("#Brecord").val());
			}
			if($("#Crecord").val()!="" && $.trim($("#Crecord").val()).length>0){
				sum+=parseInt($("#Crecord").val());
			}		
			if($("#Drecord").val()!="" && $.trim($("#Drecord").val()).length>0){
				sum+=parseInt($("#Drecord").val());
			}
			if($("#Erecord").val()!="" && $.trim($("#Erecord").val()).length>0){
				sum+=parseInt($("#Erecord").val());
			}
			if($("#Frecord").val()!="" && $.trim($("#Frecord").val()).length>0){
				sum+=parseInt($("#Frecord").val());
			}
			if($("#Dcopy").val()!="" && $.trim($("#Dcopy").val()).length>0){
				sum+=parseInt($("#Dcopy").val());
			}
			if($("#Donline").val()!="" && $.trim($("#Donline").val()).length>0){
				sum+=parseInt($("#Donline").val());
			}
			if($("#Drevise").val()!="" && $.trim($("#Drevise").val()).length>0){
				sum+=parseInt($("#Drevise").val());
			}
			if($("#Dother").val()!="" && $.trim($("#Dother").val()).length>0){
				sum+=parseInt($("#Dother").val());
			}
			$("#sumCost").val(sum);
		}
		
		//合同入库
		function doInputContract(){
			//alert('start');
			//查找是否是特殊编码
			if(confirm('若是委托检验提交后不可更改，确认提交吗？')){
				if($("#spec_checkbox").is(":checked")){
					ifspecial=1;	
				}else{
					ifspecial=0;	
				}
				var options = {
					url: "{:U('/admin/contract/doAddContract')}",
					dataType: 'json',
					data:{'ifspecial':ifspecial},
					beforeSubmit: function(){
						return true;
					},
					success: function (data) {
						if(data.msg=='succ'){
							var _options = {"text":"录入成功！","action":function(){window.location.reload();}};
							doAlertDialog(_options);
						}else{
							var _options = {"text":"录入失败！"};
							if(data.msg) _options.text = data.msg;
							doAlertDialog(_options);
						}
					}
				};
				$("#form2").ajaxForm(options);
				return false;
			}
			
		}
		
		
		//特殊编码
		function special_code(){
			$("#spe_code").attr("display","block");
			if($("#spec_checkbox").is(":checked")){
				$.ajax({
					url:"{:U('/admin/contract/findSpecialCode')}",
					dataType:'json',
					success: function (re) {
						data = re.codeList;;
						num = re.numList;
						html="";
						for(var i =0;i<data.length;i++){
							html+="<button  type='button' id='spec_li_"+i+"' class='btn btn-default btn-xs' onclick=choseSpe('"+i+"')><span id='code'>"+data[i]+"</span> 剩余量：<span id='remain_code'>"+num[i]+"</span>(含当前)</button><br/>";
							
						}
						$("#spe_code").html(html);
					}	
				});
				
				$("#spe_code").css("display","block");
				$("input[name=ifHighQuantity]").attr("disabled","disabled");
			}else{
				$("#spe_code").css("display","none");
				$("input[name=ifHighQuantity]").removeAttr("disabled");
				makeCentreCode();
			}
		}
		
		
		
		//选择特殊编码
		function choseSpe(id){
			var code = $("#spec_li_"+id+" #code").html();
			var remain_code = $("#spec_li_"+id+" #remain_code").html();
			$("#centreNo").val(code);
		}
		
		//分包备注是否显示
		function pack_remark(){
			if($("input:radio[name='ifSubpackage']:checked").val()==1){
				$("#package_remark").attr('type','text');	
			}else{
				$("#package_remark").val("");
				$("#package_remark").attr('type','hidden');	
			}
		}
		
		
		<!----------------------------------- start------------------------------------->
				
		//本部门费用选
		function Cost(de){
			var modal = $("#editModal_"+de);
			setMetOption(de);
			modal.modal();

		}
		
		//获取费用选项(下面三个函数)
		function setMetOption(de){
			//alert($('#meterial_'+de+' option').size());
			if($('#meterial_'+de+' option').size()<=1){
				$.ajax({
					url: "{:U('/admin/contract/findMetList')}",
					dataType: 'json',
					beforeSubmit: function(){
						return true;
					},
					success: function (re) {
						$('#meterial_'+de).find("option").remove();
						var option = "<option value=0>请选择</option>";
						$('#meterial_'+de).append(option);
						data = re['meterial_list'];
						for(var i=0;i<data.length;i++){
							var meterial = data[i]['meterial'];
							option = "<option value='"+meterial+"'>"+meterial+"</option>";
							$('#meterial_'+de).append(option);
						}
					}	
				});
			}
		}
		
		function setProOption(de){
			m_select = $("#meterial_"+de).val();
			if(m_select!=0){
				$.ajax({
					url: "{:U('/admin/contract/findProList')}",
					dataType: 'json',
					data:{'m_select':m_select},
					beforeSubmit: function(){
						return true;
					},
					success: function (re) {
						$('#productname_'+de).find("option").remove();
						var option = "<option value=0>请选择</option>";
						$('#productname_'+de).append(option);
						data = re['productname_list'];
						for(var i=0;i<data.length;i++){
							var productname = data[i]['productname'];
							var criteria = data[i]['criteria'];
							option = "<option value='"+productname+"'>"+productname+" "+criteria+"</option>";
							$('#productname_'+de).append(option);
						}
					}	
				});
			}else{
				$('#productname_'+de).find("option").remove();
				var option = "<option value=0>请选择</option>";
				$('#productname_'+de).append(option);
			}
		}

		function setItemOption(de){
			m_select = $("#meterial_"+de).val();
			p_select = $("#productname_"+de).val();
			if(m_select!=0){
				$.ajax({
					url: "{:U('/admin/contract/findItemList')}",
					dataType: 'json',
					data:{'m_select':m_select,'p_select':p_select},
					beforeSubmit: function(){
						return true;
					},
					success: function (re) {
						$("#items_"+de).empty();
						$("#fee_"+de).empty();
						data = re['item_list'];
						for(var i=0;i<data.length;i++){
							var items = data[i]['item'];
							var money = data[i]['fee'];
							if(items=='全项'){
								option = "<input type='checkbox' id='items_all_"+de+"' name='items_all_"+de+"' value='"+money+"' onclick=checkAllFee('"+de+"'); />&nbsp;&nbsp;"+items+"&nbsp;&nbsp;";
								$('#items_'+de).prepend(option);
							}else{
								option = "<input type='checkbox' name='items_"+de+"' value='"+money+"' onclick=checkFee('"+de+"');  />&nbsp;&nbsp;"+items+"&nbsp;&nbsp;";
								$('#items_'+de).append(option);
							}
							
						}
					}	
				});
			}
		}
			
		//计算本部门费用--单项选择
		function checkFee(de){
			cash = 0;
			var allCheck=true;
			$("input[name='items_"+de+"']").each(function(index, element) {
				if($(this).prop("checked") == false){
					allCheck = false;
				}else{
					cash+=parseInt(element.value);
				}		
			});
			if(allCheck==false){
				$("#items_all_"+de).prop("checked",false);	
			}else{
				$("#items_all_"+de).prop("checked",true);
				cash = parseInt($("#items_all_"+de).val());
			}				
			$("#fee_"+de).html(cash);
		}
		//计算本部门费用--全项选择
		function checkAllFee(de){
			var cash=0;
			$("#items_all_"+de).prop("checked",$("#items_all_"+de).prop("checked"));
			if($("#items_all_"+de).prop("checked")){
				$("input[name=items_"+de+"]").prop("checked",true);
				cash = parseInt($("#items_all_"+de).val());
			}else{
				$("input[name=items_"+de+"]").prop("checked",false);
			}
			$("#fee_"+de).html(cash);
		}
		
		function returnCost(de){
			$("#"+de+"record").val($("#fee_"+de).html());
			computeSum();
		}

		<!-----------------------------------费用 end------------------------------------->
		
	</script>
</body>