<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
	<include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
      <form id="form2" name="form1" method="post" action="">
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <td  colspan="9" ><p align="center" >委 托 人 填 写 </p></td>
            <input name="department" type="hidden"  id="department" value="{$department}" />  
          </tr> 
          <tr > 
            <td><p align="center" ><span style="color:red; font-size:15px">*</span>委托单位 </p></td>
            <td colspan="8" >
                <input name="clientName" type="text" class="form-control"  class="form-control" id="clientName2" size="100" />       
            </td>
          </tr> 
          <tr > 
            <td ><p align="center" ><span style="color:red; font-size:15px">*</span>生产单位 </p></td>
            <td colspan="8" ><input name="productUnit" type="text" class="form-control"  class="form-control"  id="productUnit2" size="100"/></td>
          </tr> 
          <tr > 
            <td ><p align="center" ><span style="color:red; font-size:15px">*</span>样品名称 </p></td>
            <td  colspan="2"><input name="sampleName" type="text" class="form-control"  id="sampleName2" size="20" /></td>
            <td  colspan="1"><p align="center" >样品编号 </p></td>
            <td  colspan="2"><input name="sampleCode" type="text" class="form-control"  id="sampleCode2" size="20" /></td>
            <td><p align="center" >等级 </p></td>
            <td colspan="2"><input type="text" class="form-control"  name="grade" id="grade2" size="5"/></td>
          </tr>
          <tr >
            <td  ><p align="center" >规格型号 </p></td>
            <td  colspan="2"><input type="text" class="form-control"  name="specification" id="specification2" size="20"/></td>
            <td  colspan="1"><p align="center" >商标 </p></td>
            <td  colspan="5" ><input type="text" class="form-control"  name="trademark" id="trademark2" /></td>
          </tr>
          <tr >
            <td><p align="center" >生产日期/批号 </p></td>
            <td colspan="2"><!--<input type="text" readonly class="form-control f-datetime input-sm" name="productionDate"/>-->
           					<input type="text" class="form-control" name="productionDate"/>
            <td colspan="1"><p align="center" ><span style="color:red; font-size:15px">*</span>样品数量 </p></td>
            <td colspan="5" >
            	<div class="col-xs-4">
            		<input type="text" class="form-control"  name="sampleQuantity" id="sampleQuantity" size="5"/>
                </div>
              <!--<label>
                <select name="sampleunti" id="select" value="sampleunti" class="form-control">
                	<option value="kg">kg</option>
                    <option value="g">g</option>
                    <option value="L">L</option>
                    <option value="mL">mL</option>
                </select>
            </label>--></td>
          </tr>
          <tr >
            <td ><p align="center" ><span style="color:red; font-size:15px">*</span>样品状态 </p></td>
            <td colspan="2"><input type="text" class="form-control"  name="sampleStatus" id="sampleStatus2" /></td>
            <td colspan="1"><p align="center" >水粉（料）比 </p></td>
            <td colspan="5" ><input type="text" class="form-control"  name="ration" id="ration2" /></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>检验依据 </p></td>
            <td colspan="8" ><input type="text" class="form-control"  name="testCriteria" id="testCriteria2" size="100"/></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>检验项目 </p></td>
            <td colspan="8" ><p>
              <textarea class="form-control"  name="testItem" id="testItem"></textarea>
              <!--<input name="testItem" type="text" class="form-control"  id="testItem" size="100"/>-->
            </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>检验类别 </p></td>
            <td colspan="8" ><p align="center" >
              <input type="radio" name="testCategory" id="testCategory10" value="委托检验" checked="checked"/>委托检验
              
              <input type="radio" name="testCategory" id="testCategory11" value="抽样检验" />抽样检验
              
              <input type="radio" name="testCategory" id="testCategory12" value="型式检验" />型式检验
            </p></td>
          </tr>
          <tr >
            <td valign="center" colspan="6" ><p >检验报告是否在本中心网站可查询真伪 ?（www.dmtc.org.cn） </p></td>
            <td valign="center" colspan="3" ><p >是
             <input type="hidden" name="ifOnline" value="1"/>
               <!--否
              <input type="radio" name="ifOnline" id="testCategory14" value="0" readonly="readonly" />-->
            </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >报告提交方式 </p></td>
            <td valign="center" colspan="2"><p >自取
              <input type="radio" name="postMethod" id="testCategory15" value="自取" checked="checked"/>
              邮寄
              <input type="radio" name="postMethod" id="testCategory16" value="邮寄" />
            </p></td>
            <td colspan="3"><p align="center" >是否同意分包 </p></td>
            <td  colspan="2"><p >是
              <input type="radio" name="ifSubpackage" id="ifSubpackage" value="1"  checked="checked" onclick="pack_remark()" />
              否
              <input type="radio" name="ifSubpackage" id="ifSubpackage" value="0" onclick="pack_remark()"/>
            </p></td>
            <td  colspan="2"><p >
              <input type="text" name="package_remark" id="package_remark" value="" class="form-control" placeholder="分包备注" />
            </p></td>
          </tr>
          <tr >
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>委托人(签字)</p></td>
            <td  colspan="2"><input name="clientSign" type="text" class="form-control"  id="clientSign2" size="3" /></td>
            <td  ><p align="center" >联系电话 </p></td>
            <td colspan="2" ><input type="text" class="form-control"  name="telephone" id="telephone2" size="8"/></td>
            <td  ><p align="center" >传真 </p></td>
            <td colspan="2" ><input type="text" class="form-control"  name="tax" id="tax2" size="11" /></td>
          </tr>
          		  <tr >
            <td  ><p align="center" >邮政编码 </p></td>
            <td  colspan="2"><input type="text" class="form-control"  name="postcode" id="postcode2" size="8"/></td>
            <td  ><p align="center" >E-mail </p></td>
            <td  colspan="5" ><input type="text" class="form-control"  name="email" id="email2" /></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >通讯地址 </p></td>
            <td valign="center" colspan="8" ><input type="text" class="form-control"  name="address" id="address2" size="100"/></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" >备注 </p></td>
            <td valign="center" colspan="8" >
            <textarea class="form-control"  name="remark" id="remark"></textarea></td>
          </tr>
          <tr >
            <td   colspan="9" ><p align="center" >中 心 办 公 室 填 写 </p></td>
          </tr>
          <tr >
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>样品状态及数量 </p></td>
            <td valign="center" colspan="3"><input type="text" class="form-control"  name="sampleStaQuan" id="sampleStaQuan2" size="20"/></td>
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>收 样 人 </p></td>
            <td valign="center" colspan="4" ><input type="text" class="form-control" readonly name="collector" id="collector2" value="{$collector}"/></td>
          </tr>
          <tr >
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>中心编号 </p></td>
            <td   colspan="3" ><p>
              <input type="text" class="form-control"  name="centreNo" id="centreNo" readonly="readonly" size="9"/>
              <!--<input type="button" name="button2" id="button2" value="生成中心编码" />-->
              <input name="ifHighQuantity" type="checkbox" value="0" onClick="upVIPCode()"/>
              前100号
              <div id="remainCode" style="display:none;color:red">
                当前剩余量：<span id="remain"></span>
              </div>
              <input type="checkbox" id="spec_checkbox" onclick="special_code()"/>申请咨询<br/>
              <!--<button class="btn btn-success" type="button" onclick="special_code()">申请特殊编码</button>-->
              <div>
              		<ul id="spe_code" style="display:none">
                    	
                    <ul>
              </div>
            </td>
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>检验费用 </p></td>
            <td  colspan="4" >
              <div class="col-xs-6">
                  <p align="center">参考价格</p>
                  <input name="Arecord" type="text" class="form-control"  id="Arecord" size="5" placeholder="A部门" readonly   onClick="Cost('A')"/>
                  <br/>
                  <input name="Brecord" type="text" class="form-control"  id="Brecord" size="5" placeholder="B部门" readonly  onclick="Cost('B')"/>
                  <br/>
                  <input name="Crecord" type="text" class="form-control"  id="Crecord" size="5" placeholder="C部门" readonly  onClick="Cost('C')"/>
                  <br/>
                  <input name="Drecord" type="text" class="form-control"  id="Drecord" size="5" placeholder="D部门" readonly  onClick="Cost('D')"/>
                  <br/>
                  <input name="Erecord" type="text" class="form-control"  id="Erecord" size="5" placeholder="E部门" readonly  onClick="Cost('E')"/>
                  <br/>
                  <input name="Frecord" type="text" class="form-control"  id="Frecord" size="5" placeholder="F部门" readonly  onClick="Cost('F')"/>
                  <br/>
                  <p align="center">备注</p>
                  <textarea class="form-control" rows="10" name="fee_remark"></textarea>
              </div>
              <div  class="col-xs-6">
                  <p align="center">报告应收价格</p>
                  <input name="RArecord" type="text" class="form-control two-col"  id="RArecord" size="5" placeholder="A部门" onKeyUp="computeSum()"/>&nbsp;&nbsp;&nbsp;<p class="hint">A部门</p>
                  <input name="A_id_list" id="A_id_list" type="hidden" value=""/>
                  <div>+</div>
                  <input name="RBrecord" type="text" class="form-control two-col"  id="RBrecord" size="5" placeholder="B部门" onKeyUp="computeSum()"/>&nbsp;&nbsp;&nbsp;<p class="hint">B部门</p>
                  <input name="B_id_list" id="B_id_list" type="hidden" value=""/>
                  <div>+</div>
                  <input name="RCrecord" type="text" class="form-control two-col"  id="RCrecord" size="5" placeholder="C部门" onKeyUp="computeSum()"/>&nbsp;&nbsp;&nbsp;<p class="hint">C部门</p>
                  <input name="C_id_list" id="C_id_list" type="hidden" value=""/>
                  <div>+</div>
                  <input name="RDrecord" type="text" class="form-control two-col"  id="RDrecord" size="5" placeholder="D部门" onKeyUp="computeSum()"/>&nbsp;&nbsp;&nbsp;<p class="hint">D部门</p>
                  <input name="D_id_list" id="D_id_list" type="hidden" value=""/>
                  <div>+</div>
                  <input name="RErecord" type="text" class="form-control two-col"  id="RErecord" size="5" placeholder="E部门" onKeyUp="computeSum()"/>&nbsp;&nbsp;&nbsp;<p class="hint">E部门</p>
                  <input name="E_id_list" id="E_id_list" type="hidden" value=""/>
                  <div>+</div>
                  <input name="RFrecord" type="text" class="form-control two-col"  id="RFrecord" size="5" placeholder="F部门" onKeyUp="computeSum()"/>&nbsp;&nbsp;&nbsp;<p class="hint">F部门</p>
                  <input name="F_id_list" id="F_id_list" type="hidden" value=""/>
                  <div>+</div>
                  <input name="Dcopy" type="text" class="form-control two-col"  id="Dcopy" placeholder="副本" onKeyUp="computeSum()" size="5" />&nbsp;&nbsp;&nbsp;<p class="hint">副本</p>
                  <div>+</div>
                  <input name="Donline" type="text" class="form-control two-col"  id="Donline" placeholder="上网费" onKeyUp="computeSum()" value="100" />&nbsp;&nbsp;&nbsp;<p class="hint">上网费</p>
                  <div>+</div>
                  <input name="Drevise" type="text" class="form-control two-col"  id="Drevise" placeholder="项目修改" onKeyUp="computeSum()" size="6" />&nbsp;&nbsp;&nbsp;<p class="hint">项目修改</p>
                  <div>+</div>
                  <input name="Dother" type="text" class="form-control two-col"  id="Dother" placeholder="其他"  onKeyUp="computeSum()"/>&nbsp;&nbsp;&nbsp;<p class="hint">其他</p>
                  <div>=</div>
                  <input name="testCost" type="text" class="form-control two-col"  id="sumCost" placeholder="总计"  value="100" readonly />
              </div>
            </td>
          </tr>
          <tr >
            <td  ><p align="center" ><span style="color:red; font-size:15px">*</span>收样日期 </p></td>
            <td  colspan="3" ><p >
            
            <div class="form-group">
				 <input type="text" readonly class="form-control" name="collectDate" id="collectDate" value=""/>
				  	</div>
            </p></td>
            <td valign="center" ><p align="center" ><span style="color:red; font-size:15px">*</span>报告日期<u> </u></p></td>
            <td  colspan="4" ><p ><input type="text" readonly class="form-control f-datetime input-sm" name="reportDate"></p></td>
          </tr>
          <tr >
            <td valign="center" ><p >说明 </p></td>
            <td  colspan="8" ><ol>
              <li>委托人应对所提供的资料、信息和样品的真实性负责。 </li>
              <li>若对本单内容有变动，请委托方电话、邮件、传真通知受理人。 </li>
              <li>本中心仅对来样负责。 </li>
              <li>委托方要求取走剩余样品时，若在收到检验报告后一个月内未取回，且没有说明情况的，剩余样品由中心统一处理；样品取走后不再受理异议申诉。 </li>
            </ol></td>
          </tr>
        </table>
        
       <!-- <button class="btn btn-success" type="button" id="sampling_list" on>生成抽样单</button>-->
        <button class="btn btn-success" type="submit" id="check_list" onClick="doInputContract()">保存</button>
      </form>
    </div>
    <div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							费用管理
						</h4>
						<div class="col-sm-10 search">
							<input type="text" class="form-control col-sm-10 standard" placeholder="请输入标准号" id="criteria">
							<button class="btn btn-primary search_btn"  onclick="findCriteria()" >搜索</button>
                            <input type="hidden" id="depar" value="" />
						</div>
					</div>
					<div class="modal-body main_content sco">
						<!--折叠的大div，在一个大的id下折叠会相互影响，id与a标签的date-parent相关联-->
						<div class="panel-group" id="accordion222">
																	
						</div>
					</div>
					<div class="modal-footer">
						<div class="select_opion" id="footer">

						</div>
						<p class="fis">总金额：<span id="fee_sum"></span></p>
						<button type="button" class="btn btn-default" onclick="clearChose()">
							清空选择
						</button>
						<button type="button" class="btn btn-primary" onclick="returnCost()" data-dismiss="modal">
							提交更改
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
    </div>
</div>

<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
		//生成中心编码
		makeCentreCode();
		$("input[name = 'testCategory']").change(function(){
			makeCentreCode();
		});
		

		
		//时间
		$(document).ready(function(){
			$('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,	autoclose:true });
					//计算费用
			var date = new Date();	
			var years = date.getFullYear();
			var month = add_zero(date.getMonth()+1);
			var day = add_zero(date.getDate());
			var now_date = years+"-"+month+"-"+day;
			$("#collectDate").val(now_date);
			
		});	
		
		//补零
		function add_zero(temp){
			if(temp<10) return "0"+temp;
			else return temp;
		}
		
		function makeCentreCode(){
			var nowDate = new Date();
			var year = nowDate.getFullYear();
			var month = nowDate.getMonth()+1;
			month = month<10?'0'+month:month;
			var department = $('#department').val()==''?'D':$('#department').val();
			var type = $('input:radio[name="testCategory"]:checked').val();
			type = (type == '委托检验')?'W':'C';
			var code= '101';
			//获取最新编码
			$.ajax({
				url: "{:U('/admin/contract/getLastCode')}",
				dataType: 'json',			
				data:{"year":year,"month":month},
				async: false,
				success: function (res) {
					//var _options = {"text":"aaa！"};
					//_options.text = data.re;
					//doAlertDialog(_options);
					if(res.re!='none'){
						code = res.re;
						code = parseInt(code.substring(8,11))+1;
					}
				}
			});
			
			var centreCode = year+""+month+department+type+code;
			$('input[name="centreNo"]').val(centreCode);
			if(type=='W'){
				$("#sampling_list").css("display","none");
			}else{	
				$("#sampling_list").css("display","inline-block");
			}
		}
		
		function upVIPCode(){
			if($("input[name='ifHighQuantity']").is(':checked')){
				$("#spec_checkbox").attr("disabled","disabled");
				var nowDate = new Date();
				var year = nowDate.getFullYear();
				var month = nowDate.getMonth()+1;
				month = month<10?'0'+month:month;
				var department = $('#department').val()==''?'D':$('#department').val();
				var type = $('input:radio[name="testCategory"]:checked').val();
				type = (type == '委托检验')?'W':'C';
				var code='001';
				var remain;//剩余优质编号
				$.ajax({
					url:"{:U('/admin/contract/getHighCode')}",
					dataType:"json",
					data:{"year":year,"month":month},
					async:false,
					success:function(res){
						if(res.re!='none'){
							code = res.re;
							code = parseInt(code.substring(8,11))+1;
							//保持后面编码为三位数，不够补零
							code = (Array(3).join('0') + code).slice(-3);
						}
					}
				});
							
				var centreCode = year+""+month+department+type+code;
				remain = 100-code+1;
				$('input[name="centreNo"]').val(centreCode);
				$('input[name="ifHighQuantity"]').val(1);
				$("#remain").html(remain+"(含当前编号)");
				$("#remainCode").css("display","block");
			}else{
				$("#spec_checkbox").removeAttr("disabled");
				makeCentreCode();
				$('input[name="ifHighQuantity"]').val(0);
				$("#remainCode").css("display","none");
				
			}
		}
				
		//实时计算总费用
		function computeSum(){
			var sum =0 ;
			if($("#RArecord").val()!="" && $.trim($("#RArecord").val()).length>0){
				sum+=parseInt($("#RArecord").val());
			}
			if($("#RBrecord").val()!="" && $.trim($("#RBrecord").val()).length>0){
				sum+=parseInt($("#RBrecord").val());
			}
			if($("#RCrecord").val()!="" && $.trim($("#RCrecord").val()).length>0){
				sum+=parseInt($("#RCrecord").val());
			}		
			if($("#RDrecord").val()!="" && $.trim($("#RDrecord").val()).length>0){
				sum+=parseInt($("#RDrecord").val());
			}
			if($("#RErecord").val()!="" && $.trim($("#RErecord").val()).length>0){
				sum+=parseInt($("#RErecord").val());
			}
			if($("#RFrecord").val()!="" && $.trim($("#RFrecord").val()).length>0){
				sum+=parseInt($("#RFrecord").val());
			}
			if($("#Dcopy").val()!="" && $.trim($("#Dcopy").val()).length>0){
				sum+=parseInt($("#Dcopy").val());
			}
			if($("#Donline").val()!="" && $.trim($("#Donline").val()).length>0){
				sum+=parseInt($("#Donline").val());
			}
			if($("#Drevise").val()!="" && $.trim($("#Drevise").val()).length>0){
				sum+=parseInt($("#Drevise").val());
			}
			if($("#Dother").val()!="" && $.trim($("#Dother").val()).length>0){
				sum+=parseInt($("#Dother").val());
			}
			$("#sumCost").val(sum);
		}
		
		//合同入库
		function doInputContract(){
			//alert('start');
			//查找是否是特殊编码
			//if(confirm('若是委托检验提交后不可更改，确认提交吗？')){
				if($("#spec_checkbox").is(":checked")){
					ifspecial=1;	
				}else{
					ifspecial=0;	
				}
				var options = {
					url: "{:U('/admin/contract/doAddContract')}",
					dataType: 'json',
					data:{'ifspecial':ifspecial},
					beforeSubmit: function(){
						return true;
					},
					success: function (data) {
						if(data.msg=='succ'){
							var _options = {"text":"录入成功！","action":function(){window.location.reload();}};
							doAlertDialog(_options);
						}else{
							var _options = {"text":"录入失败！"};
							if(data.msg) _options.text = data.msg;
							doAlertDialog(_options);
						}
					}
				};
				$("#form2").ajaxForm(options);
				return false;
			//}
			//return false;
		}
		
		
		//特殊编码
		function special_code(){
			$("#spe_code").attr("display","block");
			if($("#spec_checkbox").is(":checked")){
				$.ajax({
					url:"{:U('/admin/contract/findSpecialCode')}",
					dataType:'json',
					success: function (re) {
						data = re.codeList;;
						num = re.numList;
						html="";
						for(var i =0;i<data.length;i++){
							if(num[i]>0)
							html+="<button  type='button' id='spec_li_"+i+"' class='btn btn-default btn-xs' onclick=choseSpe('"+i+"')><span id='code'>"+data[i]+"</span> 剩余量：<span id='remain_code'>"+num[i]+"</span>(含当前)</button><br/>";
							
						}
						$("#spe_code").html(html);
					}	
				});
				
				$("#spe_code").css("display","block");
				$("input[name=ifHighQuantity]").attr("disabled","disabled");
			}else{
				$("#spe_code").css("display","none");
				$("input[name=ifHighQuantity]").removeAttr("disabled");
				makeCentreCode();
			}
		}
		
		
		
		//选择特殊编码
		function choseSpe(id){
			var code = $("#spec_li_"+id+" #code").html();
			var remain_code = $("#spec_li_"+id+" #remain_code").html();
			$("#centreNo").val(code);
		}
		
		//分包备注是否显示
		function pack_remark(){
			if($("input:radio[name='ifSubpackage']:checked").val()==1){
				$("#package_remark").attr('type','text');	
			}else{
				$("#package_remark").val("");
				$("#package_remark").attr('type','hidden');	
			}
		}
		
		
		<!----------------------------------- start------------------------------------->
				
		//本部门费用选
		function Cost(de){
			//var modal = $("#editModal_"+de);
			//setMetOption(de);
			$('#myModal').modal({
				keyboard: true,
			});
			$("#depar").val(de);
			$("#footer").html("");
			$("#fee_sum").html("");
			$("#accordion222").html("");
			$("#criteria").val("");
			//modal.modal();

		}

		//查询标准号
		function findCriteria(){
			clearChose();
			var criteria = $("#criteria").val();
			criteria = criteria.replace(/\s/g,"");
			console.log(criteria);
			$.ajax({
				url: "{:U('/admin/contract/findCriteria')}",
				dataType: 'json',
				data:{'criteria':criteria},
				beforeSubmit: function(){
					return true;
				},
				success: function (re) {
					var html_list="";		
					data_criteria = re['criteria_list'];
					data_productname = re['productname_list'];
					for(var i = 0;i<data_criteria.length;i++){
						var html_productname = "";
						for(var j=0;j<data_productname[i].length;j++){
							data_criteria_name = data_criteria[i]['criteria'];
							if(data_productname[i][j]['productname']==""){
								data_productname[i][j]['productname']="全项(多个产品名称)";
							}			
							html_productname += '<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_'+i+'" href="#collapseOne_'+i+j+'" onclick=findProItem("'+i+j+'","'+encodeURIComponent(data_criteria_name)+'","'+encodeURIComponent(data_productname[i][j]['productname'])+'")>'+data_productname[i][j]['productname']+'</a></h4></div><div id="collapseOne_'+i+j+'" class="panel-collapse collapse"><div class="panel-body"><form class="checkbox-inlin form_item" role="form" id="form_'+i+j+'"></form></div></div></div>';
							
						}
						html_list += '<div class="panel panel-default" id="fee_list_'+i+'"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion222" href="#collapseOne_'+i+'">'+data_criteria[i]['criteria']+'</a></h4></div><div id="collapseOne_'+i+'" class="panel-collapse collapse"><div class="panel-body"><div class="panel-group" id="accordion_'+i+'">'+html_productname+'</div></div></div></div>';
						$("#accordion222").html(html_list);

					}
					if(data_criteria.length==0){
						$("#accordion222").html("<span style='color:grey'>无此标准号</span>");
					}
				}	
			});

		}
		
		//获取指定产品名称的编号
		function findProItem(ij,criteria,productname){
			//alert(ij,criteria,productname);
			criteria = decodeURIComponent(criteria);
			criteria = criteria.replace(/\s/g,"");
			productname = decodeURIComponent(productname);
			if(productname == "全项(多个产品名称)"){
				data={'criteria':criteria,'productname':'null'};
			}else{
				data={'criteria':criteria,'productname':productname};
			}
			var p_id = "collapseOne_"+ij;
			var form_id = "form_"+ij;
			if($("#"+form_id+" input").length==0){
				$.ajax({
					url: "{:U('/admin/contract/findItem')}",
					dataType: 'json',
					data:data,
					beforeSubmit: function(){
						return true;
					},
					success: function (re) {
						var item_list = re['item_list'];
						var html_list = "";
						var button_list = "";
						for(var i=0 ;i<item_list.length;i++){
							items_name = item_list[i]['item'];
							items_id = item_list[i]['id'];
							items_quantity = item_list[i]['quantity'];
							items_fee = item_list[i]['fee'];
							if(items_quantity==1){
								html_list += '<input type="checkbox" id="items_'+items_id+'" name="items" value="'+items_fee+'" onchange=valid(this.id,"'+encodeURIComponent(items_name)+'","'+form_id+'")>'+items_name+'('+items_fee+')';
							}else if(items_quantity==2){
								button_list +=  '<button type="button" class="btn btn-default btn-xs" id="items_all_'+items_id+'" name="items_all" value="'+items_fee+'" onclick=checkAllFee(this.id,"'+encodeURIComponent(items_name)+'","'+form_id+'")>'+items_name+'</button>';
							} 
						}
						html_list = button_list+"<br/>"+html_list; 
						$("#"+p_id+" #"+form_id).html(html_list);
					}	
				});
			}
		}
		
		//单项点击定位
		function valid(num,name,parent) {
			//console.log(num)
			var input_id = "#" + num;
			var input_parent_id = "#" + parent;
			var input_class = "." + parent + "_" +num;		
			name = decodeURIComponent(name);
			var b_id_list =[];
			//if($(input_id)[0].checked) {
			//alert(input_parent_id+" "+input_id);
			//alert($(input_parent_id+" "+input_id).prop('checked'));
			if($(input_parent_id+" "+input_id).prop('checked')==true) {
				if(!$('#footer').children().hasClass(parent + "_" +num)){
					$('#footer').append("<span class=" + parent + "_" +num + ">" + name + "(" +$(input_parent_id+" "+input_id).val() + ")" + "&nbsp;&nbsp;&nbsp;</span>");
				}				
			} else {
				$(input_class).remove();
			}
			checkFee();
		}
		
		//单项选择
		function checkFee(){
			cash = 0;
			
			$("form.form_item").each(function(index, element) {
				var flag_all = false;
				var form_id = $(this).attr("id"); 
				//console.log(form_id);
                $("#"+form_id+" "+"button[name=items_all]").each(function(index, element) {
					var id = $(this).attr("id");
					var flag = true;
					if($(this).siblings().hasClass(id)){
						$("#"+form_id+" "+"."+id).each(function(index, element) {
							if($(this).prop("checked") == false){
								flag = false;
							}
						});
						if(flag == true){
							flag_all = true;
							$("#"+form_id+" "+"input[name='items']").each(function(index, element) {
								if(!$(this).hasClass(id) && $(this).prop("checked") == true){
									cash+=parseInt(element.value);
								}	
							});
							cash += parseInt($(this).val());
						}
					}
					
				});
				//console.log("flag_all"+flag_all);
				if(!flag_all){
					$("#"+form_id+" "+"input[name='items']").each(function(index, element) {
						if($(this).prop("checked") == true){
							cash+=parseInt(element.value);
						}		
					});
				}
            });	
			

			$("#fee_sum").html(cash);
		}


		
		//计算本部门费用--全项选择
		function checkAllFee(num,name,parent){
			var cash=0;
			var item_id;
			name = decodeURIComponent(name);
			item_id = num.replace("items_all_","");
			
			$.ajax({
				url: "{:U('/admin/contract/findAllItem')}",
				dataType: 'json',
				data:{'item_id':item_id},
				beforeSubmit: function(){
					return true;
				},
				success: function (re) {
					//console.log(re);
					var fee_item = re['fee_item'];
					var child_item_list = fee_item['child_item_list'];
					var fee = fee_item['fee'];
					var id_list = child_item_list.split(",");
					$("#"+parent+" input[name=items]").prop('checked',false);
					$("#"+parent+" input[name=items]").trigger('onchange');
					$("#"+parent+" input[name=items]").attr('class',"");
					//$("#footer").empty();
					for(var i=0;i<id_list.length;i++){
						$("#"+parent+" #items_"+id_list[i]).prop('checked',true);
						//$("#items_"+id_list[i]).addClass(num);
						$("#"+parent+" #items_"+id_list[i]).attr('class',num);
						$("#"+parent+" #items_"+id_list[i]).trigger("onchange");
						//id = "items_"+id_list[i];
						//$('#footer').append("<span class=" + id + ">" + $("#"+id).attr('name') + "(" +$("#"+id).val() + ")" + "&nbsp;&nbsp;&nbsp;</span>");
					}
					//$("#fee_sum").html(fee);
				}	
			});
		}
		
		function returnCost(){
			var de = $("#depar").val();
			$("#"+de+"record").val($("#fee_sum").html());
			id_list =[];
			$("input[name='items']").each(function(index, element) {
				if($(this).prop("checked") == true){
					id = element.id.replace("items_","");
					id_list.push(id);
				}		
			});
			$("#"+de+"_id_list").val(id_list.join(","));
			//computeSum();
		}
		
		function clearChose(){
			$("#accordion222 input[name=items]").prop('checked',false);
			$("#footer").html("");
			$("#fee_sum").html("");
		}

		<!-----------------------------------费用 end------------------------------------->
		
	</script>
</body>