<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->




        <table class="table table-bordered table-striped table-hover">
            <thead>
            <th>序号</th>
            <th>中心编号</th>
            <th>受检单位</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>操作</th>
            </thead>
            <tbody>
            <volist name="lists" id="one">
                <tr>
                    <td>{$one.id}</td>
                    <td>{$one.centreno}</td>
                    <td>{$one.productunit}</td>
                    <td>{$one.clientname}</td>
                    <td>{$one.simplecode}</td>
                    <td><a href="javascript:void(0);" onclick="onUpdate({$one.id})" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-ok-circle"></i> 签发</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>



        <!-- main end-->

    </div>
</div>
</div>
<script type="text/javascript">
    function onUpdate(id){
        if(!id) return false;
        var _options = {"flag":"error","text":"您确定要签发此项目吗！","buttons":{"ok":{"action":function(){doneUpd(id);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doneUpd(id){
        if(!id) return false;
        $.ajax({
            type:"post",
            url:"{:U('/admin/contract/doUpd')}",
            data:{"id":id},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"签发成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"签发失败！"};
                    if(data.msg) _options.text = data.msg;
                    doAlertDialog(_options);
                }
            }
        });
    }
</script>
<include file="Common:footer" />