<head>

    <script src="__PUBLIC__/static/js/jquery.form.js"></script>
</head>
<body>
    <div align="center">
      <div><img src="__PUBLIC__/static/images/logo_company.png" alt="logo" width="60" height="74" align="left" style="margin-left:110px; margin-top:20px" hspace="12" /></div>
      <p>&nbsp;</p>
      <div style="margin-right:190px;">
        <h2>(国家)建筑材料工业技术监督研究中心<br/>抽 样 单</h2>
      </div>
      <div>
        <form id="form2" name="form1" method="post" action="">
<table border="1" cellspacing="0" align="center">
          <tr >
            <td width="179" valign="center" ><p align="center" >企业名称 </p></td>
            <td width="825" valign="center" colspan="4" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >产品名称 </p></td>
            <td width="825" valign="center" colspan="4" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >规格型号 </p></td>
            <td width="320" valign="center" ><p align="center" >&nbsp;</p></td>
            <td width="135" valign="center" colspan="2" ><p align="center" >产品批号 </p></td>
            <td width="368" valign="center" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >执行标准 </p></td>
            <td width="320" valign="center" ><p align="center" >&nbsp;</p></td>
            <td width="135" valign="center" colspan="2" ><p align="center" >产品商标 </p></td>
            <td width="368" valign="center" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >抽样数量 </p></td>
            <td width="320" valign="center" ><p align="center" >&nbsp;</p></td>
            <td width="135" valign="center" colspan="2" ><p align="center" >抽样基数 </p></td>
            <td width="368" valign="center" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >抽样日期 </p></td>
            <td width="320" valign="center" ><p align="center" >&nbsp;</p></td>
            <td width="135" valign="center" colspan="2" ><p align="center" >生产日期 </p></td>
            <td width="368" valign="center" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >抽样地点 </p></td>
            <td width="320" valign="center" ><p align="center" >&nbsp;</p></td>
            <td width="135" valign="center" colspan="2" ><p align="center" >封样方式 </p></td>
            <td width="368" valign="center" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >检验内容 </p></td>
            <td width="825" valign="center" colspan="4" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="500" valign="center" colspan="2" ><p >是否同意在网上发表 </p></td>
            <td width="504" valign="center" colspan="3" ><p >是 &#9633;             否 &#9633; </p></td>
          </tr>
          <tr >
            <td width="500" valign="center" colspan="2" ><p >对于本中心不能检验的项目是否同意安排分包 </p></td>
            <td width="504" valign="center" colspan="3" ><p >是 &#9633;             否 &#9633; </p></td>
          </tr>
          <tr >
            <td width="500" valign="top" colspan="2" ><p >抽样人（签名） </p>
              <p >&nbsp;</p>
              <p align="right" >年      月     日 </p></td>
            <td width="504" valign="top" colspan="3" ><p >封样人（签名） </p>
              <p >&nbsp;</p>
              <p align="right" >年      月     日 </p></td>
          </tr>
          <tr >
            <td width="1005" valign="top" colspan="5" ><p >被抽检企业有关人员（签名） <br />
            </p>
              <p align="center" >                                               （单 位 盖 章） <br />
                年      月     日 </p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >联系电话 </p></td>
            <td width="320" valign="center" ><p align="center" >&nbsp;</p></td>
            <td width="134" valign="center" ><p align="center" >传   真 </p></td>
            <td width="370" valign="top" colspan="2" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="179" valign="center" ><p align="center" >通讯地址 </p></td>
            <td width="825" valign="center" colspan="4" ><p align="center" >&nbsp;</p></td>
          </tr>
          <tr >
            <td width="1005" valign="top" colspan="5" ><p > </p></td>
          </tr>
        </table>
    </div>
</div>