<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->
        <div class="search-form">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <label>中心编号：</label>
                    <input type="text" class="form-control input-sm" name="keyword" value="{$keyword}"/>
                    <input type="hidden" name="p" value="1" />
                    收样日期：
                    <input type="text" readonly class="form-control f-datetime input-sm" name="begin_time" value="{$begin_time}" placeholder="开始日期" />
                    —&nbsp;<input type="text" readonly class="form-control f-datetime input-sm" name="end_time" value="{$end_time}" placeholder="结束日期"/>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" >查询</button>
            </form>
        </div>



        <table class="table table-bordered table-striped table-hover" id="tb">
            <thead>
            <th>收样日期</th>
            <th>中心编号</th>
            <th>样品名称</th>
            <th>生产单位</th>
            <th>检验依据</th>
            <th>操作</th>
            <th>状态</th>
            </thead>
            <tbody>
            <volist name="list" id="con">
                <tr>
                    <td>{$con.collectdate}</td>
                    <td><if condition="$con[centreno1] or $con[centreno2] or $con[centreno3]">
                        <span style="color: red"><i class="glyphicon glyphicon-star">{$con.centreno}</i></span>
                        <else />
                        <span>{$con.centreno}</span></if></td>
                    <td>{$con.samplename}</td>
                    <td>{$con.productunit}</td>
                    <td>{$con.testcriteria}</td>

                    <td width="33%">
                        <if condition="$if_edit==1">
                        <if condition="$con['status'] neq 8 and $con['status'] neq 6 and $con['status'] neq 3 and (!(($con['sub_status'] == 1 or $con['sub_status'] == 0) and $con['if_report']==1))">
                            <a href="#" class="btn btn-primary btn-xs" onclick="return applyBack('{$con.centreno}')" >申请修改</a>
                        </if></if>
                        <if condition="$con[centreno1] or $con[centreno2] or $con[centreno3]">
                            <a href="{:U('/admin/contract/reWriteTest')}?id={$con.centreno}" class="btn btn-info btn-xs">更改单</a></if>
                        <a href="/admin/manager/contractDetail?id={$con.centreno}"  class="btn btn-info btn-xs" >检验受理合同</a>
                        <if condition="mb_substr($con[centreno],7,1)=='C'">
                        <a href="/admin/test/sampleShow?id={$con.centreno}"  class="btn btn-info btn-xs" >抽样单</a></if>
                        <if condition="$con.flow_id != -1">
                            <a href="/admin/test/infoShow?id={$con.centreno}"  class="btn btn-info btn-xs" >检验工作通知单</a>
                        </if>
                        <if condition="$leader==1 or $if_admin==1"><!--如果是领导-->
                            <a href="javascript:void(0);" class="btn btn-info btn-xs" onclick="recordDetail('{$con.centreno}')">检测记录</a>
                            <if condition="$con['pdf_path'] ">
                            <a href="javascript:void(0);" class="btn btn-info btn-xs" name="{$con.pdf_path}" onclick="return Check(this);">检测报告</a></if>
                        </if>
                        <if condition="$if_edit==1">
                        <if condition="$con['status']==8">
                            <p></p><a href="/admin/TestReport/seleteKey?mod={$con.centreno}" class="btn btn-primary btn-xs">生成报告</a></if></if>
                        <!--<if condition="$con['status'] eq 6">
                            <a href="javascript:void(0);" class="btn btn-info btn-xs" name="{$con.pdf_path}" onclick="return Check(this);">检测报告</a>
                        </if>-->
                    </td>
                    <td>
                        <if condition="$if_edit==1">
                        <if condition="$con['doc_path']">
                        <a href="{$con.doc_path}"  class="btn btn-primary btn-xs" >报告模板下载</a><p></p>
                            <a href="{$con.qrcode_path}" class="btn btn-primary btn-xs" download="{$con.centreno}">下载二维码</a><p></p>
                        </if>
                        <if condition="$con['status']==8 and $con['doc_path'] and !($con['sub_status'] == 1 and $con['if_report'] ==1)">
                            <a href="javascript:void(0);"  class="btn btn-primary btn-xs" onclick="confirmReport('{$con.centreno}')" >确认</a><p></p></if>
                            <if condition="$con['status']==8 and $con['doc_path'] and ($con['sub_status'] == 1 and $con['if_report'] ==1)">
                                <a href="javascript:void(0);"  class="btn btn-primary btn-xs" onclick="editconfirmReport('{$con.centreno}')" >修改完毕</a><p></p></if>


                            <if condition=" ($con['sub_status'] == 0) and ($con['if_report'] ==1)">
                                <span style="color:green">申请修改中</span>
                                <elseif condition=" ($con['sub_status'] == 1) and ($con['if_report'] ==1) and $con['status']==8" />
                                <span style="color:green">申请修改通过</span>
                                <!--<a href="#" class="btn btn-info btn-xs"  onclick="doUpdateEditState('{$con.centreno}')" >修改完毕</a>-->
                                <elseif condition=" ($con['sub_status'] == 2) and ($con['if_report'] ==1)" />
                                <span style="color:red">申请修改拒绝</span>
                            </if>
                        </if>
                        <if condition="$con['status']==7">
                            <span style="color:green">{$con.takename}已接单<br/>{$con.takelist_time}</span>
                            <elseif condition="$con['status']==5"/>
                            <span style="color:green">{$con.innername}已盖章签发<br/>{$con.inner_sign_time}</span>
                            <elseif condition="$con['status']==6"/>
                            <span style="color:green">{$con.externalname}已外部签发<br/>{$con.external_sign_time}</span>
                        </if>
                    </td>
                </tr>
            </volist>

            </tbody>
        </table>
        <div class=" pull-left"><i class="glyphicon glyphicon-star" style="color: red">代表合同有变更</i></div>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>

        <div>
            <!-- 模态框（Modal) -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="form-horizontal" id="myform" action="" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="createModalLabel">申请修改</h4>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-3 control-label talign-right fz13">中心编号</label>
                                <div class="col-sm-7">
                                    <input type="text" readonly="readonly" id="back_centreno" name="back_centreno" class="form-control"/>
                                    <input type="hidden" id="type_status" name="type_status" value="2" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-3 control-label talign-right fz13">理由</label>
                                <div class="col-sm-7">
                                    <textarea id="back_reason" name="back_reason" class="form-control" rows="5" ></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                                <button type="submit" class="btn btn-primary" onclick="subFeedback()">确定</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>

        <!-- main end-->

    </div>
</div>



<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script src="__PUBLIC__/static/js/ajaxfileupload.js"></script>
<script type="text/javascript">
    $('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,  autoclose:true });

    function applyBack(centreno){
        $("#back_reason").val("");
        var modal = $("#editModal");
        $("#back_centreno").val(centreno);
        modal.modal();
    }

    function subFeedback(){
        /*var centreno = $("#back_centreno").val();
        var reason = $("#back_reason").val();*/
        var options = {
            type:"post",
            url: "{:U('/admin/contract/doEditReport')}",
            dataType: 'json',
            success: function (data) {
                if(data.msg=='succ'){
                    var _options = {"text":"申请成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"Error！"};
                    if(data.msg) { _options={"text":data.msg,"action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }
            }}
        };
        $("#myform").ajaxForm(options);
        return false;
    }

    function recordDetail(centreno) {
        var newurl='/admin/test/doPrint.html?id='+centreno+'&type=2';
        console.log(newurl);
        window.open(newurl,'_self');
    }
    function Check(path) {
        var url=path.name;
        if(!url) return false;//获取url
        if(url.indexOf("http")==-1){
            thisHost = location.hostname;
            var newurl='http://'+thisHost+url;
        }else{
            var newurl=url;
        }
        //alert(newurl);
        window.open(newurl);
    }
    function confirmReport(centreno) {
        if(!centreno) return false;
        var _options = {"flag":"error","text":"您确认提交生成的报告吗！","buttons":{"ok":{"action":function(){doConfirm(centreno);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doConfirm(centreno) {
        $.ajax({
            type:"post",
            url:"{:U('/admin/Contract/doneConfirm')}",
            data:{"centreno":centreno},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"操作成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"Error！"};

                }
            }
        });
    }
    function editconfirmReport(centreno) {
        if(!centreno) return false;
        var _options = {"flag":"error","text":"您确认已经修改完毕并提交生成的报告吗？","buttons":{"ok":{"action":function(){doEditConfirm(centreno);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doEditConfirm(centreno) {
        $.ajax({
            type:"post",
            url:"{:U('/admin/Contract/doneAllUpdate')}",
            data:{"centreno":centreno},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    var _options = {"text":"操作成功！","action":function(){window.location.reload();}};
                    doAlertDialog(_options);
                }else{
                    var _options = {"text":"Error！"};

                }
            }
        });
    }
</script>

<include file="Common:footer" />