<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->
        <div class="search-form">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <label>中心编号：</label>
                    <input type="text" class="form-control input-sm" name="keyword" />
                    收样日期：
                    <input type="text" readonly class="form-control f-datetime input-sm" name="begin_time" value="{$begin_time}" placeholder="开始日期" />
                    —&nbsp;<input type="text" readonly class="form-control f-datetime input-sm" name="end_time" value="{$end_time}" placeholder="结束日期"/>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" >查询</button>
            </form>
        </div>



        <table class="table table-bordered table-striped table-hover" id="tb">
            <thead>
            <th>收样日期</th>
            <th>中心编号</th>
            <th>样品名称</th>
            <th>生产单位</th>
            <th>检验依据</th>
            <th>操作</th>
            <th>状态</th>
            </thead>
            <tbody>
            <volist name="list" id="con">
                <tr>
                    <td>{$con.collectdate}</td>
                    <td>{$con.centreno}</td>
                    <td>{$con.samplename}</td>
                    <td>{$con.productunit}</td>
                    <td>{$con.testcriteria}</td>

                    <td width="33%">
                        <!--<a href="{:U('/admin/contract/editContract')}?id={$con.centreno}" id="editContract" target="_blank" class="btn btn-info btn-xs" ><i class="glyphicon glyphicon-search"></i>修改</a>-->
                        <a href="/admin/manager/contractDetail?id={$con.centreno}"  class="btn btn-info btn-xs" >检验受理合同</a>

                        <!--<a href="{:U('/admin/test/sampleShow')}?id={$con.centreno}" style="display:none" class="btn btn-info btn-xs" >抽样单</a>-->
                        <a href="{:U('/admin/contract/sampleEdit')}?id={$con.centreno}" style="display:none" class="btn btn-info btn-xs" >抽样单</a>
                        <if condition="$con.flow_id != -1">
                            <a href="/admin/test/infoShow?id={$con.centreno}"  class="btn btn-info btn-xs" >检验工作通知单</a>


                        </if>
                        <if condition="$if_edit==1">
                        <if condition="$con['status'] eq 8">
                            <a href="/admin/TestReport/seleteKey?mod={$con.centreno}" class="btn btn-primary btn-xs">生成报告</a></if></if>
                    </td>
                    <td>
                        <if condition="$con['doc_path']">
                        <a href="{$con.doc_path}"  class="btn btn-primary btn-xs" >报告预览</a></if>

                        <if condition="$if_edit==1">
                            <if condition="($con['ifedit'] == 1) and ($con['sub_status'] == 0)">
                                <span style="color:green">申请中</span>
                                <elseif condition="($con['ifedit'] == 1) and ($con['sub_status'] == 1)" />
                                <span style="color:green">申请通过</span>
                                <!--<a href="#" class="btn btn-info btn-xs"  onclick="doUpdateEditState('{$con.centreno}')" >修改完毕</a>-->
                                <elseif condition="($con['ifedit'] == 1) and ($con['sub_status'] == 2)" />
                                <span style="color:red">申请拒绝</span>
                            </if>
                        </if>
                        <if condition="$con['status']==7">
                            <span style="color:green">{$con.takename}已接单<br/>{$con.takelist_time}</span>
                            <elseif condition="$con['status']==5"/>
                            <span style="color:green">{$con.innername}已内部签发&nbsp;&nbsp;&nbsp;<!--<a href="#" class="btn btn-info btn-xs" onclick="externalSign('{$con.centreno}')" >外部签发完毕</a>-->
                            <br/>
                            {$con.inner_sign_time}</span>
                            <elseif condition="$con['status']==6"/>
                            <span style="color:green">已外部签发</span>
                        </if>
                        <if condition="$if_edit==1">
                        <if condition="$con['status']==8">
                            <a href="javascript:void(0);"  class="btn btn-primary btn-xs" onclick="confirmReport('{$con.centreno}')" >确认</a></if></if>
                    </td>
                </tr>
            </volist>

            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>



        <!-- main end-->

    </div>
</div>




<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
    /*$(function(){
        $('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,  autoclose:true });
        $("#tb tr").each(function(){
            var text = $(this).children("td").eq(1).text();
            //alert(text+":"+text.substr(6,1))
            if (text.substr(7,1)=='C'){
                //alert($(this).children("td:last").children("a:last").html());
                $(this).children("td").eq(5).children("a").eq(2).css("display","inline-block");
            }
        });

    });

    function externalSign(centreno){
        if(confirm('确认已外部签发？')){
            $.ajax({
                url: "{:U('/admin/contract/externalSign')}",
                dataType: 'json',
                async: false,
                data:{'centreno':centreno},
                success: function (res) {
                    alert(res.msg);
                    window.location.reload();
                }
            });
        }
    }

    function applyBack(centreno){
        $("#back_reason").val("");
        var modal = $("#editModal");
        $("#back_centreno").val(centreno);
        modal.modal();
    }

    function subFeedback(){
        var centreno = $("#back_centreno").val();
        var reason = $("#back_reason").val();
        $.ajax({
            url: "{:U('/admin/contract/doSubmitFeedback')}",
            dataType: 'json',
            data:{'centreno':centreno,'reason':reason},
            beforeSubmit: function(){
                return true;
            },
            success: function (re) {
                alert(re.msg);
                window.location.reload();
            }
        });
    }

    function doUpdateEditState(centreno){
        if(confirm('确认后合同和抽样单均不可修改，是否已修改完毕？')){
            $.ajax({
                url: "{:U('/admin/contract/doUpdateEditState')}",
                dataType: 'json',
                data:{'centreno':centreno},
                beforeSubmit: function(){
                    return true;
                },
                success: function (re) {
                    alert(re.msg);
                    window.location.reload();
                }
            });
        }
    }*/
    function confirmReport(centreno) {
        if(!centreno) return false;
        var _options = {"flag":"error","text":"您确认生成报告吗！","buttons":{"ok":{"action":function(){doConfirm(centreno);}},"cancel":{}}};
        doConfirmDialog(_options);
    }
    function doConfirm(centreno) {
        $.ajax({
            type:"post",
            url:"{:U('/admin/Contract/doneConfirm')}",
            data:{"centreno":centreno},
            dataType:"json",
            success:function(ret){
                if(ret.msg=='succ'){
                    alert("操作成功");
                }else{
                    var _options = {"text":"Error！"};

                }
            }
        });
    }
</script>

<include file="Common:footer" />