<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->
        <div class="search-form">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <label>中心编号：</label>
                    <input type="text" class="form-control input-sm" name="keyword" />
                </div>
                <button type="submit" class="btn btn-primary btn-sm" >查询</button>
            </form>
        </div>



        <table class="table table-bordered table-striped table-hover" id="tb">
            <thead>
            <th>收样日期</th>
            <th>中心编号</th>
            <th>样品名称</th>
            <th>生产单位</th>
            <th>检验依据</th>
            <th>操作</th>
            <th>状态</th>
            </thead>
            <tbody>
            <volist name="list" id="con">
                <tr>
                    <td>{$con.collectdate}</td>
                    <td>{$con.centreno}</td>
                    <td>{$con.clientname}</td>
                    <td>{$con.productunit}</td>
                    <td>{$con.testcriteria}</td>
                           
                    <td width="33%">
                    	<!--<a href="{:U('/admin/contract/editContract')}?id={$con.centreno}" id="editContract" target="_blank" class="btn btn-info btn-xs" ><i class="glyphicon glyphicon-search"></i>修改</a>-->
                        <if condition="$if_edit==1">
                       	 <a href="{:U('/admin/contract/editContract')}?id={$con.centreno}" class="btn btn-info btn-xs" >修改</a>
                        </if>
                    	<a href="/admin/manager/contractDetail?id={$con.centreno}"  class="btn btn-info btn-xs" >检验受理合同</a>
                        <a href="/admin/test/infoShow?id={$con.centreno}"  class="btn btn-info btn-xs" >检验工作通知单</a>
                        <a href="{:U('/admin/test/sampleShow')}?id={$con.centreno}" style="display:none" class="btn btn-info btn-xs" >抽样单</a>
                    	<!--<a href="{:U('/admin/contract/sampleEdit')}?id={$con.centreno}" style="display:none" class="btn btn-info btn-xs" >抽样单</a>-->
                    </td>
                    <td></td>
                </tr>
            </volist>
            
            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>



        <!-- main end-->

    </div>
</div>
</div>

<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
	$(function(){
		$("#tb tr").each(function(){
            var text = $(this).children("td").eq(1).text();
			//alert(text+":"+text.substr(6,1))
			if (text.substr(7,1)=='C'){
				//alert($(this).children("td:last").children("a:last").html());
				$(this).children("td").eq(5).children("a:last").css("display","inline-block");
			}
        });
		
	});
</script>

<include file="Common:footer" />