<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->




        <table class="table table-bordered table-striped table-hover">
            <thead>
            <th>中心编号</th>
            <th>生产单位</th>
            <th>委托人</th>
            <th>联系电话</th>
            <th>详情</th>
            </thead>
            <tbody>
            <volist name="list" id="con">
                <tr>
                    <td>{$con.centreno}</td>
                    <td>{$con.clientname}</td>
                    <td>{$con.clientsign}</td>
                    <td>{$con.telephone}</td>
                    <td width="20%">
                    	<button class="btn btn-info btn-xs" type="button" onclick="findContract('{$con.centreno}')" >合同详情</button>
                    </td>
                </tr>
            </volist>
            
            </tbody>
        </table>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>



        <!-- main end-->

    </div>
</div>
</div>

<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
	function findContract(centreno){
		window.location.href='/admin/contract/doContractDetail?centreno='+centreno;
/*		$.ajax({
			type:"post",
			url:"{:U('/admin/contract/doContractDetail')}",	
			dataType:"json",
			data:{"centreno":centreno},
			success:function(re){
				
			}
		});*/
	}
</script>

<include file="Common:footer" />