<include file="Common:header" title="后台首页"/>
<div id="page-wrapper">
    <include file="Common:breadcrumb" />
    <div id="page-inner" class="container">
        <!-- 主要模板 starting -->
        <div class="search-form">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <label>中心编号：</label>
                    <input type="text" class="form-control input-sm" name="keyword" />
                    <input type="hidden" name="p" value="1" />
                    合同录入日期：
                    <input type="text" readonly class="form-control f-datetime input-sm" name="begin_time" value="{$begin_time}" placeholder="开始日期" /> 
                    —&nbsp;<input type="text" readonly class="form-control f-datetime input-sm" name="end_time" value="{$end_time}" placeholder="结束日期"/> 
                </div>
                <button type="submit" class="btn btn-primary btn-sm" >查询</button>
            </form>
        </div>



        <table class="table table-bordered table-striped table-hover" id="tb">
            <thead>
            <th>收样日期</th>
            <th>中心编号</th>
            <th>样品名称</th>
            <th>生产单位</th>
            <th>检验依据</th>
            <th>操作</th>
            <th>状态</th>
            </thead>
            <tbody>
            <volist name="list" id="con">
                <tr>
                    <td>{$con.collectdate}</td>
                    <td>
                    <if condition="$con['centreno1'] or $con['centreno2'] or $con['centreno3']" >
                    	<span style="color: red"><i class="glyphicon glyphicon-star">{$con.centreno}</i></span>
                    <else />
                    	{$con.centreno}
                    </if>
                    </td>
                    <td>{$con.samplename}</td>
                    <td>{$con.productunit}</td>
                    <td>{$con.testcriteria}</td>
                           
                    <td width="33%">
                    	<!--<a href="{:U('/admin/contract/editContract')}?id={$con.centreno}" id="editContract" target="_blank" class="btn btn-info btn-xs" ><i class="glyphicon glyphicon-search"></i>修改</a>-->
                        <if condition="$if_edit==1">
                        	<a href="{:U('/admin/contract/editContract')}?id={$con.centreno}&type_status={$con.status}" class="btn btn-info btn-xs" >修改</a>
                        	<if condition="($con['ifedit'] == 0) OR (($con['ifedit'] == 1) and ($con['sub_status'] == 1) and ($con['if_report']==0)) OR $con['status']==3">
                       	 		<!--<a href="{:U('/admin/contract/editContract')}?id={$con.centreno}&type_status={$con.status}" class="btn btn-info btn-xs" >修改</a>-->
                                
                            <elseif condition="($con['ifedit'] == 1) and (!($con['sub_status'] == 1 or $con['sub_status'] == 0) or (($con['sub_status'] == 1 or $con['sub_status'] == 0) and $con['if_report'] == 1)) and $con['status']!=6"/>
                            	<a href="#" class="btn btn-info btn-xs" onclick="return applyBack('{$con.centreno}',{$con.status})" >申请修改</a>
                            </if>
                        </if>
                        <if condition="$con['status']==6" >
                            <a href="/admin/contract/addorEditReport?id={$con.centreno}" class="btn btn-info btn-xs" >更改检验报告单</a>
                        </if>
                        <if condition="($con['centreno1'] or $con['centreno2'] or $con['centreno3']) and ($con['sub_status'] == 1 or $con['sub_status'] == 3)" >
                            <a href="{:U('/admin/contract/reWriteTest')}?id={$con.centreno}" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-list"></i>更改单</a>
                        </if>
                    	<a href="/admin/manager/contractDetail?id={$con.centreno}"  class="btn btn-info btn-xs" >检验受理合同</a>
       
                        <!--<a href="{:U('/admin/test/sampleShow')}?id={$con.centreno}" style="display:none" class="btn btn-info btn-xs" >抽样单</a>-->
                    	<if condition="mb_substr($con['centreno'],7,1) == 'C'">
                        	<a href="{:U('/admin/contract/sampleEdit')}?id={$con.centreno}"  class="btn btn-info btn-xs" >抽样单</a>
                        </if>
                        <if condition="$con.flow_id != -1">
                       		<a href="/admin/test/infoShow?id={$con.centreno}"  class="btn btn-info btn-xs" >检验工作通知单</a>
                        </if>
                        
                        <if condition="$con.flow_id == -1">
                        	<a href="#"  class="btn btn-primary btn-xs" onclick="return doFinish('{$con.centreno}')">录入完毕</a>
                        </if>

                        <if condition="$if_edit==1">
                       		<if condition="(($con['ifedit'] == 1) and ($con['sub_status'] == 1) and ($con['if_report']==0)) OR $con.status == 3" >
                                <a href="#" class="btn btn-primary btn-xs"  onclick="doUpdateEditState('{$con.centreno}','{$con.status}')" >修改完毕</a>
                            </if>
                        </if>
                    </td>
                    <td>
                   		 <if condition="$if_edit==1">
                        	<if condition="($con['ifedit'] == 1) and ($con['sub_status'] == 0) and ($con['if_report']==0)">
                            	<span style="color:green">申请修改中</span>
                            <elseif condition="($con['ifedit'] == 1) and ($con['sub_status'] == 1) and ($con['if_report']==0)" />
                            	<span style="color:green">申请修改通过</span>
                                <!--<a href="#" class="btn btn-info btn-xs"  onclick="doUpdateEditState('{$con.centreno}','{$con.status}')" >修改完毕</a>-->	
                            <elseif condition="($con['ifedit'] == 1) and ($con['sub_status'] == 2) and ($con['if_report']==0)" />
                            	<span style="color:red">申请修改拒绝</span>
                            </if>
                        </if>
                    	<if condition="$con['status']==7">
                        	<span style="color:green">{$con.takename}已接单<br/>{$con.takelist_time}</span>
                        <elseif condition="$con['status']==5"/>
                        	<span style="color:green">{$con.innername}已内部签发&nbsp;&nbsp;&nbsp;
                            <!--<a href="#" class="btn btn-info btn-xs" onclick="externalSign('{$con.centreno}')" >外部签发完毕</a>-->
                            <br/>
                            {$con.inner_sign_time}</span>
                        <elseif condition="$con['status']==6"/>
                        	<span style="color:green">已外部签发</span>   
                        </if>
                    </td>
                </tr>
            </volist>
            
            </tbody>
        </table>
        <div class=" pull-left"><i class="glyphicon glyphicon-star" style="color: red">代表合同有变更</i></div>
        <div class=" pull-right"><nav aria-label="Page navigation" id="pagination">{$pagination}</nav></div>



        <!-- main end-->

	</div>
</div>


		<div>
            <!-- 模态框（Modal) -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <form class="form-horizontal" id="aform" action="" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="createModalLabel">申请修改</h4>
                        </div>
                        <div class="form-group form-group-sm">
                                <label class="col-sm-3 control-label talign-right fz13">中心编号</label>
                                <div class="col-sm-7">
                                    <input type="text" readonly="readonly" id="back_centreno" name="back_centreno" class="form-control"/>
                                    <input type="hidden" id="type_status" name="type_status" value="" />
                                </div>
                                <div class="clearfix"></div>
                        </div>
                        <div class="form-group form-group-sm">
                                <label class="col-sm-3 control-label talign-right fz13">理由</label>
                                <div class="col-sm-7">
                                    <textarea id="back_reason" name="back_reason" class="form-control" rows="5" ></textarea>
                                </div>
                                <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
                            <button type="submit" class="btn btn-primary" onclick="subFeedback()">确定</button>
                        </div>
                    </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
    	</div>	


<script src="__PUBLIC__/static/js/jquery.form.js"></script>
<script type="text/javascript">
	$(function(){
		$('.f-datetime').datetimepicker({language:  'zh-CN',format:'yyyy-mm-dd',startView: 2,minView:2,  autoclose:true });
		/*$("#tb tr").each(function(){
            var text = $(this).children("td").eq(1).text();
			//alert(text+":"+text.substr(6,1))
			if (text.substr(7,1)=='C'){
				//alert($(this).children("td:last").children("a:last").html());
				//$(this).children("td").eq(5).children("a").eq(2).css("display","inline-block");
				
				$(this).children("td").eq(5).find("[id=but_sample]").css("display","inline-block");
			}
        });*/
		
	});
	
	/*function externalSign(centreno){
		if(confirm('确认已外部签发？')){
			$.ajax({
				url: "{:U('/admin/contract/externalSign')}",
				dataType: 'json',			
				async: false,
				data:{'centreno':centreno},
				success: function (res) {
					alert(res.msg);
					window.location.reload();
				}
			});	
		}
	}*/
	
	function applyBack(centreno,status){
		
		var flag = true;
		if(status==6){
			alert("提示：先填写更改检验报告单,再申请修改");
			$.ajax({
				url: "{:U('/admin/contract/checkEditList')}",
				dataType: 'json',			
				async: false,
				data:{'centreno':centreno},
				success: function (res) {
					if(res.count==0){
						alert('请填更改检验报告单');
						flag=false;	
					}
				}
			});		
		}
		if(!flag) return flag;
		$("#back_reason").val("");
		var modal = $("#editModal");
		$("#back_centreno").val(centreno);
		$("#type_status").val(status);
		modal.modal();
	}
	
	function subFeedback(){
		var centreno = $("#back_centreno").val();
		var reason = $("#back_reason").val();
		var type_status = $("#type_status").val();
		$.ajax({
			url: "{:U('/admin/contract/doSubmitFeedback')}",
			dataType: 'json',
			data:{'centreno':centreno,'reason':reason,'type_status':type_status},
			beforeSubmit: function(){
				return true;
			},
			success: function (re) {
				alert(re.msg);
				window.location.reload();
			}
		});
	}
	
	function doUpdateEditState(centreno,type_status){
		if(confirm('确认后合同和抽样单均不可修改，是否已修改完毕？')){
			$.ajax({
				url: "{:U('/admin/contract/doUpdateEditState')}",
				dataType: 'json',
				data:{'centreno':centreno,'type_status':type_status},
				beforeSubmit: function(){
					return true;
				},
				success: function (re) {
					alert(re.msg);
					window.location.reload();
				}
			});	
		}
	}
	
	function checkFinish(centreno){
		var flag=true;
		$.ajax({
				url: "{:U('/admin/contract/checkFinish')}",
				dataType: 'json',			
				async: false,
				data:{'centreno':centreno},
				success: function (res) {
					if(res.if_finish==0){
						if(res.if_sample_save==0){
							alert("抽样单信息不全！");
							flag=false;	
						}else if(res.picture_count==0){
							alert("请上传现场图片！");
							flag=false;	
						}						
					}
				}
		});	
		return flag;
	}
	//录入完毕确认
	function doFinish(centreno){
		if(!checkFinish(centreno)){
			return false;	
		}else{
			if(confirm('确定后不可更改，确认是否录入完毕？')){
				$.ajax({
					url: "{:U('/admin/contract/doUpdateState')}",
					dataType: 'json',			
					async: false,
					data:{'centreno':centreno},
					success: function (res) {
						alert(res.msg);
						window.location.reload();
					}
				});		
			}
		}
	}
</script>

<include file="Common:footer" />