<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>


    <title>管理后台</title>

    <!-- 整合boostrap-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/bootstrap-3.3.5.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/style-append.css"/>

    <!-- end -->
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/core.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        var newMessageRemind = {
            _step: 0,
            _title: document.title,
            _timer: null,
            //显示新消息提示
            show: function (num) {
                var temps = newMessageRemind._title.replace("【　　　】", "").replace("【新消息】", "");
                newMessageRemind._timer = setTimeout(function () {
                    newMessageRemind.show(num);
                    //这里写Cookie操作
                    newMessageRemind._step++;
                    if (newMessageRemind._step == 3) {
                        newMessageRemind._step = 1
                    }

                    if (newMessageRemind._step == 1) {
                        document.title = "【　    　　】" + temps
                    }

                    if (newMessageRemind._step == 2) {
                        document.title = "【"+num+"条消息】" + temps
                    }

                }, 800);
                return [newMessageRemind._timer, newMessageRemind._title];
            },
            //取消新消息提示
            clear: function () {
                clearTimeout(newMessageRemind._timer);
                document.title = "管理后台";
                //这里写Cookie操作
            }

        };

        function checknotify() {
            $.ajax({
                type: "post",
                url: "{:U('/admin/test/checkNotify')}",
                dataType: "json",
                success: function (ret) {
                    if (ret.num_bgwbqf > 0 || ret.number_jcjl > 0 || ret.num_bgsh > 0 || ret.num_zwqf > 0 || ret.num_xggl>0){
                        if(ret.num_bgwbqf > 0)
                            num=ret.num_bgwbqf;
                        if (ret.number_jcjl > 0)
                            num=ret.number_jcjl;
                        if(ret.num_bgsh > 0)
                            num=ret.num_bgsh;
                        if(ret.num_zwqf > 0)
                            num=ret.num_zwqf;
                        if(ret.num_xggl>0)
                            num=ret.num_xggl;

                        newMessageRemind.show(num);
                    }else {
                        newMessageRemind.clear();

                    }
                }
            })
        }

        var interval = setInterval(checknotify, 8000);

    </script>



    <!--end -->
</head>
<body class="gray-body">
<div class="pnav">
    <ul class="hnav">
        <li class="current"><a href="javascript:void(0);" class="logo"><img class="img_left_logo"
                                                                            src="__PUBLIC__/static/images/logoA.png"/></a>
        </li>
        <!--<li class="nav-sm"><a href="javascript:void(0);">首页</a></li>
        <li class="nav-sm"><a href="javascript:void(0);">小程序</a></li>
        <li class="nav-sm"><a href="javascript:void(0);" class="red">直播</a></li>
        -->
    </ul>
    <div class="settings">
        <i class="glyphicon glyphicon-user">
            <php>$admin=session('admin_auth');echo $admin['username'];</php>
        </i>&nbsp;&nbsp;<span class="ge">&nbsp;</span>&nbsp;&nbsp;<a href="{:U('/admin/account/logout')}"><i
            class="glyphicon glyphicon-off"></i> 退出</a>
    </div>
</div>
<include file="Common:leftmenu"/>
<div id="wrapper" style="overflow: hidden;">
    <iframe name="main-frame" src="/admin/main/index.html" width="100%" height="100%" frameborder="0"></iframe>
</div>
</include>
<include file="Common:footer"/>