<include file="Common:header"/>

    <section class="aui-grid aui-margin-b-15">
        <div class="aui-row">
            <div class="aui-col-xs-4" >
                
                <i class="aui-iconfont aui-icon-paper" ></i>
                <div class="aui-grid-label">特殊编号申请</div>
            </div>
            <div class="aui-col-xs-4" onclick="javascript:window.open('/contract/over.html','_self')">
                <i class="aui-iconfont aui-icon-cert" ></i>
                <div class="aui-grid-label">已出报告</div>
            </div>
            <div class="aui-col-xs-4" onclick="javascript:window.open('/contract/need.html','_self')">
                <i class=" aui-iconfont aui-icon-pencil" ></i>
                <div class="aui-grid-label">需修改报告</div>
            </div>
            <div class="aui-col-xs-4" onclick="javascript:window.open('/contract/wait.html','_self')">
                <i class=" aui-iconfont aui-icon-date" ></i>
                <div class="aui-grid-label">待审核报告</div> 
            </div>
            <div class="aui-col-xs-4" onclick="javascript:window.open('/contract/finance.html','_self')">
                <i class="aui-iconfont aui-icon-cart" ></i>
                <div class="aui-grid-label">财务汇总</div>
            </div>
        <div class="aui-col-xs-4" onclick="javascript:window.open('/user/updatePassword.html','_self')">
            <i class="aui-iconfont aui-icon-gear" ></i>
            <div class="aui-grid-label">修改密码</div>
        </div>
    </div>

</section>

<include file="Common:footer" />
