<include file="Common:header" title=""/>
<section class="aui-grid aui-margin-b-15">
    <div class="aui-row">
        <div class="aui-col-xs-4">
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-grid-label">首页</div>
        </div>
        
        <div class="aui-col-xs-4">
            <i class="aui-iconfont aui-icon-menu"></i>
            <div class="aui-grid-label">合同列表</div>
        </div>
        <div class="aui-col-xs-4">
            <i class="aui-iconfont aui-icon-gear"></i>
            <div class="aui-grid-label">修改密码</div>
        </div>
        <!--
        <div class="aui-col-xs-4">
            <i class="aui-iconfont aui-icon-calendar"></i>
            <div class="aui-grid-label">日历</div>
        </div>
        <div class="aui-col-xs-4">
            <div class="aui-badge"></div>
            <i class="aui-iconfont aui-icon-date"></i>
            <div class="aui-grid-label">日期</div>
        </div>
        -->
    </div>

</section>

<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-arrow">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">中心编号:2039A-L1</div>
                        <div class="aui-list-item-right">2017-10-12</div>
                    </div>
                    <div class="aui-list-item-text aui-ellipsis-2">
                        委托单位：北京顺DK公司
                        <br />
                        生产单位：北京顺义
                        <br />
                        品项：水泥
                    </div>
                </div>
            </div>
        </li>
       
      
    </ul>
</div>



<div class="aui-padded-10">
    <a class="aui-btn aui-btn-danger aui-btn-block aui-btn-outlined aui-btn-sm" href="{:U('wap/account/logout')}">退出登录</a>
</div>
<include file="Common:footer" />