<include file="Common:header"/>

<section class="aui-grid aui-margin-b-15 aui-padded-l-15" style="padding-left: 0 !important;">
    <div class="aui-padded-l-15" style="padding-left: 0 !important;">
        <div class="aui-row">
            <div class="aui-col-xs-6" onclick="javascript:window.open('/contract/specialCodeList.html','_self')" >

                <i class="aui-iconfont aui-icon-paper" ></i>
                <div class="aui-grid-label">特殊编号申请</div>
            </div>
            <div class="aui-col-xs-6" onclick="javascript:window.open('/contract/hetong.html','_self')">
                <i class="aui-iconfont aui-icon-cert" ></i>
                <div class="aui-grid-label">合同收入</div>
            </div>

            <div class="aui-col-xs-6" onclick="javascript:window.open('/contract/shiji.html','_self')">
                <i class=" aui-iconfont aui-icon-date" ></i>
                <div class="aui-grid-label">报告应收收入</div>
            </div>

            <div class="aui-col-xs-6" onclick="javascript:window.open('/user/updatePassword.html','_self')">
                <i class="aui-iconfont aui-icon-gear" ></i>
                <div class="aui-grid-label">修改密码</div>
            </div>
        </div>
    </div>
</section>

<include file="Common:footer" />